<a class="file-link link-wrapper{% if instance.attributres.class %} {{ instance.attributes.class }}{% endif %}" href="{{ instance.file_src.url }}"
    {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
    {% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}

    {% for key, value in instance.attributes.items %}
        {% if key != 'class' %}
            {{ key }}="{{ value }}"
        {% endif %}
    {% endfor %}
    >
    {% include 'includes/icon.html' with icon='file' %}
    <span class="link-inner">
    {% if instance.file_name %}
        {{ instance.file_name }}
    {% else %}
        {{ instance.file_src.label }}
    {% endif %}
    {% if instance.show_file_size %}
        <span>{{ instance.file_src.size|filesizeformat }}</span>
    {% endif %}
    </span>
</a>

{% comment %}
    # https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
    {{ instance.file_src }}
    {{ instance.file_src.extension }}
    # Available variables:
    {{ instance.template }}
    {{ instance.file_name }}
    {{ instance.link_target }}
    {{ instance.link_title }}
    {{ instance.show_file_size }}
    {{ instance.attributes_str }}
{% endcomment %}
