<ul class="tabSet">
	<li class="close">Close Panel</li>
</ul>
<h1>Cache Usage</h1>
<div class="container">
	<table border="0" cellspacing="0" cellpadding="0"> 
		<colgroup>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
			<col width="12%"/>
		</colgroup>
		<tr>
			<th class="description">Total Calls</th>
			<td>{{ cache_calls }}</td>
			<th class="description">Total Time</th>
			<td>{{ cache_time|floatformat:"4" }}ms</td>
			<th class="description">Hits</th>
			<td>{{ cache_hits }}</td>
			<th class="description">Misses</th>
			<td>{{ cache_misses }}</td>
		</tr>
		<tr>
			<th class="description">gets</th>
			<td>{{ cache_gets }}</td>
			<th class="description">sets</th>
			<td>{{ cache_sets }}</td>
			<th class="description">deletes</th>
			<td>{{ cache_deletes }}</td>
			<th class="description">get_many</th>
			<td>{{ cache_get_many }}</td>
		</tr>
	</table>
</div>
{% if cache_calls_list %}
	<h1>Breakdown</h1>
	<table class="data sortable" border="0" cellspacing="0" cellpadding="0"> 
		<thead>
			<tr>
				<th>Time&nbsp;(ms)</th>
				<th>Function</th>
				<th colspan="2">Parameters</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for time, func, args, kwargs, stack in cache_calls_list %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td>{{ time|floatformat:"4" }}</td>
				<td>{{ func|escape }}</td>
				<td>{% if args %}{{ args|escape }}{% endif %}</td>
				<td>{% if kwargs %}{{ kwargs|escape }}{% endif %}</td>
				<td><a href="javascript:djDebugWindow('Cache', {op: 'explain'}, {stack: {{ stack }}});" class="infoIcon">Details</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}