<ul class="tabSet">
	<li class="close">Close Panel</li>
</ul>
<h1>Profile Output</h1>
<div class="container">
	`profile` module output for the view `{{ module|escape }}.{{ callback|escape }}`
</div>
<table class="data sortable" border="0" cellspacing="0" cellpadding="0"> 
	<colgroup>
		<col />
		<col style="width: 100px" />
		<col style="width: 75px" />
		<col style="width: 140px" />
		<col style="width: 80px" />
		<col />
	</colgroup>
<thead>
	<tr>
		<th>Calls</th>
		<th>Total Time (ms)</th>
		<th>Per Call (ms)</th>
		<th>Cumulative Time (ms)</th>
		<th>Per Call (ms)</th>
		<th>Function</th>
	</tr>
	</thead>
	<tbody>
	{% for row in function_calls %}
		<tr class="{% cycle 'even' 'odd' %}">
		<td>{{ row.0 }}</td>
		<td>{{ row.1|floatformat:"4" }}</td>
		<td>{{ row.2|floatformat:"4" }}</td>
		<td>{{ row.3|floatformat:"4" }}</td>
		<td>{{ row.4|floatformat:"4" }}</td>
		<td>{{ row.5|escape }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>