// #############################################################################
// AUTOIMPORTS

// this folder contains required variables for colors, sizes, styles and more
// add additional files for encapsulated settings

@import "bootstrap";
@import "fontawesome";
@import "custom";
