// #############################################################################
//BACKGROUND OVERRIDES & CUSTOM STYLES

.pageHero {
  position: relative;
}

.stripeTop {

}

.stripe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-10deg);
    transform-origin: 0;
    position: absolute;
    z-index:-1;
}

.stripeGradient {
  background: radial-gradient(circle, #DEE5EF 0%, #F9FBFD 100%);
}
