// #############################################################################
// CUSTOM SETTINGS
// this setting file is intended for additional variables not defined within the bootstrap default
// feel free to create additional files if settings get cluttered
// It also includes overrides for bootstrap variables
// stylelint-disable color-hex-case, color-hex-length

$speed-base: 200ms;

$header-height: 80px;

$card-box-shadow: 0 2px 4px rgba(black, 0.25);

// Z-INDEX
// DOCS: http://www.sitepoint.com/better-solution-managing-z-index-sass/
// http://sassmeister.com/gist/341c052928c956c1a751
// use case: header { z-index: z("modal", "header"); }

$z-layers: (
    "header": (
        "menu": 9999,
        "logo": 10000,
        "toggler": 10000,
    ),
    "default":            1,
    "below":             -1,
    "bottomless-pit": -9000
);
