// #############################################################################
// CUSTOM SETTINGS
// this setting file is intended for additional variables not defined within the bootstrap default
// feel free to create additional files if settings get cluttered

$speed-base: 200ms;

// Z-INDEX
// DOCS: http://www.sitepoint.com/better-solution-managing-z-index-sass/
// http://sassmeister.com/gist/341c052928c956c1a751
// use case: header { z-index: z("modal", "header"); }

/*
$z-layers: (
    "goku":            9001,
    "shoryuken":       8000,
    "modal": (
        "base":         500,
        "close":        100,
        "header":        50,
        "footer":        10
    ),
    "default":            1,
    "below":             -1,
    "bottomless-pit": -9000
);
*/
