// #############################################################################

//LAYOUT OVERRIDES & CUSTOM STYLES

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 7)
);


$maxwidth: 100, 150, 200, 250, 300, 350, 400, 450, 800, 1250;

@each $i in $maxwidth {
  .mw#{$i}{
    max-width: #{$i}px;
    display: block;
    margin:0 auto;
  }
}
