// #############################################################################
// CUSTOM SETTINGS
// this setting file is intended for additional variables not defined within the bootstrap default
// feel free to create additional files if settings get cluttered

$speed-base: 200ms;

// Z-INDEX
// DOCS: http://www.sitepoint.com/better-solution-managing-z-index-sass/
// http://sassmeister.com/gist/341c052928c956c1a751
// use case: header { z-index: z("modal", "header"); }

/*
$z-layers: (
    "goku":            9001,
    "shoryuken":       8000,
    "modal": (
        "base":         500,
        "close":        100,
        "header":        50,
        "footer":        10
    ),
    "default":            1,
    "below":             -1,
    "bottomless-pit": -9000
);
*/


//TYPOGRAPHY OVERRIDES & CUSTOM STYLES
$font-family-sans-serif: "Museo Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
$font-family-monospace:  "Museo Sans", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 900;

$font-weight-base: $font-weight-normal;

$h1-font-size: 1.7rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1.125rem;


$headings-font-family:   inherit;
$headings-font-weight:   900;
body h4 {font-weight:700;}
body h6 {text-transform: uppercase;letter-spacing:1px; font-weight:700;}

$display1-size: 2.5rem;
$display2-size: 2.2rem;
$display3-size: 2rem;
$display4-size: 1.8rem;

$display1-weight:     900;
$display2-weight:     900;
$display3-weight:     900;
$display4-weight:     900;

$lead-font-size:   1.125rem;
$lead-font-weight: 700;
$link-color:       $azure;
