{% extends "aldryn_newsblog/two_column.html" %}
{% load i18n cms_tags %}

{% block newsblog_content %}
    <div class="row blog-article-list mt--7">
        {% block newsblog_header %}
            {% if not newsblog_author %}
                {% static_placeholder "Newsblog featured article" %}
            {% endif %}
        {% endblock %}
        {% for article in article_list %}
            {% include "aldryn_newsblog/includes/article.html" %}
        {% empty %}
        {% endfor %}
    </div>
{% endblock %}

{% block newsblog_footer %}
    <div class="aldryn-newsblog-pagination">
        {% include "aldryn_newsblog/includes/pagination.html" %}
    </div>
{% endblock %}
