//##################################################################################################################
// #BUTTONS#
#cms-toolbar {
    .cms-btn {
        color: $gray;
        border: 1px solid $gray-lighter;
        border-radius: $btn-border-radius-base;
        background: $gray-lighter;
        background: linear-gradient($gradient-light);
        box-shadow: inset 0 1px 0 rgba($white, 0.5);
        &:hover,
        &:active,
        &:focus {
            border: 1px solid $gray-lighter;
            background: $gray-lighter;
            box-shadow: none;
        }
        &:active,
        &:focus {
            border: 1px solid darken($gray-lighter, 10%);
            background: darken($gray-lighter, 10%);
        }
    }

    .cms-btn-disabled {
        border-top: 1px solid darken($gray-lighter, 10%);
        border-right: 1px solid darken($gray-lighter, 10%);
        background: $gray-lighter;
        &:hover,
        &:active,
        &:focus {
            background: $gray-lighter;
        }
    }

    .cms-btn-active {
        color: $white;
        border: 1px solid $gray-darkest !important;
        border-bottom: none !important;
        background: $gray;
        background: linear-gradient($gradient-dark);
        &:hover,
        &:active,
        &:focus {
            background: $gray-darker;
        }
        &:active,
        &:focus {
            background: $black;
        }
    }

    .cms-btn-action {
        color: $white;
        border: 1px solid adjust-hue($color-blue, 15deg);
        background: $color-blue;
        background: linear-gradient($gradient-blue);
        &:hover,
        &:active,
        &:focus {
            background: adjust-hue($color-blue, 15deg);
            border: 1px solid adjust-hue($color-blue, 15deg);
        }
        &:active,
        &:focus {
            background: darken(adjust-hue($color-blue, 15deg), 10%);
        }
    }
    .cms-btn-caution {
        color: $white;
        border: 1px solid adjust-hue($color-red, 15deg);
        background: $color-red;
        background: linear-gradient($gradient-red);
        &:hover,
        &:active,
        &:focus {
            border: 1px solid adjust-hue($color-red, 15deg);
            background: adjust-hue($color-red, 15deg);
        }
        &:active,
        &:focus {
            background: darken(adjust-hue($color-red, 15deg), 10%);
        }
    }
    .cms-btn-publish {
        display: none;
    }
    .cms-btn-publish-active {
        display: block;
    }
}
