@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

#cms-toolbar {
    //##################################################################################################################
    // #CLIPBOARD#
    .cms-clipboard {
        display: none;
        position: fixed;
        top: 130px;
        left: 0;
        z-index: 99999;
        padding: 3px 3px 3px 0;
        border-radius: 0 3px 3px 0;
        background: rgba(white, 0.6);

        p {
            margin: 0;
            padding: 0;
        }

        .cms-clipboard-numbers {
            margin: 0 0 2px;
        }
        .cms-clipboard-numbers a {
            @include hide-content();
            @include print-and-retina() {
                background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
                background-size: 190px !important;
            }
            display: block;
            overflow: hidden;
            box-sizing: border-box;
            width: 20px;
            height: 30px;
            border: 5px solid $color-grey-70;
            border-right: none;
            border-left: none;
            border-radius: 0 3px 3px 0;
            background: $color-grey-70 url("../img/toolbar/sprite_toolbar.png") no-repeat left -130px;
            &:hover,
            &:active,
            &:focus {
                border-color: $color-grey-90;
                background-color: $color-grey-90;
                background-position: -20px -130px;
            }
        }
        .cms-clipboard-numbers .cms-clipboard-numbers {
            display: none !important;
        }

        .cms-clipboard-empty a {
            @include hide-content();
            @include print-and-retina() {
                background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
                background-size: 190px !important;
            }
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            background: $color-grey-70 url("../img/toolbar/sprite_toolbar.png") no-repeat left -110px;
            &:hover,
            &:active,
            &:focus {
                background-color: $color-grey-90;
                background-position: -20px -110px;
            }
        }

        // placeholders
        .cms-clipboard-triggers {
            position: relative;
            z-index: 999;
        }
        .cms-clipboard-triggers .cms-clipboard-numbers:nth-child(n+6) {
            display: none;
        }

        .cms-clipboard-containers {
            position: absolute;
            top: 0;
            left: -1px;
            z-index: 99;
            width: 0;
        }
        .cms-clipboard-containers .cms-draggable {
            width: 190px;
            margin-left: -220px;
        }

        // custom style for draggable item
        .cms-dragarea {
            padding-top: 3px;
        }
        .cms-draggable {
            position: relative;
            top: 0;
            left: 0;
            z-index: 99;
            margin: 0 0 2px;
            padding: 4px 5px 3px 5px;
            border: 1px solid $color-grey-70;
            border-radius: 3px;
            cursor: move;
            background: $color-grey-5;
        }
        .cms-draggable .cms-dragitem {
            padding-left: 20px;
        }
        .cms-draggable .cms-dragitem .cms-submenu {
            display: none !important;
        }
        .cms-draggable .cms-dragitem-text {
            display: inline-block;
            overflow: hidden;
            width: 140px;
            height: 15px;
        }

        .cms-plugins {
            display: none;
        }
    }

    // end of toolbar
}
