// #############################################################################
// GENERAL

// general styling
.cms {
    position: absolute;
    top: $toolbar-debug-height;
    left: 0;
    z-index: z(base);
    width: 100%;
}

// other styles that might be used by components accross the components
.cms-prevent-scrolling {
    overflow: hidden !important;
    body {
        overflow: hidden !important;
    }
}

.locked {
	font-size: 16px !important;
	font-weight: bold !important;
	background-color: red !important;
	height: 46px !important;
	padding: 13px !important;
	-moz-box-shadow: inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow: inset 0 0 5px #000000;
}
