#cms-toolbar {
    .cms-hover-tooltip {
        position: relative;
        cursor: pointer;
    }

    /* Base styles for the entire tooltip */
    .cms-hover-tooltip:before,
    .cms-hover-tooltip:after {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out,
                    visibility 0.2s ease-in-out,
                    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        transform: translate3d(0, 0, 0);
        pointer-events: none;
    }

    /* Show the entire tooltip on hover and focus */
    .cms-hover-tooltip:focus {
        outline: none;
    }

    .cms-hover-tooltip:hover:before,
    .cms-hover-tooltip:hover:after,
    .cms-hover-tooltip:focus:before,
    .cms-hover-tooltip:focus:after {
        visibility: visible;
        opacity: 1;
    }

    /* Base styles for the tooltip's directional arrow */
    .cms-hover-tooltip:before {
        z-index: 2;
        border: $cms-hover-tooltip-arrow-height solid transparent;
        background: transparent;
        content: "";
    }

    /* Base styles for the tooltip's content area */
    .cms-hover-tooltip:after {
        z-index: 1;
        padding: $cms-hover-tooltip-padding;
        width: $cms-hover-tooltip-width;
        font-weight: normal;
        text-align: center;
        background-color: $cms-hover-tooltip-bgcolor;
        color: $white !important;
        content: attr(data-tooltip);
        font-size: $font-size-normal - 2px;
        line-height: 1.2;
    }

    .cms-hover-tooltip:before,
    .cms-hover-tooltip:after {
        bottom: 100%;
        left: 50%;
    }

    .cms-hover-tooltip:before {
        margin-left: -$cms-hover-tooltip-arrow-height;
        margin-bottom: -$cms-hover-tooltip-arrow-height * 2;
        border-top-color: $cms-hover-tooltip-bgcolor;
    }

    .cms-hover-tooltip:after {
        margin-left: -$cms-hover-tooltip-width / 2;
    }

    .cms-hover-tooltip:hover:before,
    .cms-hover-tooltip:hover:after,
    .cms-hover-tooltip:focus:before,
    .cms-hover-tooltip:focus:after {
        transform: translateY(-$cms-hover-tooltip-arrow-height * 2);
    }

}
