//##################################################################################################################
// #LOADER#
#cms-toolbar {
    .cms-loader {
        background: #efefef url("../img/loader.gif?1") no-repeat center center !important;
        @include print-and-retina() {
            background-image: url("../img/loader@2x.gif?1") !important;
            background-size: 32px !important;
        }
    }
}
