//######################################################################################################################
// #RETINA#
@include print-and-retina() {
    // #RETINA TOOLBAR#
    .cms_toolbar-item-navigation-children > a span,
    .cms_messages .cms_messages-close,
    .cms_toolbar-item-logo a,
    .cms_placeholders-menu,
    .cms_toolbar-debug .cms_debug-bar {
        background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
        background-size: 190px !important;
    }

    // #RETINA PLACEHOLDER#
    .cms_submenu,
    .cms_submenu-quicksearch,
    .cms_placeholder-title:before,
    .cms_placeholder .cms-dragitem-collapsable,
    .cms_placeholder .cms-dragitem-collapsed {
        background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
        background-size: 190px !important;
    }

    // end of retina
}
