//######################################################################################################################
// #RETINA#
@include print-and-retina() {
    // #RETINA TOOLBAR#
    .cms_placeholders-menu {
        background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
        background-size: 190px !important;
    }

    // #RETINA PLACEHOLDER#
    .cms_submenu,
    .cms_submenu-quicksearch,
    .cms_placeholder-title:before {
        background-image: url("../img/toolbar/sprite_toolbar@2x.png") !important;
        background-size: 190px !important;
    }

    // end of retina
}
