@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

#cms_toolbar {
    //##################################################################################################################
    // #SIDEFRAME#
    .cms_sideframe {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        overflow: visible !important;
        z-index: 99999;
        width: 0;
        height: 100%;

        .cms_sideframe-frame {
            position: relative;
            overflow: hidden;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: white;
        }
        iframe {
            overflow: auto;
            width: 100%;
            height: 100%;
            border: none;
            background: white;
        }

        .cms_sideframe-resize {
            position: absolute;
            top: 0;
            right: -2px;
            z-index: 30;
            width: 2px;
            height: 100%;
            cursor: col-resize;
            background: $color-grey-70;
        }
        .cms_sideframe-shim {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: transparent;
        }
        .cms_sideframe-knob {
            position: absolute;
            top: 50%;
            right: -2px;
            width: 6px;
            height: 50px;
            margin-top: -15px;
            border-radius: 3px;
            background: $color-grey-70;
        }

        .cms_sideframe-btn {
            position: absolute;
            top: 50px;
            right: -20px;
            z-index: 40;
        }
        .cms_sideframe-btn {
            div {
                width: 20px;
                height: 20px;
                margin-bottom: 2px;
                border-radius: 0 3px 3px 0;
                cursor: pointer;
                background: $color-grey-70 url("../img/toolbar/sprite_toolbar.png") no-repeat;
            }
            div:hover {
                background-color: $color-grey-90;
            }

            .cms_sideframe-close {
                background-position: -80px -90px;
            }
            .cms_sideframe-close:hover {
                background-position: -100px -90px;
            }
            .cms_sideframe-hide {
                height: 30px;
                border: none !important;
                background-position: -101px -144px;
            }
            .cms_sideframe-hide:hover {
                background-position: -121px -144px;
            }
            .cms_sideframe-hidden {
                background-position: -60px -144px;
            }
            .cms_sideframe-hidden:hover {
                background-position: -80px -144px;
            }
            .cms_sideframe-maximize {
                background-position: -40px -91px;
            }
            .cms_sideframe-maximize:hover {
                background-position: -60px -91px;
            }
            .cms_sideframe-minimize {
                background-position: -61px -111px;
            }
            .cms_sideframe-minimize:hover {
                background-position: -61px -91px;
            }

            .cms_sideframe-hide {
                border: 5px solid $color-grey-70;
                border-right: none;
                border-left: none;
            }
        }
    }

    // end of toolbar
}
