//##############################################################################
// SIDEFRAME

// "Pages" frame on the left
.cms-sideframe {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    z-index: z(sideframe, base);

}

.cms-sideframe-frame {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: z(sideframe, frame);
    width: 100%;
    height: 100%;
    background: $white;

    iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        background: $white;
    }
}

.cms-sideframe-resize {
    position: absolute;
    top: 0;
    right: 0;
    z-index: z(sideframe, resize);
    width: $sideframe-resize-width;
    height: 100%;
    cursor: col-resize;
    background: transparent;
    box-shadow: $sideframe-box-shadow;
}
// when resizing the sideframe shime get's z-index between frame
// and resize in order for mouse events not to trigger on iframe, same as
// with modal
.cms-sideframe-shim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z(sideframe, shim);
    width: 100%;
    height: 100%;
    background: transparent;
}
.cms-sideframe-close,
.cms-sideframe-history {
    position: absolute;
    top: $sideframe-buttons-position-top;
    right: $sideframe-buttons-position-right;
    z-index: z(sideframe, buttons);
    cursor: pointer;
    font-size: $sideframe-button-icon-size;
    color: $gray-light;
    text-align: center;
    width: $sideframe-button-area-size;
    height: $sideframe-button-area-size;
    margin-bottom: $sideframe-button-space;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -($sideframe-button-icon-size / 2);
        margin-top: -($sideframe-button-icon-size / 2);

        &:hover, &:active, &:focus {
            color: $gray-darkest;
        }
    }
}

.cms-sideframe-history {
    right: $sideframe-buttons-position-right + $sideframe-buttons-position-right + 5;

    .cms-icon-arrow-back {
        margin-left: -$sideframe-buttons-position-right - 5;
    }
    .cms-icon-arrow-forward {
        @include icon(arrow-right);
    }
    // disabled state if there is no history
    .cms-icon-disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover, &:active, &:focus {
            color: $gray-light;
        }
    }
}

.cms-sideframe-dimmer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z(sideframe, dimmer);
    width: 100%;
    height: 100%;
    background: $sideframe-dimmer;
}
