//######################################################################################################################
// #SIDEFRAME#
//
// "Pages" frame on the left
#cms-toolbar {
    .cms-sideframe {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        overflow: visible !important;
        z-index: z(sideframe, base);
        width: 0;
        height: 100%;

    }

    .cms-sideframe-frame {
        position: relative;
        overflow: hidden;
        z-index: z(sideframe, frame);
        width: 100%;
        height: 100%;
        background: $white;

        iframe {
            overflow: auto;
            width: 100%;
            height: 100%;
            border: none;
            background: $white;
        }
    }

    .cms-sideframe-resize {
        position: absolute;
        top: 0;
        right: -$sideframe-border-width;
        z-index: z(sideframe, resize);
        width: $sideframe-border-width;
        height: 100%;
        cursor: col-resize;
        background: $gray-darker;
    }
    // when resizing the sideframe shime get's z-index between frame
    // and resize in order for mouse events not to trigger on iframe, same as
    // with modal
    .cms-sideframe-shim {
        position: absolute;
        top: 0;
        left: 0;
        z-index: z(sideframe, shim);
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .cms-sideframe-knob {
        position: absolute;
        top: 50%;
        left: 50%;
        width: nth($sideframe-resize-knob-size, 1);
        height: nth($sideframe-resize-knob-size, 2);
        margin-top: -(nth($sideframe-resize-knob-size, 2) / 2);
        margin-left: -(nth($sideframe-resize-knob-size, 1) / 2);
        border-radius: nth($sideframe-resize-knob-size, 1) / 2;
        background: $gray-darker;
    }

    .cms-sideframe-btn {
        position: absolute;
        top: $sideframe-buttons-position-top;
        right: -$sideframe-button-area-size;
        z-index: z(sideframe, buttons);
    }
    .cms-sideframe-close,
    .cms-sideframe-hide,
    .cms-sideframe-maximize {
        position: relative;
        cursor: pointer;
        font-size: $sideframe-button-icon-size;
        color: $gray-lighter;
        text-align: center;
        width: $sideframe-button-area-size;
        height: $sideframe-button-area-size;
        margin-bottom: $sideframe-button-space;
        border-radius: 0 $border-radius-base $border-radius-base 0;
        background: $gray-darker;

        &:hover {
            color: $white;
            background-color: $gray-darkest;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -($sideframe-button-icon-size / 2);
            margin-top: -($sideframe-button-icon-size / 2);
        }
    }

    .cms-sideframe-hide {
        font-size: $sideframe-button-icon-size * 1.25;
        height: $sideframe-button-area-size * 1.5;
        span {
            margin-top: -(($sideframe-button-icon-size * 1.25) / 2);
            margin-left: -(($sideframe-button-icon-size * 1.25) / 2);
        }
    }

    .cms-sideframe-hidden span {
        color: $color-primary;
        transform: rotate(180deg);
    }

    .cms-sideframe-minimize span {
        color: $color-primary;
    }
}
