//######################################################################################################################
// #STRUCTURE#
#cms-toolbar .cms-structure {
    display: none;
    position: fixed;
    top: 0;
    z-index: z(structure, base);
    width: 100%;
    height: 100%;
    overflow: hidden;

    .cms-structure-dimmer {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z(structure, dimmer);
        width: 100%;
        height: 100%;
        background: $structure-bgcolor;
    }
    .cms-structure-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: z(structure, content, base);
        width: 100%;
        height: 100%;
        user-select: none;
    }

}

#cms-toolbar .cms-structure-dynamic {
    position: absolute;
    overflow: hidden;
}

#cms-toolbar .cms-structure {
    //###########################################################
    // #DRAGAREA#
    // basically a cms placeholder representation
    .cms-dragarea {
        position: absolute;
        box-sizing: border-box;
        margin: 0 0 $structure-dragarea-space;
        padding: $structure-dragbar-padding $structure-dragbar-padding-horizontal;
    }

    .cms-dragarea-static {
        .cms-dragbar {
            .cms-dragbar-title {
                color: $gray;
            }
        }
        .cms-dragarea-static-icon {
            position: relative;
            top: 2px;
        }
    }

    // subclasses for the simple structure borad without absolute positioning
    .cms-structure-content-simple {
        padding: ($toolbar-height + 40px) 5%;
        position: relative;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .cms-dragarea-simple {
        position: static;
        margin: 20px auto; // FIXME
        max-width: 980px; // FIXME;
    }

    //###########################################################
    // #DRAGBAR#
    //
    // Placeholder box title
    .cms-dragbar {
        position: relative;
        top: 0;
        left: 0;
        /* z-index: z(structure, content, dragbar); */
        font-size: $font-size-normal;
        line-height: $line-height-normal;
        border-radius: $border-radius-base;
        padding-left: $border-radius-normal + 2px;

        .cms-dragbar-title {
            position: relative;
            color: $structure-dragbar-color;
            font-size: $font-size-normal;
            font-weight: bold;
            line-height: $structure-dragbar-height + 1px;
            height: $structure-dragbar-height;
            margin-right: $submenu-icon-area-size;
        }
        .cms-dragbar-toggler {
            margin-left: 30px;
            font-weight: normal;
            cursor: pointer;
            text-transform: uppercase;
            a {
                font-size: $font-size-normal - 2px !important;
                color: $color-primary !important;
                &:hover {
                    color: darken($color-primary, 10%) !important;
                }
            }
        }
        .cms-dragbar-collapse-all {
            display: none;
        }
        .cms-dragbar-expand-all {
            display: inline;
        }
        .cms-dragbar-title-expanded {
            .cms-dragbar-collapse-all {
                display: inline;
            }
            .cms-dragbar-expand-all {
                display: none;
            }
        }

    }

    // #DRAGBAR/empty#
    .cms-dragbar-empty {
        font-size: $font-size-normal - 2px;
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 0;
    }

    .cms-dragarea-empty {
        .cms-dragbar-empty-wrapper {
            display: block !important;
        }
        .cms-dragbar-toggler {
            display: none;
        }
    }

    //###########################################################
    // #DRAGITEM#
    .cms-draggables {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
    }
    .cms-draggables .cms-draggables {
        padding-left: $structure-draggable-inner-padding;
    }
    .cms-dragarea-empty .cms-draggables-root {
        min-height: 46px;
        border: 1px dashed darken($gray-lighter, 15%);
        border-radius: $border-radius-base;
        position: relative;
    }

    // #DRAGGABLES/general#
    .cms-draggable {
        position: relative;
        top: 0;
        left: 0;
        display: block !important; // fixes hide/show with jqueryui so the scroll doesn't jump
        /* z-index: z(structure, content, draggable); */
        /* margin: $structure-draggable-space 0 0; */
        margin-left: 0 !important;
        padding: 0;
        border-radius: $border-radius-base;
        list-style-type: none;

        // levels
        .cms-draggable {
            position: relative;
            /* z-index: z(structure, content, draggable); */
            white-space: nowrap;
            border-color: $gray-lighter;
            &:hover {
                border-color: $gray-light;
            }
        }
        .cms-draggable .cms-draggable {
            /* margin-top: $structure-draggable-space; */
        }

        // menu overwrites
        .cms-submenu-dropdown {
            top: $structure-dragitem-height + $structure-dragarea-padding * 2;
        }
        .cms-submenu-quicksearch {
            $quicksearch-height: $structure-dragitem-height + $structure-dragarea-padding * 2;
            top: 50%;
            height: $quicksearch-height;
            margin-top: -($quicksearch-height / 2);
            border-left: 1px dotted $gray-lighter;
            border-radius: 0;
            background: $white;
            &:before {
                color: $gray-darker;
            }
        }
        .cms-submenu-quicksearch input {
            color: $black;
            margin-top: 1px;
        }

        .cms-dragitem {
            line-height: $structure-dragitem-height;
            border: 2px solid #f0f0f0;
        }
        .cms-dragitem-text {
            display: block;
            display: inline-block;
            overflow: visible;
            width: 90%;
        }
    }

    .cms-droppable {
        height: 0;
        min-height: 0;
        line-height: 0;
        position: relative;
        transform: translateY(2px);
        box-shadow: 0 0 0 2px $color-primary;
        z-index: z(structure, content, droppable);
        .cms-draggable + & {
            transform: translateY(-2px);
        }
        box-shadow: 0 0 0 2px $color-primary;
        &:before {
            content: '';
            position: absolute;
            left: -4px;
            top: -8px;
            width: 0;
            height: 0;
            border-left: 8px solid $color-primary;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
    .cms-draggables > .cms-droppable:first-child {
        transform: translateY(-2px);
    }
    .cms-draggables > .cms-droppable:only-child {
        transform: translateY(2px);
    }

    .cms-draggables-empty {
        display: none;
    }
    .cms-dragarea-empty {
        .cms-droppable {
            transform: translateY(0) !important;
            color: darken($gray-lighter, 15%);
            height: auto;
            box-shadow: none;
            margin: 0;
            background-color: mix(white, $color-primary, 90%);
            border: 2px solid $color-primary;
            border-radius: $border-radius-base;
            line-height: $structure-dragitem-height;
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            z-index: 1;
            &:before {
                display: none;
            }
        }
        .cms-draggables-empty {
            display: block;
            line-height: 44px;
            padding-left: 20px;
            color: darken($gray-lighter, 15%);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }

    // #DRAGGABLES/specific#
    .cms-draggable {
        color: $black;
    }
    .cms-draggable-is-dragging {
        transform: translateZ(0);
        z-index: z(default);
        width: 200px !important;
        border-radius: 0;
        .cms-dragitem {
            border-radius: 0;
            border: none;
            padding-left: 20px; //FIXME
            color: $white !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: $color-primary !important;
            background-image: none !important;
            &:before {
                color: white;
                display: none;
            }
            .cms-draggables {
                display: none;
            }
            .cms-dragitem-text {
                display: inline;
            }
        }
    }
    .cms-draggable-stack {
        box-shadow: 1px 1px 1px rgba($black ,0.2),
            4px 4px 0px 0px $color-primary;
        height: 42px !important; //FIXME
        overflow: hidden;
    }

    .cms-dragitem {
        position: relative;
        cursor: move;
        padding: $structure-dragarea-padding $structure-dragarea-padding-horizontal;
        background: $white;
        border-radius: $border-radius-normal;
        @if ($structure-dragarea-use-background == 1) {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABCCAAAAAB73glBAAAAAnRSTlMAAHaTzTgAAAAeSURBVHgBY7gCBgxAAGHRRoAKYOi5dNSloy4ddSkA3VChcDH0cxcAAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-position: 10px 50%;
            background-size: 8px 33px;
        }
        &:hover {
            box-shadow: inset 0px 0px 0px 1px $color-primary;
        }
    }
    .cms-dragitem-collapsable {
        padding-left: $structure-dragitem-icon-space;
        cursor: pointer;
    }
    .cms-dragitem-collapsable {
        @include icon(arrow-wide);
        &:before {
            @extend %icon;
            position: absolute;
            left: $structure-dragitem-icon-space - $structure-dragarea-padding-horizontal - 10px;
            margin-left: $structure-dragarea-padding-horizontal - 10px;
            top: 50%;
            margin-top: -$structure-dragitem-icon-size/2;
            font-size: $structure-dragitem-icon-size;
            color: $gray-light;
            transform: rotate(180deg);
        }
    }
    .cms-dragitem-expanded:before {
        transform: rotate(-90deg);
    }
    .cms-dragitem-success {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: $border-radius-base;
        opacity: 0.6;
        z-index: z(structure, content, droppable);
    }

    // #DRAGGABLES/states#

    .cms-draggable-selected .cms-dragitem,
    .cms-draggable-selected .cms-dragitem strong {
        color: adjust-hue($color-primary, 15deg);
    }
    .cms-draggable-selected .cms-draggable .cms-dragitem,
    .cms-draggable-selected .cms-draggable .cms-dragitem strong {
        color: $black;
    }

    .cms-draggable-allowed,
    .cms-draggable-hover-allowed,
    .cms-draggable-placeholder {
        color: lighten($color-success, 40%);
        border-color: lighten($color-success, 40%);
    }
    .cms-draggable-hover-allowed,
    .cms-draggable-placeholder {
        color: $white;
        background: rgba($color-success, 0.2);
    }
    .cms-dragitem-success {
        border: 1px solid lighten($color-success, 40%);
        background: lighten($color-success, 40%);
    }

    .cms-draggable-disallowed,
    .cms-draggable-hover-disallowed {
        color: saturate($color-danger, 80%);
        border: 1px dashed saturate($color-danger, 80%);
        background: rgba($color-danger, 0.1);
    }

    // hide arrow when adding plugin-in-plugin within disabled item
    .cms-draggable-disabled {
        .cms-submenu {
            display: none;
        }

        > .cms-dragitem-collapsable {
            padding-left: $structure-dragarea-padding-horizontal;
            &:hover {
                border-color: $gray-light;
            }
            &:before {
                display: none;
            }
        }
        > .cms-dragitem-collapsable,
        > .cms-dragitem {
            .cms-submenu {
                display: block;
            }
        }

        .cms-draggable {
            margin-left: $structure-draggable-inner-padding !important;
            .cms-dragitem {
                background-image: none;
                &:hover {
                    box-shadow: none;
                }
            }
        }

        .cms-draggables,
        .cms-droppable {
            display: none !important;
        }
    }
    .cms-plugin-disabled  {
        position: absolute;
        right: $submenu-right;
        width: $submenu-icon-area-size;
        height: $submenu-icon-area-size;
        top: 50%;
        margin-top: -($submenu-icon-area-size / 2);
        .cms-icon {
            $submenu-icon-size: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -($submenu-icon-size / 2);
            margin-top: -($submenu-icon-size / 2);
            font-size: $submenu-icon-size;
            color: $submenu-icon-color;
        }
    }

    // end of dragarea
    .cms-is-dragging {
        display: block !important;
        opacity: 0.3;
    }
}

// hide elements when dragging
.ui-sortable-helper.cms-draggable .cms-submenu {
    display: none !important;
}
.ui-sortable-helper.cms-draggable .cms-draggables {
    display: none !important;
}
