//######################################################################################################################
// #SUBNAV#
#cms-toolbar {
    .cms-submenu-btn {
        @include icon(menu);
        display: block;
        position: absolute;
        right: $submenu-right;
        width: $submenu-icon-area-size;
        height: $submenu-icon-area-size;
        cursor: pointer;
        top: 50%;
        margin-top: -($submenu-icon-area-size / 2);
        &:before {
            @extend %icon;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -($submenu-icon-size / 2);
            margin-top: -($submenu-icon-size / 2);
            font-size: $submenu-icon-size;
            color: $submenu-icon-color;
        }

        .cms-hover-tooltip {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
    .cms-dragbar .cms-submenu-btn {
        margin-right: 2px;
        background-color: transparent;
        &:active,
        &.cms-btn-active {
            background-color: darken($btn-default-bgcolor, 10%);
        }
    }
    .cms-submenu-settings {
        border: none;
    }

    .cms-submenu-edit {
        @include icon(pencil);
        right: $submenu-right * 2 + $submenu-icon-area-size;
    }
    .cms-submenu-add {
        @include icon(plus);
        right: $submenu-right * 3 + $submenu-icon-area-size * 2;
    }
    .cms-submenu-edit,
    .cms-submenu-add {
        &:before {
            $icon-size: $submenu-icon-size - 3px;
            font-size: $icon-size;
            margin-left: -($icon-size / 2);
            margin-top: -($icon-size / 2);
            font-size: $icon-size;
        }
    }

    .cms-submenu-lang {
        position: absolute;
        top: 50%;
        height: $line-height-normal;
        margin-top: -($line-height-normal / 2);
        line-height: $line-height-normal - 2px;
        right: 5px;
        padding: 0 5px;
        border: 1px solid $gray-lighter;
        border-radius: $border-radius-base;
    }

    .cms-submenu-dropdown {
        display: none;
        position: absolute;
        right: $submenu-icon-area-size + $submenu-right;
        z-index: z(structure, content, dropdown);
        min-width: $submenu-dropdown-width;
        max-height: $submenu-dropdown-height;
        border: 1px solid $gray-lighter;
        background: $submenu-dropdown-bgcolor;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0);

        // force scrollbars on subnav menu
        // not yet working on firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=77790
        &::-webkit-scrollbar {
            width: 7px;
            background: $gray-lighter;

            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            border-left: 1px solid $gray-lighter;
            background-color: $gray-darker;
        }

        .cms-submenu-item {
            zoom: 1;
        }
        .cms-submenu-item a,
        span {
            display: block;
            font-size: $submenu-item-font-size;
            line-height: $submenu-item-height;
            min-height: $submenu-item-height;
            text-align: left;
            padding: 0px $submenu-item-padding-horizontal;
        }

        .cms-submenu-item a {
            color: $submenu-item-color;
            &:hover,
            &:focus {
                color: $submenu-item-hover-color;
                background: $color-primary;
            }
            &:first-child {
                border-top: none;
            }
        }
        .cms-submenu-item span {
            color: $submenu-item-color;
            font-weight: bold;
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-lighter;
            cursor: default;
        }
        .cms-submenu-item:first-child span {
            border-top: none;
        }
    }
    .cms-submenu-dropdown-top {
        top: $structure-dragbar-height + $structure-dragarea-space;
    }
    .cms-submenu-dropdown-bottom {
        bottom: $structure-dragbar-height + $structure-dragarea-space;
    }
    .cms-submenu-dropdown-children {
        right: $submenu-icon-area-size * 3 + $submenu-right * 4;
    }

    // TODO this will be cms-submenu-dropdown (or rather cms-dropdown) in future
    .cms-submenu-dropdown-settings {
        border-radius: $border-radius-normal;
        border: none;
        overflow: initial;
        box-shadow: $cms-dropdown-shadow;
        z-index: 1;
        right: $submenu-right * 2 + $submenu-icon-area-size;
        .cms-submenu-item {
            a {
                position: relative;
                line-height: $cms-dropdown-item-height;
                height: $cms-dropdown-item-height;
                color: $gray-light;
                padding-left: 40px;
                &[data-rel] {
                    &:before {
                        @extend %icon;
                        position: absolute;
                        left: 14px;
                        top: 0;
                        height: $cms-dropdown-item-height;
                        line-height: $cms-dropdown-item-height
                    }
                }
                &[data-icon=copy] {
                    @include icon(copy);
                }
                &[data-icon=scissors] {
                    @include icon(scissors);
                }
                &[data-icon=bin] {
                    @include icon(bin);
                }
                &[href*=alias_plugin] {
                    @include icon(alias);
                }
            }
        }
        &:before {
            z-index: z(below);
            position: absolute;
            content: '';
            left: 100%;
            width: 15px;
            height: 15px;
            margin-left: -10px;
            transform: rotate(45deg);
            background-color: white;
            box-shadow: $cms-dropdown-shadow;
        }

        &::-webkit-scrollbar {
            width: 0px;
        }

        &.cms-submenu-dropdown-top {
            // TODO importants can be removed
            // after new "add plugin" is in place
            top: 0 !important;
            &:before {
                top: 14px !important;
            }
        }
        &.cms-submenu-dropdown-bottom {
            bottom: 0 !important;
            &:before {
                bottom: 14px !important;
            }
        }

        .cms-dropdown-inner {
            z-index: 1;
            background-color: white;
            overflow: hidden;
            border-radius: $border-radius-normal;
        }

    }
    .cms-dragbar .cms-submenu-dropdown-settings {
        &.cms-submenu-dropdown-top:before {
            top: 10px !important;
        }
        &.cms-submenu-dropdown-bottom:before {
            bottom: 10px !important;
        }
    }

    .cms-submenu-quicksearch {
        $quicksearch-height: $structure-dragbar-height + $structure-draggable-space + $structure-dragarea-padding - 2px;
        @include icon(search);
        cursor: default;
        display: none;
        position: absolute;
        top: 50%;
        right: $submenu-icon-area-size * 3 + $submenu-right * 4;
        z-index: z(structure, content, quicksearch);
        text-align: right;
        height: $quicksearch-height;
        margin-top: -($quicksearch-height / 2);
        border-radius: $border-radius-base + 1px;

        &:before {
            @extend %icon;
            position: absolute;
            right: $structure-dragarea-padding;
            top: 50%;
            margin-top: -($submenu-quicksearch-icon-size / 2);
            font-size: $submenu-quicksearch-icon-size;
            color: $gray-light;
        }
    }
    .cms-submenu-quicksearch label {
        cursor: pointer;
        height: 100%;
    }
    .cms-submenu-quicksearch input {
        display: block;
        font-size: $submenu-quicksearch-input-font-size;
        line-height: $submenu-quicksearch-input-line-height;
        text-align: right;
        width: $submenu-quicksearch-input-width;
        height: 100%;
        margin-right: $submenu-quicksearch-padding;
        padding: 0px 1px;
        border: none;
        background: none;
        -webkit-appearance: none;
    }

    // scrollhint
    .cms-submenu-scroll-hint {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $gray-light;
        font-size: $submenu-item-font-size;
        line-height: $submenu-item-height;
        height: $submenu-item-height;
        text-align: center;
        width: 100%;
        background-color: $gray-lighter;
    }
}
