@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

#cms-toolbar {
    //######################################################################################################################
    // #SUBNAV#
    .cms-submenu {
        @extend .cms-icon-menu;
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5px;
        width: 20px;
        height: 15px;
        &:before {
            @extend .cms-icon;
            position: relative;
            left: 4px;
            font-size: 16px;
            color: #fff;
        }
    }

    .cms-submenu-lang {
        position: absolute;
        top: 3px;
        right: 3px;
        padding: 0 5px;
        border: 1px solid $color-grey-10;
        border-radius: 3px;
        background: white;
    }

    .cms-submenu-dropdown {
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        overflow: auto;
        zoom: 1;
        z-index: 999;
        min-width: 140px;
        max-height: 230px;
        border: 1px solid $color-grey-10;
        background: white;
        box-shadow: 0 1px 1px rgba(black, 0.1);

        // force scrollbars on subnav menu
        // not yet working on firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=77790
        &::-webkit-scrollbar {
            width: 7px;
            background: $color-grey-10;

            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            border-left: 1px solid $color-grey-10;
            background-color: $color-grey-70;
            box-shadow: 0 0 1px rgba(white, 0.5);
        }

        .cms-submenu-item {
            zoom: 1;
        }
        .cms-submenu-item a,
        span {
            display: block;
            font-size: 12px;
            line-height: 15px;
            text-align: left;
            padding: 4px 8px 3px 8px;
        }

        .cms-submenu-item a {
            color: black;
            &:hover,
            &:focus {
                color: white;
                background: adjust-hue($color-blue, 15deg);
                background: linear-gradient($gradient-blue);
            }
            &:first-child {
                border-top: none;
            }
        }
        .cms-submenu-item span {
            color: black;
            font-weight: bold;
            border-top: 1px solid $color-grey-20;
            border-bottom: 1px solid $color-grey-10;
            cursor: default;
        }
        .cms-submenu-item:first-child span {
            border-top: none;
        }
    }

    .cms-submenu-quicksearch {
        @extend .cms-icon-search;
        cursor: default;
        display: none;
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 1000;
        text-align: right;
        height: 25px;
        border-radius: 4px;
        background: $color-grey-70;

        &:before {
            @extend .cms-icon;
            position: absolute;
            right: 6px;
            top: 6px;
            font-size: 13px;
            color: white;
        }
    }
    .cms-submenu-quicksearch label {
        cursor: pointer;
    }
    .cms-submenu-quicksearch input {
        display: block;
        color: white;
        font-size: 12px;
        line-height: 12px;
        text-align: right;
        width: 109px;
        height: 24px;
        margin-right: 25px;
        padding: 3px 1px 1px 5px;
        border: none;
        background: none;

        -webkit-appearance: none;
    }

    // scrollhint
    .cms-submenu-scroll-hint {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $color-grey-20;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        width: 100%;
        padding: 5px 0 4px;
        background-color: $color-grey-10;
    }

    // end of toolbar
}
