//######################################################################################################################
// #TOOLBAR#
#cms-toolbar {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 9999999;
    width: 100%;

    .cms-toolbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        min-width: 320px;
        height: 30px;
        border-bottom: 1px solid $color-grey !important;
        background: rgba($color-grey-5, 0);
        background: linear-gradient($gradient-toolbar);
        /* hack for ie9 */ background/**/: #fcfcfc;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        .cms-toolbar-left {
            position: relative;
            float: left;
            z-index: 10;
            padding-left: 10px;
        }
        .cms-toolbar-right {
            position: relative;
            float: right;
            z-index: 10;
            padding-right: 32px;
        }

        .cms-toolbar-left .cms-toolbar-item {
            margin-left: 10px;
        }
        .cms-toolbar-right .cms-toolbar-item {
            margin-right: 20px;
        }

        // items
        .cms-toolbar-item {
            float: left;
        }
        .cms-toolbar-item-buttons a {
            border-bottom: none !important;
        }
    }

    // do some responsive magic
    @media only screen and (max-width: 800px) {
        .cms-toolbar-right {
            display: none;
        }
    }

    //###########################################################
    // #TOOLBAR/debug#
    &.cms-toolbar-debug {
        .cms-toolbar {
            top: 5px !important;
        }
        .cms-toolbar-trigger {
            top: 5px !important;
        }

        .cms-debug-bar {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999999;
            width: 100%;
            height: 5px;
            border-bottom: 1px solid #ddd;
            background-color: #fcd200;
            background-image: linear-gradient(
                135deg,
                rgba(255, 255, 255, .8) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .8) 50%,
                rgba(255, 255, 255, .8) 75%,
                transparent 75%,
                transparent
            );
            background-size: 10px 10px;
        }
    }
    &.cms-toolbar-debug #container {
        padding-top: 35px !important;
    }

    //###########################################################
    // #TOOLBAR/navigation#
    .cms-toolbar-item-navigation {
        li {
            position: relative;
            float: left;
            zoom: 1;
        }
        li a {
            float: left;
            zoom: 1;
            padding: 5px 10px;
            cursor: default;
        }
        li ul {
            display: none;
        }
        > li:first-child > a span {
            font-weight: 800;
            line-height: 12px;
        }
        .cms-icon {
            display: none;
            position: absolute;
            top: 7px;
            right: 7px;
            font-size: 10px;
            transform: rotate(180deg);
        }

        // hover effect
        .cms-toolbar-item-navigation-hover {
            ul {
                display: block;
                position: absolute;
                top: 30px;
                left: 0;
                min-width: 180px;
                padding: 3px 0;
                border: 1px solid white;
                border-top: none;
                border-radius: 0 0 4px 4px;
                background-color: white;
                background: rgba(white, 0.97);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            }
            ul li {
                float: none;
                zoom: 1;
            }
            ul li a {
                display: block;
                float: none;
                zoom: 1;
                white-space: nowrap;
                padding: 2px 10px 2px 15px;
                cursor: pointer;
            }
            ul ul {
                border-top: 1px solid #f5f5f5;
                border-radius: 0 4px 4px 0;
            }

            // second level
            .cms-toolbar-item-navigation-children {
                ul {
                    display: none;
                    top: -4px;
                    left: 100%;
                }
                > a {
                    cursor: default;
                }
                > a span {
                    display: block;
                    .cms-icon {
                        display: block;
                    }

                }
            }

            // anchor hover
            > a {
                color: white !important;
                background: adjust-hue($color-blue, 15deg);
                background: linear-gradient($gradient-blue);
            }

            // add active style
            .cms-toolbar-item-navigation-active > a {
                font-weight: 800;
            }
        }

        .cms-toolbar-item-navigation-break {
            @include hide-content();
            height: 1px;
            margin: 0 0 4px;
            padding: 0 0 3px;
            border-bottom: 1px solid $color-grey-10;
        }

        .cms-toolbar-item-navigation-disabled {
            a {
                cursor: default !important;
                opacity: 0.2;
                &:hover,
                &:active,
                &:focus {
                    color: black !important;
                    background: none !important;
                    box-shadow: none;
                }
            }
            ul {
                display: none !important;
            }
        }
    }
    .cms-toolbar-item-cms-mode-switcher {
        display: none;
    }

    //###########################################################
    // #TOOLBAR/dialog#
    .cms-messages {
        display: none;
        position: fixed;
        top: 30px;
        z-index: 999999;
        color: white;
        font-size: 12px;
        font-weight: 200;
        line-height: 16px;
        width: 300px;
        min-height: 14px;
        margin: 0;
        padding: 6px 10px 8px;
        border-radius: 0 0 3px 3px;
        background: rgba(black, 0.74);
        * {
            color: white;
            font-size: 12px;
            font-weight: 200;
            line-height: 16px;
        }

        a {
            color: $color-blue;
        }
        a:hover {
            text-decoration: underline;
        }
        strong {
            color: lighten($color-blue, 10%);
            font-weight: 200;
        }
        ul {
            display: inline;
            color: white;
        }
        ul li {
            display: inline;
            color: white;
            font-weight: 200;
        }

        .cms-messages-close {
            cursor: pointer;
            display: none;
            float: right;
            position: relative;
            top: 0;
            left: 8px;
            width: 20px;
            height: 14px;
            margin-left: 10px;
            span {
                font-size: 10px;
            }
            &:hover span {
                color: $color-blue;
            }
        }
    }
    .cms-messages-error strong {
        color: $color-red;
    }

    //###########################################################
    // #TOOLBAR/elements/logo#
    .cms-toolbar-item-logo {
        margin: 0 !important;

        a {
            @extend .cms-icon;
            @extend .cms-icon-logo;
            font-size: 21px;
            line-height: 21px;
            width: 90px;
            height: 20px;
            margin: 4px 0;
            transition: color $speed-base;

            span {
                display: none;
            }

            &:hover,
            &:active,
            &:focus {
                color: $color-blue;
            }
        }
    }

    // #TOOLBAR/elements/form#
    .cms-form-login {
        padding: 3px 0 0 0;

        label {
            float: left;
            padding-left: 10px;
            cursor: pointer;
        }
        label span {
            display: inline-block;
            padding-top: 1px;
        }
        input[type="text"],
        input[type="password"] {
            color: $color-grey;
            font-size: 13px;
            line-height: 13px;
            width: 100px;
            margin: 0;
            padding: 3px 5px;
            border: 1px solid lighten($color-grey, 45%);
            border-radius: 3px;
            box-shadow: 0px 1px 0px white;

            &:focus {
                transition: outline 0.2s;
                border-color: $color-blue;
                box-shadow: inset 0px 0px 2px $color-grey-10;
            }
        }
        input[type="submit"] {
            display: block;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            height: 23px;
            padding: 1px 15px 0;
            border: 1px solid darken($color-grey, 20%);
            border-radius: 3px;
            cursor: pointer;
            background: linear-gradient($btn-active-bggradient);
            background-color: $color-grey;
            box-shadow: inset 0 1px 0 lighten($color-grey, 20%);

            &:hover,
            &:active,
            &:focus {
                background: $color-grey-70;
                box-shadow: none;
            }
            &:active,
            &:focus {
                background: darken($color-grey-70, 50%);
            }
        }

        .cms-error {
            color: $color-red;
        }
        .cms-error input {
            border: 1px solid $color-red;
        }
    }

    // #TOOLBAR/elements/buttongroups#
    .cms-toolbar-item-buttons {
        margin: 4px 0 4px;

        a {
            float: left;
            font-size: 11px;
            line-height: 1;
            padding: 5px 12px;
        }
        a:first-child {
            border-radius: 3px 0 0 3px;
        }
        a:last-child {
            border-radius: 0 3px 3px 0;
        }
        a:only-child {
            border-radius: 3px;
        }
    }

    // #TOOLBAR/elements/toggler#
    .cms-toolbar-trigger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999999;
        border-bottom: 1px solid $color-grey;
        border-left: 1px solid $color-grey;

        a {
            display: block;
            width: 30px;
            height: 29px;
            text-align: center;
            border-top: 1px solid white;
            border-left: 1px solid white;
            background: $color-grey-5;
            &:hover {
                background: #fff;
            }
            &:hover span,
            &:active span,
            &:focus span {
                color: $color-grey-90;
            }
            span {
                font-size: 10px;
                color: $color-grey-70;
                margin: 8px 0 0 -2px;
                transition: transform $speed-base;
                transform: rotate(270deg);
                background: none;
            }
        }
    }
    // #TOOLBAR/elements/loader#
    .cms-toolbar-trigger-expanded a span {
        margin-top: 9px;
        transform: rotate(90deg);
    }
    .cms-toolbar-loader a span {
        @extend .cms-icon-loader;
        position: relative;
        top: -5px;
        font-size: 20px;
        line-height: 20px;
        color: $color-blue;
        background: transparent;
        animation: cms-spin 2s infinite linear;
    }

    // TODO Reimplement blinking if unpublished content is present
    //###########################################################
    // #TOOLBAR/blocker#
    .cms-screenblock {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        color: white;
        text-align: center;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.9);
        background-color: black;
    }

    .cms-screenblock-inner {
        margin-top: 300px;
        h1 {
            font-size: 28px;
            line-height: 30px;
        }
        h1,
        p {
            color: $color-grey-20;
            text-align: center;
        }
        a {
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
