@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

#cms_toolbar {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 9999999;
    width: 100%;
    //######################################################################################################################
    // #TOOLBAR#
    .cms_toolbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        min-width: 320px;
        height: 30px;
        border-bottom: 1px solid $color-grey !important;
        background: rgba($color-grey-5, 0);
        background: linear-gradient($gradient-toolbar);
        /* hack for ie9 */ background/**/: #fcfcfc;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        .cms_toolbar-left {
            position: relative;
            float: left;
            z-index: 10;
            padding-left: 10px;
        }
        .cms_toolbar-right {
            position: relative;
            float: right;
            z-index: 10;
            padding-right: 32px;
        }

        .cms_toolbar-left .cms_toolbar-item {
            margin-left: 10px;
        }
        .cms_toolbar-right .cms_toolbar-item {
            margin-right: 20px;
        }

        // items
        .cms_toolbar-item {
            float: left;
        }
        .cms_toolbar-item-buttons a {
            border-bottom: none !important;
        }
    }

    // do some responsive magic
    @media only screen and (max-width: 800px) {
        .cms_toolbar-right {
            display: none;
        }
    }

    //######################################################################################################################
    // #TOOLBAR/debug#
    &.cms_toolbar-debug {
        .cms_toolbar {
            top: 5px !important;
        }
        .cms_toolbar-trigger {
            top: 5px !important;
        }

        .cms_debug-bar {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999999;
            width: 100%;
            height: 4px;
            border-bottom: 1px solid #ddd;
            background: #fdffc8 url("../img/toolbar/sprite_toolbar.png") repeat-x left -444px;
        }
    }
    &.cms_toolbar-debug #container {
        padding-top: 35px !important;
    }

    //##################################################################################################################
    // #TOOLBAR/navigation#
    .cms_toolbar-item-navigation {
        li {
            position: relative;
            float: left;
            zoom: 1;
        }
        li a {
            float: left;
            zoom: 1;
            padding: 5px 10px;
            cursor: default;
        }
        li ul {
            display: none;
        }
        > li:first-child > a span {
            font-weight: 800;
            line-height: 12px;
        }

        // hover effect
        .cms_toolbar-item-navigation-hover {
            ul {
                display: block;
                position: absolute;
                top: 30px;
                left: 0;
                min-width: 180px;
                padding: 4px 0;
                border: 1px solid white;
                border-top: none;
                border-radius: 0 0 4px 4px;
                background-color: white;
                background: rgba(white, 0.97);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            }
            ul li {
                float: none;
                zoom: 1;
            }
            ul li a {
                display: block;
                float: none;
                zoom: 1;
                white-space: nowrap;
                padding: 2px 10px 2px 15px;
                cursor: pointer;
            }
            ul ul {
                border-top: 1px solid #f5f5f5;
                border-radius: 0 4px 4px 0;
            }

            // second level
            .cms_toolbar-item-navigation-children {
                ul {
                    display: none;
                    top: -5px;
                    left: 100%;
                }
                > a {
                    cursor: default;
                }
                > a span {
                    display: block;
                    background: url("../img/toolbar/sprite_toolbar.png") no-repeat right -270px;
                }
            }

            // anchor hover
            > a {
                color: white !important;
                background: adjust-hue($color-blue, 15deg);
                background: linear-gradient($gradient-blue);
            }
            > a span {
                background-position: right -300px !important;
            }

            // add active style
            .cms_toolbar-item-navigation-active > a {
                font-weight: 800;
            }
        }

        .cms_toolbar-item-navigation-break {
            @include hide-content();
            height: 1px;
            margin: 0 0 4px;
            padding: 0 0 3px;
            border-bottom: 1px solid $color-grey-10;
        }

        .cms_toolbar-item-navigation-disabled {
            a {
                cursor: default !important;
                opacity: 0.2;
                &:hover,
                &:active,
                &:focus {
                    color: black !important;
                    background: none !important;
                    box-shadow: none;
                }
            }
            ul {
                display: none !important;
            }
        }
    }
    .cms_toolbar-item-cms-mode-switcher {
        display: none;
    }

    //##################################################################################################################
    // #TOOLBAR/dialog#
    .cms_messages {
        display: none;
        position: fixed;
        top: 30px;
        z-index: 999999;
        color: white;
        font-size: 12px;
        font-weight: 200;
        line-height: 16px;
        width: 300px;
        min-height: 14px;
        margin: 0;
        padding: 6px 10px 8px;
        border-radius: 0 0 3px 3px;
        background: rgba(black, 0.74);
        * {
            color: white;
            font-size: 12px;
            font-weight: 200;
            line-height: 16px;
        }

        a {
            color: $color-blue;
        }
        a:hover {
            text-decoration: underline;
        }
        strong {
            color: lighten($color-blue, 10%);
            font-weight: 200;
        }
        ul {
            display: inline;
            color: white;
        }
        ul li {
            display: inline;
            color: white;
            font-weight: 200;
        }

        .cms_messages-close {
            display: none;
            position: relative;
            top: -2px;
            left: 3px;
            float: right;
            width: 20px;
            height: 14px;
            margin-left: 10px;
            cursor: pointer;
            background: url("../img/toolbar/sprite_toolbar.png") no-repeat -100px -90px;
        }
        .cms_messages-close:hover {
            background-position: -120px -90px;
        }
    }
    .cms_messages-error strong {
        color: $color-red;
    }

    //##################################################################################################################
    // #TOOLBAR/elements#
    // #TOOLBAR/elements/logo#
    .cms_toolbar-item-logo {
        margin: 0 !important;

        a {
            @include hide-content();
            display: block;
            width: 92px;
            height: 20px;
            margin: 5px 0;
            background: url("../img/toolbar/sprite_toolbar.png") no-repeat left top;
            &:hover,
            &:active,
            &:focus {
                background-position: left -20px;
            }
        }
    }

    // #TOOLBAR/elements/form#
    .cms_form-login {
        padding: 3px 0 0 0;

        label {
            float: left;
            padding-left: 10px;
            cursor: pointer;
        }
        label span {
            display: inline-block;
            padding-top: 1px;
        }
        input[type="text"],
        input[type="password"] {
            color: $color-grey;
            font-size: 13px;
            line-height: 13px;
            width: 100px;
            margin: 0;
            padding: 3px 5px;
            border: 1px solid lighten($color-grey, 45%);
            border-radius: 3px;
            box-shadow: 0px 1px 0px white;

            &:focus {
                transition: outline 0.2s;
                border-color: $color-blue;
                box-shadow: inset 0px 0px 2px $color-grey-10;
            }
        }
        input[type="submit"] {
            display: block;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            height: 23px;
            padding: 1px 15px 0;
            border: 1px solid darken($color-grey, 20%);
            border-radius: 3px;
            cursor: pointer;
            background: linear-gradient($gradient-dark);
            background-color: $color-grey;
            box-shadow: inset 0 1px 0 lighten($color-grey, 20%);

            &:hover,
            &:active,
            &:focus {
                background: $color-grey-70;
                box-shadow: none;
            }
            &:active,
            &:focus {
                background: darken($color-grey-70, 50%);
            }
        }

        .cms_error {
            color: $color-red;
        }
        .cms_error input {
            border: 1px solid $color-red;
        }
    }

    // #TOOLBAR/elements/buttongroups#
    .cms_toolbar-item-buttons {
        margin: 4px 0 4px;

        a {
            float: left;
            font-size: 11px;
            line-height: 1;
            padding: 5px 12px;
        }
        a:first-child {
            border-radius: 3px 0 0 3px;
        }
        a:last-child {
            border-radius: 0 3px 3px 0;
        }
        a:only-child {
            border-radius: 3px;
        }
    }

    // #TOOLBAR/elements/toggler#
    .cms_toolbar-trigger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999999;
        border-bottom: 1px solid $color-grey;
        border-left: 1px solid $color-grey;

        a {
            @include hide-content();
            display: block;
            color: $color-grey-70;
            width: 30px;
            height: 29px;
            border-top: 1px solid white;
            border-left: 1px solid white;
            background: $color-grey-5 url("../img/toolbar/sprite_toolbar.png") no-repeat -60px -40px;
            &:hover,
            &:active,
            &:focus {
                background-color: white;
                background-position: -90px -40px;
            }
        }
    }
    // #TOOLBAR/elements/loader#
    .cms_toolbar-trigger-expanded a {
        background-position: 0 -40px;
        &:hover,
        &:active,
        &:focus {
            background-position: -30px -40px;
        }
    }
    .cms_toolbar-loader a {
        background: #fcfcfc url("../img/loader.gif") no-repeat center center !important;
        background-size: 20px 20px !important;
    }

    // TODO Reimplement blinking if unpublished content is present
    //##################################################################################################################
    // #TOOLBAR/blocker#
    .cms_screenblock {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        color: white;
        text-align: center;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.9);
        background-color: black;
    }

    .cms_screenblock .cms_screenblock-inner {
        margin-top: 300px;
        h1 {
            font-size: 28px;
            line-height: 30px;
        }
        h1,
        p {
            color: $color-grey-20;
            text-align: center;
        }
        a {
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    // end of toolbar
}
