//######################################################################################################################
// #TOOLTIP#

// used when hover over plugins in edit mode
#cms-toolbar {
    .cms-tooltip {
        @extend .cms-icon-pencil;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 11px;
        font-weight: bold;
        color: $color-grey-10;
        line-height: 11px;
        white-space: nowrap;
        padding: 5px 7px 5px 22px;
        margin: 0;
        border-radius: 3px;
        background: $color-grey-70;

        &:before {
            @extend .cms-icon;
            font-size: 14px;
            position: absolute;
            left: 4px;
            top: 3px;
        }

        span {
            position: absolute;
            top: 18px;
            right: 0;
            float: right;
            color: white;
            font-weight: normal;
            padding: 5px 7px;
            border-radius: 3px 0 3px 3px;
            background: $color-grey-70;
        }
    }
}
