@charset "utf-8";
/*!
 * @author:	Divio AG
 * @copyright:	http://www.divio.ch
 */

//######################################################################################################################
// #STYLEGUIDE#
@import "compass/css3", "compass/utilities";

$styleguide-color-ready:	#999 !default;
$styleguide-color-dev:		#363 !default;
$styleguide-color-outdated:	#c00 !default;

// might be replaced
$styleguide-color-hint:		#ccc !default;
$styleguide-background: 	#3a3d41 !default;
$styleguide-border: 		#ddd !default;

@media all {
//######################################################################################################################
// #STYLEGUIDE#

.styleguide {
	code { color:#333; font-size:13px; line-height:19px; padding:1px 2px;
		border:1px solid $styleguide-border; background:lighten($styleguide-border, 10%);
		@include border-radius(2px); }
	pre code { padding:6px 10px; }
	.code-offset { margin-right:10px; }
	.emphasis pre code { padding:3px 5px; }
	.btn-disabled { @include opacity(0.5); }

	// status
	.dev, .ready, .outdated { color:white; font-size:11px; line-height:100%;
		padding:3px 4px; position:relative; top:-1px;
		@include border-radius (3px);
		@include inline-block(); }
	.dev { background:$styleguide-color-dev; }
	.ready { background:$styleguide-color-ready; }
	.outdated { background:$styleguide-color-outdated; }

	// sidemenu
	.categories a { text-decoration:none; &:hover { text-decoration:underline; } }

	// templates
	.templatelist p { padding:0; margin:0; }

	// iconlist
	.iconlist { list-style-type:none; padding:0; margin:0; }
	.iconlist li { float:left; width:25%; text-align:center;
		padding:10px 5px; margin:0 -1px -1px 0; height:100px; border:1px solid $styleguide-border;
		@include box-sizing(border-box); }
	.iconlist span { display:block; }
	.iconlist li:hover { background:lighten($styleguide-border, 10%); }

	// colors
	.autocolor { float:left; text-align:center; text-shadow:0 1px 1px black;
		line-height:60px; width:100px; margin:0 15px 15px 0; }

	// utilities
	.table-responsive-grid{
		th { background:white; }
		th span { display:block; color:#999; font-size:80%; }
		div { color:#468c44; padding:2px 5px; background:#e0f2d8; }

		.tblv { color:#468c44; background:#e0f2d8; }
		.tblh { color:#ccc; background:#f9f9f9; }
	}

	// grid
	.grid-block { float:left; cursor:pointer;
		width:120px; height:96px; padding:4px 2px 0; margin:0 25px 25px 0;
		border:1px solid #ccc; @include border-radius(3px);
		&:hover { border:1px solid #999; @include box-shadow(0 0 5px #ccc); @include transition(all, 300ms); }
		.gblock { float:left; height:20px; margin:0 2px 4px; background:#069; @include opacity(0.5); }
	}
	.grid-block-active { border:1px solid #999; }
	.grid-block-active .gblock { opacity:1; }

	.grid-block-1 {
		.gba, .gbb, .gbc { width:36px; }
		.gbd { float:right; width:36px; height:68px; }
		.gbe, .gbf, .gbg, .gbh { width:16px; }
		.gbi, .gbj, .gbk, .gbl { width:16px; }
		.gbm { width:76px; }
	}
	.grid-block-2 {
		.gba { width:116px; height:50px; }
		.gbb { width:36px; height:38px; }
		.gbc { width:36px; height:38px; }
		.gbd { width:36px; height:38px; }
	}
	.grid-block-3 {
		.gba { width:36px; height:92px; }
		.gbb { width:36px; height:30px; }
		.gbc { width:36px; height:30px; }
		.gbd { width:36px; height:30px; }
		.gbe { width:36px; height:30px; }
		.gbf { width:76px; height:24px; }
	}

	.row-ghost { position:absolute; left:0; top:0; width:100%; height:500px; }
	.row-ghost .column { background:#069; @include opacity(0.1); }
	.row-ghost .column > div { background:white; height:500px; }

	.grid-template {
		span { display:block; color:white;
			padding:5px 10px; margin:0 0 20px; background:#069;
			@include opacity(0.5); height:100px; }
	}
}

// #STYLEGUIDE/navigation#
.styleguide-nav { margin:0 0 20px; @include box-shadow(0 1px 0 #ddd); @include border-radius(3px);
	ul { list-style-type:none; font-size:0px; line-height:0; padding:0; margin:0;
		background-color:$styleguide-background;
		background:linear-gradient($styleguide-background, darken($styleguide-background, 10%));
		@include border-radius(3px); }
	li { padding:0; @include inline-block(); }
	li:first-child a { @include border-radius(3px 0 0 3px); }

	a { color:white; font-size:14px; line-height:14px; text-decoration:none; padding:10px 15px;
		@include inline-block();
		@include transition(background, 300ms); }
	a:hover { background:darken($styleguide-background, 50%); }
	// active state
	.active a { background:darken($styleguide-background, 10%); @include box-shadow(inset 0 0 10px black); }
}

// #STYLEGUIDE/section#
.styleguide-section { position:relative; display:none; min-height:500px; }
.styleguide-body { padding:0; clear:both; overflow:visible; }

// #STYLEGUIDE/hints#
.styleguide-hint { display:none; position:absolute; left:-25%; width:25%; top:0;
	font-size:12px; line-height:16px;
	h3 { font-size:12px; line-height:16px; padding:5px 10px; margin:0 0 15px;
		background:lighten($styleguide-color-hint, 10%); @include box-shadow(inset 0 1px 2px $styleguide-color-hint); }
	p { padding:0 10px; margin:0 0 10px; }

	ul { list-style-type:none; padding:0; margin:-14px 0 0; }
	ul ul { margin-top:0; margin-bottom:10px; padding-left:15px; }
	li { padding:0; }
	li a { display:block; padding:5px 10px; border-bottom:1px solid #eee; }
	li li a { color:#666; }
}

// end of mobile
}

@media (min-width: 740px) {
//######################################################################################################################
// #TABLET#

.styleguide-section { padding-left:5%; margin-left:20%; border-left:1px solid $styleguide-color-hint; }
.styleguide-section-flat { padding-left:0; margin-left:0; border-left:none; }
.styleguide-hint { display:block; }
.styleguide-nav a { padding:16px 25px; }
.styleguide {
	.col { float:left; }
	.width-2 { width:19%; margin-right:1%; }
	.width-3 { width:32.3333%; margin-right:1%; }
	.width-5 { width:49%; margin-right:1%; }
	.width-last { margin:0; margin-left:1%; }
	.iconlist li { width:16.666%; }
}

// end of tablet
}
