{% extends "placeholder_tests/nested_extend.html" %}

{% load cms_tags %}

{% comment %}
This file should result in following placeholders:

    - recursed_one   (from cms/test_utils/project/placeholderapp/nested_placeholderapp/templates/placeholder_tests/nested_extend.html)
    - two            (from cms/test_utils/project/placeholderapp/templates/placeholder_tests/nested_extend.html)
    - recursed_three (from cms/test_utils/project/placeholderapp/templates/placeholder_tests/nested_extend.html)

{% endcomment %}

{% block three %}
    {% placeholder "recursed_three" %}
{% endblock %}
