h1 span { font-size: 10px; color: #999; font-weight: normal;}
h1 span.moderation-requires-approvement { color: #f60; }
h1.moderation-approve-deletion { color: #c00; }
div fieldset.module.hidden { position: absolute; left: -1000em; }


/* Page form */


ul#page_form_lang_tabs {
    text-align: left;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 5px solid #C6DBEE;
    list-style-type: none;
    padding: 5px 10px 3px 0px;
}

ul#page_form_lang_tabs li {
    display: inline;
}


ul#page_form_lang_tabs li a {
    padding: 3px 4px;
    margin-right: 0px;
    text-decoration: none;

    background-color: #fff;
    color: #000;

    border: 1px solid #d8d8e3;
    border-bottom: 0px;
}

ul#page_form_lang_tabs li.active_tab a {
    background-color: #C6DBEE;
    color: #fff;
}

ul#page_form_lang_tabs a:hover {
    background: #fff;
}


.language_button.selected { 
    margin-bottom:-2px;
    border-bottom:0px !important;
    color:#fff;
    background:#bcd2e9 !important;
}

.deletetranslation { margin-left: 30px; }
