/* specific CSS for the django page admin application */

.change-list tr{
    padding-left:1.5em;
}

.change-list .table-selected tr {
    background:#ffffd0;
}

.change-list tr.selected {
    background:#ffb;
}

.change-list table tr.target {
    background:#fff;
}

td.actions a{
	vertical-align:middle;
}

.placeholder-row textarea, .placeholder-row input {
    float:left;
}

.placeholder-row .revisions {
    float:left;
    margin-left:2em;
}

.placeholder-row .revisions ul {
    padding:0;
    margin-left:0;
}

.revisions-list .selected {
    font-weight:bold;
}

#status-row ul li {
    list-style-type:none;
}

#traduction-helper-content {
    margin-top:1em;
    background:#ffc;
    padding:1em;
    display:none;
    overflow:hidden;
}

a.collapse span{
    font-family: monospace;
}

a.collapse span.collapsed{
    display: none;
}

a.collapsed span{
    display: none;
}

a.collapsed span.collapsed{
    display: inline;
}

.sidebar {
    width: 30em;
    float: left;
    margin-right: 1em;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
    width: 60%;
}

.ac_results {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 4px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 11px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 14px;
    overflow: hidden;
}

.ac_loading {
    background: white url('../indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #999;
    color: white;
}



/* Sitemap */

.simpleTree {
	/*margin: 0 !important;*/
	padding: 0 0 2em 0 !important;
	}
	
	.simpleTree li {
		list-style: none;
		margin:0;
		padding:0 0 0 34px;
		}
		
		.simpleTree li span.row {
			display:block;
			background:url(../images/sitemap-li-bg.jpg) repeat-x 0px 0px;
			height:27px;
			border:1px solid #DEDEDC;
			border-top:none;
			border-right:none;
			overflow:hidden;
			line-height:27px;
			padding: 0 0 0 10px;
			margin-left: -7px;
			min-width: 500px;
			}
			
	.simpleTree ul {
		margin:0; 
		padding:0;
		}
	
	.simpleTree .root {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/root.gif) no-repeat 16px 0 #ffffff;
		}
		
	.simpleTree span.root {
		display: none;
		}

	.simpleTree .line,
	.simpleTree .line-last,
	.simpleTree .line-over,
	.simpleTree .line-over-last {
		margin: -2px 0 0 -14px;
		padding:0;
		line-height: 5px;
		height:5px;
		font-size:5px;
		
		position: absolute;
		width: 500px;
		
		background: none;
		}

	.simpleTree .line-over,
	.simpleTree .line-over-last {
		background: url(/media/cms/images/simpletree/line_bg_over.gif) 0 0 no-repeat transparent;
		}

	.simpleTree .folder-open {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/collapsable.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .folder-open-last {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/collapsable-last.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .folder-close {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/expandable.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .folder-close-last {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/expandable-last.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .doc {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/leaf.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .doc-last {
		margin-left:-16px;
		background: url(/media/cms/images/simpletree/leaf-last.gif) 0 0 no-repeat #fff;
		}
	
	.simpleTree .ajax {
		background: url(/media/cms/images/simpletree/spinner.gif) no-repeat 0 0 #ffffff;
		height: 16px;
		display:none;
		}
	
	.simpleTree .ajax li {
		display:none;
		margin:0; 
		padding:0;
		}
	
	.simpleTree .trigger {
		display:inline;
		margin-left:-32px;
		width: 18px;
		height: 27px;
		cursor:pointer;
		}
	
	.simpleTree .text { cursor: default; }
	
	.simpleTree .active {
		cursor: default;
		background: #F7BE77 none;
		padding:0px 10px;
		}
	
#drag_container {
	background:#ffffff;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	border: 1px dashed #767676;
	}

	#drag_container ul {
		list-style: none;
		padding:0;
		margin:0;
		}
	
	#drag_container li {
		list-style: none;
		background-color:#ffffff;
		line-height:18px;
		white-space: nowrap;
		padding:1px 1px 0px 16px;
		margin:0;
		}
	
	#drag_container li span {
		padding:0;
		}
	
		#drag_container li.doc, #drag_container li.doc-last {
			background: url(/media/cms/images/simpletree/leaf.gif) no-repeat -17px 0 #ffffff;
			}
	
		#drag_container .folder-close, #drag_container .folder-close-last {
			background: url(/media/cms/images/simpletree/expandable.gif) no-repeat -17px 0 #ffffff;
			}
	
		#drag_container .folder-open, #drag_container .folder-open-last {
			background: url(/media/cms/images/simpletree/collapsable.gif) no-repeat -17px 0 #ffffff;
			}

.contextMenu { display:none; }

#tree_plus {
	margin: 7px 0 0 4px;
	}


/*
div#sitemap {
	margin:0px;
	padding:0px;
}
div#sitemap a{text-decoration:none; border:none; outline:none;}
div#sitemap a:hover{text-decoration:underline;}
div#sitemap li, div#sitemap ul{
	padding: 0px 0px 0px 12px;
	margin: 0px;
	list-style-type: none;
}
div#sitemap ul {
	margin: 0px 0px 0px -12px;
	padding-bottom:0px; padding-top:0px;
	background: url(../images/sitemap-exim.gif) repeat-y;;
}
div#sitemap ul.last{background: none;}
div#sitemap li{
	background: url(../images/sitemap-extm.gif) no-repeat;	
	clear:both;
}
div#sitemap li.last, div#sitemap li:last-child {
	background: url(../images/sitemap-exlm.gif) no-repeat;
}


#sitemap li div{display:inline;}
#sitemap li .cont{
	display:block;
	background:url(../images/sitemap-li-bg.jpg) repeat-x 0px 0px;
	height:28px;
	border:1px solid #DEDEDC;
	border-top:none;
	border-right:none;
	overflow:hidden;

}
#sitemap li .col1{	
	float:left;
}
#sitemap li .col2{
	float:right;
}

#sitemap li .col1 .info{
	background:url(../images/sitemap-li-drag.gif) no-repeat 0px 0px;
	display:block;
	height:28px;
	line-height:27px;
}
#sitemap li .col1 .info a.collapse, #sitemap li .col1 .info a.collapsed{
	display:block;
	float:left;
	height:14px;
	width:14px;
	background:#fff;
	line-height:6px;
	text-align:center;
	margin-top:8px;
	text-indent:-777px;
	background:url(../images/sitemap-li-collapse.gif) no-repeat;	
}
#sitemap li .col1 .info a.collapse:hover{text-decoration:none;}

#sitemap li .col1 .info a.collapsed{
	background-position:0px -20px;
}
#sitemap li .col1 .info a.titel{
	padding-left:5px;
}
#sitemap li .col1 .info a.changelink{
	margin-left:10px;
	display:none;	
}
#sitemap li .col1 .info a.drag{
	display:block;
	float:left;
	width:16px;
}
#sitemap li .col1 .info a.drag:hover{text-decoration:none;}

#sitemap li .col-language,
#sitemap li .col-actions,	
#sitemap li .col-published,
#sitemap li .col-navigation,
#sitemap li .col-softroot,
#sitemap li .col-template,
#sitemap li .col-creator{
	border-left:1px solid #DEDEDC;
	text-align:center;
	height:28px;
	width:auto;
	line-height:28px;
	float:left;
	display:block;
	background-color:#fff;
	padding-left:3px;
	padding-right:3px;
	white-space:nowrap;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

#sitemap li .col-language{
	background:none;
	border:none;
	width:auto;
	text-align:right;
	padding-right:5px;
}
#sitemap li .col-language a{text-transform:uppercase;}
#sitemap li .col-language a:hover{text-decoration:underline;}
#sitemap li .col-actions{
}

#sitemap li .col-published{
	width:65px;
}

#sitemap li .col-softroot{
	width:55px;
}

#sitemap li .col-creator{
	width:65px;
}

#sitemap li a.move {
	width:15px;
	height:14px;
	display:inline-block;
	background:url(../images/cut.gif) 0px 0px no-repeat; 
}
#sitemap li a.move span{display:none;}

#sitemap li a.selector-add {
	margin-left:4px;
	width:16px;
	height:14px;
	display:inline-block;
	background:url(../images/page_find.gif) 0 -1px no-repeat; 
}
#sitemap li a.selector-add span{display:none;}


#sitemap li a.addlink, #sitemap li a.deletelink{
	width:10px;
	height:10px;
	display:inline-block;
	background-position:0 0px;
	margin:0;
	padding:0;	
	margin-left:4px;
}
#sitemap li a.addlink span, #sitemap li a.deletelink span{display:none;}

#sitemap li .cont:hover {background-position:0px -300px;}
#sitemap li .cont:hover a,
#sitemap li .cont:hover .col-language,
#sitemap li .cont:hover .col-language a{color:#fff;}

#sitemap li .cont:hover .col1 .info{ background-position:0px -40px;}
#sitemap li .cont:hover .col1 .info a.changelink{display:inline;}

#sitemap li .cont:active {background-position:0px -600px; }
#sitemap li .cont:active a,
#sitemap li .cont:active .col-language,
#sitemap li .cont:active .col-language a{color:#5B80B2;}

#sitemap li .drop-over {
	border-bottom:1px solid #000;
}

.activ-filter div#sitemap ul,
.activ-filter div#sitemap li,
.activ-filter #sitemap li .col1 .info,
.activ-filter div#sitemap li.last{background-image:none;}
.activ-filter div#sitemap li .col1 .info a.collapse{display:none;}
.activ-filter #sitemap li .col1 .info{padding-left:5px;}
.activ-filter div#sitemap li{margin-left:0px; padding-left:0px;}


*/
br.clear {
	clear: both;
}

#sitemap ul.header {
	background:#E1E1E1 url(../images/nav-bg.gif) repeat-x scroll left top;
	}

	#sitemap ul.header,
	#sitemap ul.header li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		}
	
	#sitemap ul.header li {
		border-bottom: 1px solid #DEDEDC;
		line-height: 22px;
		}
		
		#sitemap ul div {
			float: right;
			padding: 0;
			border-left: 1px solid #DEDEDC;
			text-align: center;
			overflow: hidden;
			}
			
			#sitemap ul.header div {
				color:#666666;
				font-weight: bold;
				}
			
			#sitemap ul div.col-title {
				float: left;
				border: none;
				}
			
			#sitemap ul.header div.col-title { padding-left: 8px; }

#sitemap .col-actions { width: 90px; }
#sitemap .col-published { width: 65px; }
#sitemap .col-navigation { width: 90px; }
#sitemap .col-soft { width: 55px; }
#sitemap .col-template { width: 94px; }
#sitemap .col-creator { width: 65px; }

#sitemap li a.move {
	width:15px;
	height:14px;
	display:inline-block;
	background:url(../images/cut.gif) 0px 0px no-repeat; 
}
#sitemap li a.move span{display:none;}

#sitemap li a.selector-add {
	margin-left:4px;
	width:16px;
	height:14px;
	display:inline-block;
	background:url(../images/page_find.gif) 0 -1px no-repeat; 
}
#sitemap li a.selector-add span{display:none;}


#sitemap li a.addlink, #sitemap li a.deletelink{
	width:10px;
	height:10px;
	display:inline-block;
	background-position:0 0px;
	margin:0;
	padding:0;	
	margin-left:4px;
}
#sitemap li a.addlink span, #sitemap li a.deletelink span{display:none;}


/*div#sitemap ul.header li, div#sitemap ul.header {
	padding: 0px 0px 0px 12px;
	margin: 0px;
	list-style-type: none;
	}
div#sitemap ul.header {
	margin: 0px 0px 0px -12px;
	padding-bottom:0px; padding-top:0px;
	background: url(../images/sitemap-exim.gif) repeat-y;
	clear: both;
}*/

/*div#sitemap ul.header .cont div {
	display: block;
	float: left;
	padding: 0 2em;
}

div#sitemap ul.header, div#sitemap ul.header li{
	background:none;	
	border:none;
}
div#sitemap ul.header li{
	background:#E1E1E1 url(../images/nav-bg.gif) repeat-x scroll left top;
	border-bottom:1px solid #DDDDDD;
	color:#666666;
	font-size:11px;
	padding:2px 5px;
	font-weight:bold;
	height:auto;
}
#sitemap ul.header li .cont{
	background:none;
	height:15px;
	background:none;
	border:none;
}
#sitemap ul.header li .col-language,
#sitemap ul.header li .col-actions,	
#sitemap ul.header li .col-published,
#sitemap ul.header li .col-navigation,
#sitemap ul.header li .col-softroot,
#sitemap ul.header li .col-template,
#sitemap ul.header li .col-creator{
	height:auto;
	border:none;
	background:none;
	line-height:14px;
}
#sitemap ul.header li .cont:hover{}*/

#changelist{
	width:auto;
}

/* changelist filter */
#toolbar{height:23px;}
#changelist-filter-button{
	background:url(../images/changelist-filter-button-bg.jpg) no-repeat 0 0;
	border-left:1px solid #DDDDDD;
	margin:0;
	position:absolute;
	right:0;
	top:0;
	width:150px;
	z-index:1000;
	height:25px;
	height:auto;
	display:block;
	line-height:30px;
	padding-left:10px;
	
}
#changelist-filter-button:hover{
	background-position:0px -50px;
}
.activ-filter #changelist-filter-button{background-position:0px -100px; color:#fff;}
.activ-filter #changelist-filter-button:hover{background-position:0px -100px;}

#changelist-filter{
	top:30px;	
}
#changelist-filter h2{
	display:none;
}

.change-list .filtered {
	background:#fff none repeat-y scroll right top !important;
}

.change-list #changelist .module{
	border:none;

}
