{
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }]
    ],
    "plugins": ["@babel/plugin-transform-runtime"],
    "env": {
        "production": {
            "plugins": [
                "lodash"
            ]
        },
        "test": {
            "presets": [
                ["@babel/preset-env", {
                    "loose": true
                }]
            ],
            "plugins": [
                "rewire",
                ["babel-plugin-istanbul", {
                    "exclude": ["**/*.spec.js", "**/libs/**", "**/addons/**"]
                }]
            ]
        }
    }
}
