{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": ["transform-runtime"],
    "env": {
        "production": {
            "plugins": [
                "lodash"
            ]
        },
        "test": {
            "plugins": [
                "rewire"
            ]
        }
    }
}
