[run]
source =
    cms
    menus
branch = False
omit =
    cms/migrations/*
    cms/migrations_django/*
    cms/plugins/*/migrations/*
    cms/stacks/migrations/*
    cms/tests/*
    cms/test_utils/*
    menus/migrations/*
    docs/*
    env/*
    env*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
