[run]
branch = False
source =
    cms
    menus
omit =
    cms/migrations/*
    cms/south_migrations/*
    cms/tests/*
    cms/test_utils/*
    menus/migrations/*
    menus/south_migrations/*
    docs/*
    env/*
    env*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
