*.pyc
!.travis.yml
*.swp
*.lock
*.pid
cms/django
*.DS_Store
*.svn
.*
*.xml
/*env*/
*.sqlite
cms/media/cms_page_media/
cms/docs/build
example/run
example/local_settings.py
reversion/
htmlcov
build
dist
.ropeproject
.project
.pydevproject
.settings
/*.egg-info/
/*.egg/
develop-eggs
downloads
eggs
parts
bin
/dist
*~
/docs/*.html
distribute-*.tar.gz
include/
lib/
man/
share/
