*.pyc
!.travis.yml
*.swp
*.lock
*.log
*.pid
cms/django
*.DS_Store
*.svn
*.xml
/*env*/
/*docs/env*/
/*docs/build*/
*.sqlite
cms/media/cms_page_media/
example/run
example/local_settings.py
reversion/
htmlcov
build
dist
.ropeproject
.project
.coverage
.pydevproject
.vscode
.settings
/*.egg-info/
/*.egg/
develop-eggs
downloads
eggs
parts
bin
/dist
*~
distribute-*.tar.gz
include/
lib/
man/
share/
!.editorconfig
!.jscsrc
!.jshintrc
cms/static/cms/compass_app_log.txt
!cms/static/cms/js/dist
cms/tests/frontend/coverage
node_modules
screenshots
.idea
.better_test.db
