.aldryn
*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
.idea
.sass-cache
.eyeglass_cache
.idea
.cache.node_modules.tar.gz
*data.tar.gz

/tmp
/data/
/env
/docs/_build
/docs/env

/src/settings_local*.py
/requirements_local*.txt

/node_modules
/bower_components
npm-debug.log
*.css.map
/static/css/
/static/vendor
/static/docs/
/static/js/*.bundle.js

/tests/coverage
/tests/integration/index.bundle.js

Gemfile.lock
.bundle/

/tools/server/env
