/* Use the following CSS code if you want to have a class per icon */
.addlink,
.changelink,
#changelist-search label,
.deletelink,
a.selector-clearall,
a.active.selector-clearall,
a.selector-chooseall,
a.active.selector-chooseall,
.selector-remove,
.selector-add,
.inline-group div.add-row a
{
	background: none !important;
	padding-left: 10px;
	&:hover {
		text-decoration: none !important;
	}
	
}

.addlink:before,
.changelink:before,
#changelist-search label:before,
.deletelink:before,
a.selector-clearall:before,
a.active.selector-clearall:before,
a.selector-chooseall:before,
a.active.selector-chooseall:before,
.selector-remove:before,
.selector-add:before,
.inline-group div.add-row a:before
{
	font-family: 'django-admin-icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	font-size: 75%;
	-webkit-font-smoothing: antialiased;
	padding-right: 5px;
}


.addlink:before { content: "\22";  }
.changelink:before { content: "\21"; }
#changelist-search label:before { content: "\23"; }
.deletelink:before { content: "\24"; }
.selector-remove:before, a.selector-clearall:before, a.active.selector-clearall:before { content: "\25"; font-size: 100%; }
.selector-add:before, a.selector-chooseall:before, a.active.selector-chooseall:before { content: "\26"; font-size: 100%; }
.inline-group div.add-row a:before { content: "\22";  }

.actionlist {
	.addlink, .changelink { padding-left: 0; }
}



.addlink { color: $success-color !important; }
#changelist-search label { font-weight: bold; }
#changelist-search label img { display: none;}
.help-tooltip { display: none; }
a.active.selector-chooseall {  }
.selector-remove, .selector-add { display: inline !important; font-size: 125% !important; padding-left: 1px; color: $font-color-white !important; }
.selector-remove:before, .selector-add:before { color: $font-color; }
.inline-group div.add-row a { color: $success-color !important; padding-left: 5px !important; }

/* Shortcuts */
.admin_shortcuts .shortcuts li a {
	background: none !important;
	padding-left: 10px;
	&:hover {
		text-decoration: none !important;
	}
}

.admin_shortcuts .shortcuts li a:before
{
	font-family: 'django-admin-icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	font-size: 200%;
	-webkit-font-smoothing: antialiased;
	padding-right: 5px;
	vertical-align: middle;
}

.admin_shortcuts .shortcuts li a.pages:before { content: "\27"; }
.admin_shortcuts .shortcuts li a.home:before { content: "\28"; }
.admin_shortcuts .shortcuts li a.user:before { content: "\29"; }
.admin_shortcuts .shortcuts li a.files:before { content: "\2a"; }
.admin_shortcuts .shortcuts li a.contact:before { content: "\2b"; }

/* Sepcials */
.selector ul.selector-chooser { @include border-radius(10px); background: $background-color-light !important; height: 44px !important; }
