/* Box-list */
.box-list {
	&.half {
		width: 49%;		
		float: left;
		&.last {
			margin-left: 2%;
		}
	}
	.box-list-content {	
		margin-top: 15px;
		.box-list-desc {
			@include pie; 
			@include border-radius(5px 5px 0 0);	
			border: 1px solid $line-color-light;
			min-height: 100px;
			padding: 15px 20px 15px 20px;
			h3 {
				margin-bottom: 0;
			}
			.label {
				display: inline-block;
			}
		}
		.box-list-controls {
			@include pie; 
			@include border-radius(0 0 5px 5px);	
			background: $background-color-ultralight;
			border: 1px solid $line-color-light;
			border-top: 0;
			color: $font-color-light;
			padding: 8px 6px 8px 14px;
			.switch {
				float: right;
				margin-top: -32px;
			}
			.button {
				text-transform: uppercase;
				margin-top: -24px;
			}
			.combobox-hor {
				&.small{
					margin-top: -3px;
				}
			}
			.inline {
				margin-top: 0;
			}
		}
		
	}
}

/* Row-list*/

/* Highlighted Rows */ 
@mixin stripes($stripe-opacity){
	@include background-size (10px 10px);
	@include background-image(linear-gradient(-45deg, rgba(255, 255, 255, $stripe-opacity) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, $stripe-opacity) 50%, rgba(255, 255, 255, $stripe-opacity) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0)));			
}

.row-list-container {
	border-bottom: 1px solid $line-color-ultralight;
	.row-list {
		border-bottom: none;
	}
}

.row-list {
	border-top: none;	
	border-bottom: 1px solid $line-color-ultralight;
	&.collapse {
		color: $font-color-medium;
		display: none;
	}
	&.highlighter {
		.row:hover {
			background: $background-color-highlighter;
		}
	}	
	.row {
		border-top: 1px solid $line-color-ultralight;
		line-height: normal;
		min-height: 20px;
		padding: 10px 3px 6px 3px;		
		button, a.button, input[type="submit"] {
			margin-top: -6px;
			margin-right: 0;
			&.right {
				margin-left: 3px;
			}
			&.small {
				margin-top: -3px;
			}
		}
		input {
			margin-top: -5px;
		}
		span.version {
			margin-right: 10px;
		} 
		.align {
			display: inline-block;			
		}
		.switch {
			margin-top: -6px;
			margin-right: 3px;
		}
		.tags-container {
			margin-left: 0;
		}
		.inline {
			margin-top: -5px;
			line-height: 18px;
		}
		&.ok { 
			background: $background-color-ok; 
			@include background-image(linear-gradient( $background-color-ok-light, $background-color-ok)); 
		}
		&.fail { 
			background: $background-color-fail;
			@include stripes(.2); 
		}
		.chzn-container {
			display: inline-block;
		}
	}
}





