/* Meta */
div .meta { 
	margin-top: 22px;
	margin-right: 12px;
	text-align: right; 
	a { 
		color: $font-color-white; 
		font-weight: bold; 
	}
	small { 
		color: $font-color-ultralight; 
		font-weight: bold; 
		margin: 0; 
	}
	.vr {
		color: $font-color-light; 
	}
}

/* Top controls Tabs */
.top-controls {
	position: relative;
	nav {
		position: absolute;
		margin: -46px 0 0 354px;
		li {
			@include background-image(linear-gradient($button-silver-light-color, $button-silver-medium-color));
			@include box-shadow($line-color-light 0 0 1px 1px);  
		 	background-color: $button-silver-light-color; 
		 	border: none;
			a {
			 	color: $font-color-medium;
			}
			&:hover {
				@include background-image(linear-gradient($button-silver-medium-color, $button-silver-light-color));			
				@include box-shadow($line-color-light 0 0 1px 1px);  
			 	background-color: $button-silver-light-color;
			 	a {
				 	color:  $font-color;
			 	}	 	
			}
			
			&.active {
				@include box-shadow($line-color-light 0 0 1px 1px);  
			}
		}
	}
}

/* Navigation */
nav {
	margin-left: 213px;
	a { 
		color: $font-color-white; 
		font-weight: bolder; 
		text-decoration: none; 
		&:hover { 
			color: $font-color-white; 
			text-decoration: none; 
		}
		&:visited {
			color: $font-color-white; 
			text-decoration: none; 
		}
	}
	li { 
		@include pie; 
		background-color: $navigation-color-medium;
		@include background-image(linear-gradient($navigation-color-light, $navigation-color-medium));
		@include box-shadow($navigation-color-light 0 0 1px 1px inset);  
		@include border-radius(5px 5px 0 0);
		border: 1px solid $line-color-dark;
		border-bottom: 0; 
		cursor: pointer;  
		float: left; 
		margin: 15px 0 0 5px;
		a {
			display: block;
			padding: 7px 20px;	
		}
		&.active {
			@include box-shadow(none);  
			background: url('/static/images/bg-pattern-light.jpg') $background-color-ultralight repeat!important;
			margin-bottom: -1px;
			a { color: $font-color; }
			&:hover {
				@extend .active;
			}
		}
		&.internal {
            @include box-shadow($button-blue-medium-color 0px -2px 5px 0px);  
			@include background-image(linear-gradient($button-blue-light-color, $button-blue-medium-color));
			&.active {
			background-color: $navigation-color-active-medium;
				@include box-shadow(none);  
				@include background-image(linear-gradient($navigation-color-active-light, $navigation-color-active-medium));
				border-bottom: 1px solid $navigation-color-active-medium;	
				.commandcenter {
					background: url(../images/sprite.png) -70px -100px no-repeat!important;
				}
			}
			.commandcenter {
				width: 16px;
				display: inline-block;
				text-indent: -1000em;
				background: url(../images/sprite.png) -50px -100px no-repeat!important;
			}
		}
		
		&:hover {
			@include box-shadow(none);
			background: $navigation-color-highlight;	
			cursor: pointer;  
			.sub-menu {
				display: block;
		    	position: absolute;
			}
		}
	}
}


