/* Tables */
table { 
	@include border-radius(); 
	background: $background-color-white; 
	border-bottom: 1px solid $line-color-light;
	margin: 20px 0;
	padding: 5px; 
	width: 100%; 
	th {
		border-bottom: 1px solid $line-color-light;
	}
	th, td { 
		padding: 5px 10px; 
		text-align: left; 
		vertical-align: middle;  
	}
}

