.network-display {
    .btn-group {
        white-space: nowrap;
        min-width: 150px;

        .btn-outline {
            color: $body-color;
            border: 0;
            border-color: transparent;
            background: $white;

            .fa {
                color: $body-color;
            }

            &:last-child:not(:first-child) {
                border-left: 1px solid theme-color(primary);
            }
        }

        .active {
            color: $white;
            border-color: theme-color(primary);
            background: theme-color(primary);

            .fa {
                color: $white;
            }
        }
    }

    .panel-network {
        min-height: 225px;
        padding: 20px;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        .h6 {
            font-weight: 300;
            margin-top: 0;
        }

        label {
            display: inline-block;
        }

        address {
            margin-bottom: 10px;
        }

        .dl-horizontal dt {
            font-weight: 100;
            width: auto;
        }

        .dl-horizontal dd {
            float: left;
            font-weight: 300;
            margin-left: 0;
        }

        .center-block {
            white-space: nowrap;

            @include media-breakpoint-up(lg) {
                overflow: hidden;
                padding-right: 20px;

                &:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    bottom: 0;
                    z-index: 10;
                    width: 20px;
                    height: 20px;
                    pointer-events: none;
                    background-image: linear-gradient(left, rgba(250, 250, 250, 0), #fff);
                }
            }
        }
    }

    .panel-list-network {
        font-size: $text-network-filter-size;
        margin-bottom: 0;
        border: none;
        background: transparent;
        box-shadow: none;

        &-logo {
            position: relative;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            border: 1px solid $gray-400;
            background: white;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                vertical-align: middle;
                max-width: 90%;
                max-height: 90%;
                transform: translate(-50%, -50%);
            }
        }

        &-name {
            font-size: inherit;
            font-weight: 300;
            margin: 5px 0;
        }

        &-action {
            font-size: $btn-header-font-size;
            font-weight: 300;
            text-transform: uppercase;
        }

        &-pagination {
            font-weight: 200;
            border-radius: 0;

            span,
            a {
                border: none !important;
                border-radius: 0 !important;
            }
        }

        .row {
            display: table;
            width: 100%;

            > div {
                display: table-cell;
                float: none;
                vertical-align: middle;
                height: 100%;
            }
        }

        .fa {
            margin-top: 5px;
        }
    }

    .panel-list-link {
        display: block;
        min-height: 50px;
        padding: 10px 0;
        position: relative;
        border-bottom: 1px solid $gray-300;

        &:hover {
            background-color: $gray-200;
        }
    }

    .partners .col-sm-24:first-child .panel-list-link,
    .block-featured-individuals:first-child .panel-list-link {
        border-top: 1px solid $gray-200;
    }

    .pager {
        margin: 0;
        padding: 15px 0 35px;
    }
}

.panel-list-network-location {
    display: block;
    color: $gray3;
    font-weight: 200;
    padding-top: 3px;
}

.network-list-filter {
    font-size: $text-network-filter-size;

    &-header {
        color: $gray-700;
        font-size: $text-network-filter-header-size;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 7px;
        border-bottom: 1px solid $gray-200;
    }

    &-items,
    &-context {
        margin-top: -3px;

        a {
            line-height: $text-network-filter-line;

            &:hover,
            &:active,
            &.active {
                color: $gray-900;
                text-decoration: none;
            }

            &.active {
                font-weight: 300;
            }
        }
    }

    &-context {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.network-filters {
    .network-list-filter-mobile {
        display: none;
    }

    .mobile-filters-clear {
        display: block;
        color: $gray-900;
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
        .network-list-filter-mobile {
            display: block;
        }

        ul {
            display: none;
        }
    }
}

.network-list-filter-clear {
    margin-top: 1px;

    a {
        color: $gray-900;
    }

    + li {
        font-weight: 300;
    }
}

.network-detail {
    .modal-header {
        align-items: center;
    }

    .modal-map-header {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .network-detail-map {
        width: 100%;
        height: 300px;
    }

    .map-no-location {
        font-size: 16px;
        text-align: center;
        padding: 50px 0;
    }

    .modal-body {
        padding: 0;
    }

    .modal-dialog {
        margin-top: 125px;
    }
}

.network-detail-no-map {
    overflow: hidden;
    height: 300px;
    background-color: #e9e9eb;

    img {
        position: relative;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
}

.main-container {
    background: $gray5;

    &.map-box {
        background: none;
    }

    > strong {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        vertical-align: top;
        padding: 5px 5px;
    }

    .map {
        position: relative;

        .map-canvas {
            display: block;
            width: 100%;
            height: $map-height-large;
            border: 0;
        }
    }

    @include media-breakpoint-down(lg) {
        .map {
            .map-canvas {
                height: $map-height-tablet;
            }
        }
    }
}

.country-list-container {
    overflow-y: scroll;
    height: $map-height-large;
    padding-right: 0;

    .network-map-filter-header,
    .network-map-filter-items {
        font-size: 13px;
        font-weight: 600;
        border-bottom: 1px solid $gray-200;
        background-color: #fff;
    }

    .network-map-filter-header {
        margin: 0;
        padding: 15px 20px;
    }

    .network-map-filter-items {
        font-weight: 300;
        margin-bottom: 0;

        > li {
            padding: 3px 20px 3px 10px;
            border-bottom: 1px solid $gray-200;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .country-list-container {
        height: $map-height-tablet;
    }
}


// map view with legend
.container-with-legend {
    margin-bottom: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-600;

    .content-side {
        padding: 0 !important;
    }

    .legend-side {
        padding-left: 0 !important;
        border: 1px solid $gray-200;
    }
}

.network-map-features-content {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid $gray-200;

    .block-featured-organisations {
        margin-bottom: 20px;
        border: 1px solid $gray-200;
        background-color: $featured-organisations-block-bg;

        &-logo {
            border: 1px solid $gray-200;
        }
    }
}

.network-display .block-featured-individuals {
    .row > div {
        vertical-align: top;
    }

    .panel-list-network {
        &-name {
            margin-top: 10px;
            padding-right: 25px;
        }

        &-action {
            display: block;
            margin-right: -21px;
            padding-top: 9px;
        }
    }
}

.browse-all-link {
    display: block;
    font-size: $browse-all-link-size;
    font-weight: 300;
    text-decoration: none !important;
    text-transform: uppercase;
    margin-top: 3px;

    .fa {
        font-size: 0.9em;
    }

    @include media-breakpoint-down(sm) {
        text-align: left;
        margin-bottom: 20px;
    }
}
