// network items used for the entry partner page
.divio-network-box-item {
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 $line-height-computed;

    &:hover {
        background: theme-color(primary);
        text-decoration: none;

        h3,
        h4 {
            color: #fff;
        }
    }

    img {
        width: 68px;

        // width of 80px minus 10px padding and 2px border

    }

    h3,
    h4 {
        font-size: 15px;
        margin: 0;
    }

    h3 {
        color: #444;
        font-weight: 400;
        text-transform: uppercase;
    }

    h4 {
        color: #888;
    }

    .network-visual {
        min-width: 25%;
        flex-shrink: 0;
        padding: 10px 9px;
    }

    .network-visual-position {
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        padding: 5px;
        border: 1px solid $gray-200;
        background: #fff;

        img {
            max-height: 68px;
        }
    }

    .network-content {
        float: left;
        width: 75%;
        padding: 15px 9px;
    }
}

.divio-network-box-item-nohover {
    &:hover {
        background: transparent;

        h3,
        h4 {
            color: #000;
        }
    }
}

// reusable box style
.divio-network-box {
    border: 1px solid $gray-200;
    background: #fff;
}

//
