.partners-container,
.map-popup {
    .col {
        overflow: hidden;
        color: $gray2;
        font-size: 14px;
        line-height: 18px;
        padding: 4px 6px;

        &:first-child {
            float: left;
            width: 36.9%;
        }

        h2 {
            color: $gray2;
            font: 20px/30px;
            margin: 0 0 2px;
        }

        address {
            display: block;
            font-size: 16px;
            margin-bottom: 9px;
        }
    }

    .partner-logo {
        padding: 7px 0;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .data-box {
        text-align: left;

        a {
            font-size: 16px;
        }
    }
}

dl {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    margin: 2px 0 0;

    dt {
        float: left;
        color: $gray3;
        margin: 0 6px 2px 0;
    }

    dd {
        display: block;
        overflow: hidden;
        color: $gray2;
        font-family: $font-family-sans-serif;
        white-space: nowrap;
        margin: 0 0 2px;
    }

    &.developed {
        dt {
            font-size: 14px;
            font-weight: normal;
        }

        dd {
            font-size: 14px;
        }
    }
}

.map-popup {
    @include media-breakpoint-up(md) {
        width: 300px;
        padding-bottom: 20px;

        .partner-logo {
            img {
                max-height: 50px;
            }
        }

        .col {
            float: none;
            width: 100% !important;
        }

        h2 {
            font-size: 20px;
        }

        .data-box,
        .detail-link {
            position: static;
        }

        .btn-sign {
            margin-top: 15px !important;
        }
    }


    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    text-align: left;
    width: 700px;
    margin-top: 14px;
    padding: 10px 20px 87px 0;
    border: 1px solid $gray4;
    background: $white;
    transform: translateX(-50%);

    .popup-active & {
        display: block;
    }

    .data-box {
        position: absolute;
        bottom: 18px;
        left: 29px;
        width: 50%;

        a {
            font-size: 16px;
        }
    }

    .detail-link {
        position: absolute;
        right: 18px;
        bottom: 16px;
    }

    &:after {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-width: 0 10px 10px 10px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
    }
}
