// /agencies/find-agency/
.network-list {
    .card {
        margin-bottom: 20px;
    }

    .media {
        min-height: 100px;
    }

    h2 {
        font-size: $font-size-base;
        line-height: $line-height-base;
    }

    img {
        max-height: 100px;
    }

    .media-link {
        display: block;
        text-decoration: none;
        transition: 100ms all;

        &:hover {
            background: $gray-200;
            border-radius: $border-radius;
        }
    }
}

.divio-partner-col-left {
    max-width: 275px;

    .spitzmarke {
        font-size: rem(12px);
        margin-bottom: rem(10px);
    }

    a.spitzmarke {
        color: theme-color(primary);
        margin-bottom: rem(20px);
    }

    .h6 {
        font-size: rem(14px);
    }
}

.divio-partner-logo-section {
    max-width: 150px;
}

.divio-partner-col-right {
    .h6 {
        color: $body-color;
        margin-bottom: rem(20px);
    }
}
