.teaser-holder {
    margin-bottom: -964px !important;

    div.box {
        &:before {
            top: 35px;
        }

        .description-text {
            height: 165px;
        }
    }

    .fa {
        color: $gray-900;
        margin: 10px 3px 0;
        opacity: 0;
        transition: all 0.2s linear;
    }

    &:hover .fa {
        opacity: 1;
    }

    .features-owner {
        display: none;
    }
}
