<div class="col-12 article-tile article-tile-long">
    <div class="article-tile-wrap">
        <div class="row">
            {% if article_img %}
                <div class="article-tile-img">
                    <div class="article-img" style="background-image: url({{ article_img }})">
                    </div>
                </div>
            {% endif %}

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="article-tile-content">
                    <h3 class="h5">{{ title }}</h3>
                    <p class="text-secondary">{{ desc }}</p>
                    <div class="author">
                        <img src="{{ author_img }}" alt="Written by Daniele Procida" class="rounded-circle img-fluid"/>
                        <a href="#">{{ author_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
