<div class="card block {{ cls }}">
    <div class="d-flex flex-column card-body mw300 text-center">
        {% if icon_type %}
            {% include "includes/icon.html" with icon=icon_type class="mx-auto d-block mb-4 block-icon" color=icon_color %}
        {% endif %}
        <h3 class="card-title">{{ block_title|default:'Title' }}</h3>
        <p>{{ block_desc|default:'Description' }}</p>
        {% if block_button %}
            <a href="{{ block_href|default:'#' }}" class="mt-auto {{ block_button_class|default:'btn btn-primary' }}">{{ block_button|default:'Go to' }}
                {% if block_button_icon %}
                    {% include "includes/icon.html" with icon=block_button_icon color="white" class="" %}
                {% endif %}
            </a>
        {% endif %}
        {% if block_link %}
            <a href="{{ link_href|default:'#' }}" class="mt-auto mx-auto">{{ block_link|default:'Link to' }} {% include "includes/icon.html" with icon="arrow-right" color="blue" %}</a>
        {% endif %}
    </div>
</div>
