
<a class="media block-left block-btn {{ cls }}" href="{{ block_url }}">
    <div class="mr-3 d-flex align-self-middle" >
        {% if icon_type %}
          {% include "includes/icon.html" with icon=icon_type class=icon_class color=icon_color %}
        {% endif %}
    </div>

    <div class="media-body d-flex flex-column">
          <h3 class="mt-0">{{ block_title|default:'Title' }}</h3>
          <p>{{ block_desc|default:'Description' }}</p>
    </div>
    {% include "includes/icon.html" with icon="arrow-right" color="blue" class="align-self-center" %}
</a>
