<li class="{% if active %}cms-toolbar-item-navigation-active{% endif %}{% if disabled %} cms-toolbar-item-navigation-disabled{% endif %} {{ extra_classes|join:' ' }}">
    <a{% if disabled %} tabindex="-1"{% endif %} href="{{ action }}" data-rel="ajax" data-method="{{ method }}" data-post="{{ data }}"{% if question %} data-text="{{ question }}"{% endif %}{% if on_success %} data-on-success="{{ on_success }}"{% endif %}>
        <span>{{ name }}<span class="cms-icon cms-icon-arrow"></span></span>
    </a>
</li>
