{% load i18n %}{% spaceless %}
<div class="cms_toolbar-item cms_toolbar-item-buttons cms_toolbar-item_switch_save-edit">
    {% if request.toolbar.edit_mode %}
    <a class="cms-btn cms-btn-action cms-btn-switch-save" href="{{ request.toolbar.get_object_public_url }}?{{ request.toolbar.edit_mode_url_off }}">
        {% trans "Save as draft" %}
    </a>
    {% else %}
    <a class="cms-btn cms-btn-active cms-btn-switch-edit" href="{{ request.toolbar.get_object_draft_url }}?{{ request.toolbar.edit_mode_url_on }}">
        {% trans "Edit" %}
    </a>
    {% endif %}
</div>
{% endspaceless %}
<!-- This is different from 3.0 {% trans "Live" %} and {% trans "Draft" %} labels -->
