{% load i18n sekizai_tags cms_tags %}
{% load url from future %}
<form class="cms_toolbar-item cms_form-login" method="post" action="{% url 'pages-root' %}?next={{ request.path }}&amp;edit&amp;cms-toolbar-login=1">
	{% csrf_token %}
	<label{% if request.toolbar.login_form.username.errors %} class="cms_error"{% endif %}><span>{% trans "Username" %}</span> {{ request.toolbar.login_form.username }}</label>
	<label{% if request.toolbar.login_form.password.errors or request.toolbar.login_form.non_field_errors or cms_toolbar_login_error %} class="cms_error"{% endif %}><span>{% trans "Password" %}</span> {{ request.toolbar.login_form.password }}</label>
	<label><input type="submit" value="Login" /></label>
</form>