{% extends "admin/change_list.html" %}{% load i18n %}
{% block search %}
  {% if cl.available_languages %}
    <div class="language-selector">
      <label>{% trans "Language" %}:&nbsp;</label>
      <select class="language-selector js-language-selector">
        {% for code, lang in cl.available_languages %}
          <option value="{{ code }}"{% if cl.current_language == code %} selected{% endif %}>{{ lang }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
