{% extends "admin/cms/page/history/revision_header.html" %}
{% load i18n cms_tags admin_urls %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% cms_admin_url "jsi18n" %}" type="text/javascript"></script>
    {{ media }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'recoverlist' %}">
            {% blocktrans with opts.verbose_name as verbose_name %}
                Recover deleted {{ verbose_name }}
            {% endblocktrans %}
        </a> &rsaquo;
        {{ title }}
    </div>
{% endblock %}

{% block form_top %}
    <p>{% blocktrans %}Press the save button below to recover this version of the object.{% endblocktrans %}</p>
{% endblock %}