{% extends 'django_cms_marketplace/network/base.html' %}
{% load cms_tags staticfiles sekizai_tags thumbnail menu_tags i18n marketplace %}

{% block title %}{{ profile.name }} - Divio Partner{% endblock %}

{% block extend_base %}
    <div class="page-header">
        <div class="container">
            <div class="page-header-with-image">
                <p class="spitzmarke">Divio Partner</p>
                <h1 class="display-1">{{ profile.name }}</h1>
                <div class="lead">{{ profile.description|safe|truncatewords:"25" }}</div>
                <a href="../../../" class="btn btn-outline-primary mr-2">
                    {% include "includes/icon.html" with icon="arrow-right" class="icon-rotate-180" %} &nbsp;
                    {% trans "Back" %}
                </a>
                {% if profile.contact %}
                    {% if profile.kind|lower == "individual" %}
                        <a class="btn btn-primary js-analytics-link" href="mailto:{{ profile.contact }}?subject=Hiring%20Request%20from%20Divio%20Partners"
                            data-page="Partners"
                            data-process="{{ profile.name }}"
                            data-event="Clicked on Hire me"
                        >{% trans "Hire us" %}</a>
                    {% else %}
                        <a class="btn btn-primary js-analytics-link" href="mailto:{{ profile.contact }}?subject=Hiring%20Request%20from%20Divio%20Partners"
                            data-page="Partners"
                            data-process="{{ profile.name }}"
                            data-event="Clicked on Hire us"
                        >{% trans "Hire us" %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="section section-fullwidth stripe stripe-up">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if profile.logo %}
                        <img src="{{ profile.logo }}" alt="{{ profile.name }}" class="img-thumbnail p-3 mb-3">
                    {% endif %}

                    <div class="list-group mb-3">
                        <div class="list-group-item active"><strong>{% trans "About" %}</strong></div>
                        {% if profile.active_for %}
                            <div class="list-group-item">
                                {{ profile.active_for }} Yr{{ profile.active_for|pluralize }}. experience
                            </div>
                        {% elif profile.active_since %}
                            <div class="list-group-item">
                                {% trans "Since" %} {{ profile.active_since }}
                            </div>
                        {% endif %}

                        {% if profile.url %}
                            <a href="{{ profile.url }}" class="list-group-item list-group-item-action" target="_blank">
                                {% trans "View website" %}
                            </a>
                        {% endif %}
                    </div>

                    {% if profile.locations %}
                        <div class="list-group mb-3">
                            <div class="list-group-item active"><strong>{% trans "Locations" %}</strong></div>
                            {% for location in profile.locations %}
                                {% if location and location.lat and location.lon %}
                                    <a href="https://www.google.com/maps/place/{{ location.full_address|slugify }}/@{{ location.lat }},{{ location.lon }},14z"
                                        class="list-group-item" target="_blank">
                                        {{ location.full_address }}
                                    </a>
                                {% else %}
                                    <div class="list-group-item">
                                        {{ location.full_address }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if profile.expertise %}
                        <ul class="list-group mb-3">
                            <li class="list-group-item active"><strong>{% trans "Expertise" %}</strong></li>
                            {% for expertise in profile.expertise %}
                                <li class="list-group-item">{{ expertise }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h2>{% trans "Description" %}</h2>
                    {% if profile.backdrop %}
                        <p><img src="{{ profile.backdrop }}" alt="" class="img-fluid rounded"></p>
                    {% endif %}
                    {{ profile.description|safe }}

                    {% if profile.references %}
                        <div class="network-references">
                            <h2>
                                {% if profile.kind|lower == "individual" %}
                                    {% trans "My portfolio" %}
                                {% else %}
                                    {% trans "Our portfolio" %}
                                {% endif %}
                            </h2>
                            <div class="slick-carousel carousel js-carousel clearfix" data-carousel='{
                                "slidesToShow": 3,
                                "slidetToScroll": 1,
                                "autoplay": true,
                                "arrows": false,
                                "dots": true,
                                "autoplaySpeed": 3000,
                                "responsive": [
                                    {
                                        "breakpoint": 768,
                                        "settings": {
                                            "slidesToShow": 1,
                                            "slidesToScroll": 1
                                        }
                                    }
                                ]
                            }'>
                                <div class="carousel-inner">
                                {% for reference in profile.references %}
                                    <div class="item px-2">
                                        <div class="network-references-item">
                                            <div class="network-references-item-image">
                                                <a href="{{ reference.url }}" title="{{ reference.title }}" target="_blank">
                                                    <img src="{{ reference.screenshot_url }}" class="img-fluid" alt="{{ reference.title }}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock extend_base %}
