{% extends 'django_cms_marketplace/network/base.html' %}
{% load cms_tags staticfiles sekizai_tags thumbnail menu_tags i18n marketplace %}

{% block title %}{{ profile.name }} - Divio Partner{% endblock %}

{% block extend_base %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <div class="divio-partner-col-left pt-3 pt-md-6 pt-lg-7">
                    <div class="divio-partner-logo-section mb-7">
                        {% if profile.logo %}
                            <img src="{{ profile.logo }}" alt="{{ profile.name }}" class="img-thumbnail p-3 mb-3">
                        {% endif %}

                        <a href="../../../" class="btn btn-block btn-sm btn-outline-primary mr-2">
                            {% trans "Back to overview" %}
                        </a>

                        {% if profile.contact %}
                            {% if profile.kind|lower == "individual" %}
                                <a class="btn btn-primary btn-block btn-sm js-analytics-link" href="mailto:{{ profile.contact }}?subject=Hiring%20Request%20from%20Divio%20Partners"
                                    data-page="Partners"
                                    data-process="{{ profile.name }}"
                                    data-event="Clicked on Hire me"
                                >{% trans "Hire us" %}</a>
                            {% else %}
                                <a class="btn btn-primary btn-block btn-sm js-analytics-link" href="mailto:{{ profile.contact }}?subject=Hiring%20Request%20from%20Divio%20Partners"
                                    data-page="Partners"
                                    data-process="{{ profile.name }}"
                                    data-event="Clicked on Hire us"
                                >{% trans "Hire us" %}</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="mb-5">
                        <p class="h6">{% trans "About" %}<p>
                        {% if profile.active_for %}
                            <div class="spitzmarke">
                                {{ profile.active_for }} Yr{{ profile.active_for|pluralize }}. experience
                            </div>
                        {% elif profile.active_since %}
                            <div class="spitzmarke">
                                {% trans "Since" %} {{ profile.active_since }}
                            </div>
                        {% endif %}

                        {% if profile.url %}
                            <a href="{{ profile.url }}" class="spitzmarke" target="_blank">
                                {% trans "View website" %}
                            </a>
                        {% endif %}
                    </div>

                    {% if profile.locations %}
                        <div class="mb-5">
                            <p class="h6">{% trans "Locations" %}</p>
                            {% for location in profile.locations %}
                                {% if location and location.lat and location.lon %}
                                    <a class="spitzmarke" href="https://www.google.com/maps/place/{{ location.full_address|slugify }}/@{{ location.lat }},{{ location.lon }},14z"
                                        class="" target="_blank">
                                        {{ location.full_address }}
                                    </a>
                                {% else %}
                                    <div class="spitzmarke">
                                        {{ location.full_address }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if profile.expertise %}
                        <div class="mb-5">
                            <p class="h6">{% trans "Expertise" %}</p>
                            {% for expertise in profile.expertise %}
                                <div class="spitzmarke">{{ expertise }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="pt-3 pt-md-6 pt-lg-7 divio-partner-col-right">
                    <p class="spitzmarke">Divio Partner</p>
                    <h1 class="display-1 mb-5">{{ profile.name }}</h1>

                    {% if profile.backdrop %}
                        <img src="{{ profile.backdrop }}" alt="" class="img-fluid rounded mb-5">
                    {% endif %}

                    <div class="lead mb-7">
                        {{ profile.description|safe }}
                    </div>

                    {% if profile.references %}
                        <div class="network-references">
                            <h2 class="h6 spitzmarke-lg">
                                {% if profile.kind|lower == "individual" %}
                                    {% trans "My portfolio" %}
                                {% else %}
                                    {% trans "Our portfolio" %}
                                {% endif %}
                            </h2>
                            <div class="slick-carousel carousel js-carousel clearfix" data-carousel='{
                                "slidesToShow": 3,
                                "slidetToScroll": 1,
                                "autoplay": true,
                                "arrows": false,
                                "dots": true,
                                "autoplaySpeed": 3000,
                                "responsive": [
                                    {
                                        "breakpoint": 768,
                                        "settings": {
                                            "slidesToShow": 1,
                                            "slidesToScroll": 1
                                        }
                                    }
                                ]
                            }'>
                                <div class="carousel-inner">
                                {% for reference in profile.references %}
                                    <div class="item px-2">
                                        <div class="network-references-item">
                                            <div class="network-references-item-image">
                                                <a href="{{ reference.url }}" title="{{ reference.title }}" target="_blank">
                                                    <img src="{{ reference.screenshot_url }}" class="img-fluid" alt="{{ reference.title }}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock extend_base %}
