{% extends "admin/base_site.html" %}
{% load admin_static %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="cms-content-wizard">
        {% block wizard %}{% endblock %}
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    {{ form.media }}
{% endblock %}
