<link href="{{ base_url }}?djDebugStatic=djDebugToolbar.compressed.css" rel="stylesheet" type="text/css">
<script type="text/javascript">djDebugBaseUrl = '{{ base_url }}';</script>
<script type="text/javascript" src="{{ base_url }}?djDebugStatic=jquery.js"></script>
<script type="text/javascript" src="{{ base_url }}?djDebugStatic=jquery.tablesorter.js"></script>
<script type="text/javascript" src="{{ base_url }}?djDebugStatic=djDebugToolbar.compressed.js"></script>

{% ifnotequal debug_show_cookie "false" %}
	<div class="hide" id="djDebugToggleToolbar">+</div>
	<div id="djDebug">
{% else %}
	<div id="djDebugToggleToolbar">+</div>
	<div class="hide" id="djDebug">
{% endifnotequal %}
	<ul id="djDebugPanelList">
		<li id="djDebugCloseToolbar">X</li>
		<li id="djDebugFireBug"></li>
		<li class="name">django debug toolbar<span class="version">django: {{ django_version }}</span></li>
		{% for panel in panels %}
			<li class="djDebugButton{% if not panel.has_content %} disabled{% endif %}" rel="{{ panel.dom_id }}">
				{% if panel.has_content %}
					<a href="{{ panel.url|default:"#" }}" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
				{% else %}
					<span>{{ panel.title }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	<div id="decoration">
		<div class="roundLeft"></div><div class="roundRight"></div>
	</div>
	{% for panel in panels %}
		{% if panel.has_content %}
			<div id="{{ panel.dom_id }}" class="panelContent">
				{{ panel.content|safe }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="panelContent" id="djDebugTempPanel" style="">
		<div id="djDebugTempPanelContent"></div>
	</div>
</div>