{% extends "content.html" %}
{% load i18n staticfiles cms_tags menu_tags %}

{% block breadcrumb %}{% endblock %}
{% block title %}Textpage{% endblock %}

{% block content %}
{% include 'divio_styleguide/includes/page-header.html' with title='Title' centered=True %}

<div class="container">
    <div class="row my-7 justify-content-center">
        <div class="col-12 col-lg-8 text-block">
            <h2>Heading</h2>
            <p>At Divio we build web applications that aim to make the life of developers easier. We would love for you to use them. We offer a free service and also paid services or products . Feel free to use these tools to create awesome new websites or applications. However be responsible in what you publish. In particular, make sure that none of the prohibited items listed below appear on your site or get linked to from your site (things like spam, viruses, or hate content).</p>
            <p>If you find a Divio Cloud powered site that you believe violates our terms of service, please report this immediately via our Divio Support.</p>
            <p>Elit labore iste recusandae iure ipsam eligendi Nam ipsa ea placeat voluptatum repellendus Enim tempora reprehenderit quos repudiandae pariatur voluptate Aperiam hic tempora suscipit et dolores praesentium? Consectetur eum nihil!</p>
        </div>
        <div class="col-12 col-lg-9">
            <img class="img-fluid" src="{% static 'img/dummy/control-tablet@2x.jpg' %}">
        </div>
    </div>
</div>
{% endblock %}
