{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n pages_tags %}
{% block title %}List of pages{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a> &rsaquo; 
    <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst|escape }}
    </div>
{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}
{% block extrahead %}{{ block.super }}

<!--link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}css/rte.css" />-->
<link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}css/pages.css"/>
<link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}css/jquery.tooltip.css"/>
<!--script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.js"></script-->

<link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}jstree/tree_component.css" />
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/css.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/jquery.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/jquery.listen.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/tree_component.js"></script>

<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/sarissa.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/sarissa_ieemu_xpath.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/jquery.xslt.js"></script>

<!-- required for cookie functionality -->
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/jquery.cookie.js"></script>

<!-- required for metadata rule definitions -->
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/_lib/jquery.metadata.js"></script>


<script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/change_list.js"></script>
<!--script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.bgiframe.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.tooltip.js"></script-->


{% endblock %}


{% block content_title %}<h1>{% trans "Select" %} {{ name }} {% trans "to change" %}</h1>{% endblock %}

{% block content %}
<div id="content-main"{% if cl.is_filtered %} class="activ-filter"{% endif %}>

{% block object-tools %}
{% if has_add_permission %}
<ul class="object-tools"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}
{% endblock %}
<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
{% block search %}{% search_form cl %}{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<script type="text/javascript">
	function showchangelistfilter(){
		$("#changelist-filter").toggle();
	}
	function moveSuccess(node){
		var msg = $('<span>{% trans "Successfully moved" %}</span>');
		node.append(msg);
	    msg.fadeOut(5000);
	}
	function moveError(node){
		var msg = $('<span>An error occured. Please reload the page</span>');
		node.append(msg);
	}
</script>


<a href="javascript:showchangelistfilter();" id="changelist-filter-button">Filter: {% if cl.is_filtered %}{% trans "on" %}{% else %}{% trans "off" %}{% endif %}</a>
<div id="changelist-filter" style="display:none;">
<h2>{% trans 'Filter' %}</h2>
{% for spec in cl.filter_specs %}
   {% admin_list_filter cl spec %}
{% endfor %}
</div>
{% endif %}
{% endblock %}

<div class="module" id="changelist">

{% include "admin/cms/page/change_list_tree.html" %}

</div>
</div>
</div>

{% endblock %}