{% extends "admin/change_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% block jquery %}<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>{% endblock jquery %}
<script type="text/javascript" src="{% static "cms/js/plugins/cms.base.js" %}"></script>
{{ media }}
{% endblock %}

{% block content %}
<script type="text/javascript">
(function($, CMS) {
// CMS.$ will be passed for $
$(document).ready(function () {
	// save current plugin
	CMS.API.Helpers.reloadBrowser(undefined, {{ window_close_timeout|default:1000 }});
});
})(CMS.$, window.CMS || window.parent.CMS);
</script>
{% endblock %}