{% load cms_admin i18n adminmedia %}<li id="page_{{page.pk}}" class="{% if cl.is_filtered %}leaf{% endif %}{% if has_move_page_permission %} moveable{% endif %}{%if page.children.all %} closed{% endif %}"{% if metadata %} mdata="{{ metadata }}{% endif %}" rel="{% ifequal page.level 0 %}topnode{% else %}node{% endifequal %}">
    
    {% include 'admin/cms/page/menu_item.html' %}
    
    {% with page.children as children %}
        {% if children %}<ul{% if page.last %} class="last"{% endif %}>
        </ul>{% endif %}
    {% endwith %}
</li>


