<li id="page_{{page.pk}}" {% if cl.is_filtered %}class="leaf"{% endif %} >{% load cms_tags i18n adminmedia %}
	<div class="cont">
		<div class="col1">
			<a href="{{ url }}{{ page.id }}/" class="title" title="{% trans "edit this page" %}">{{ page.get_slug }}</a>	
			<a href="{{ url }}{{ page.id }}/" class="changelink" title="{% trans "edit this page" %}">edit</a>
		</div>
		<div class="col2">	
			<span id="move-target-{{ page.id }}" class="move-target-container" >
				<a href="#" class="move-target left" title="{% trans "insert above" %}"><img alt="" src="{% admin_media_prefix %}img/admin/arrow-up.gif"/></a><span class="line first"> |</span>
				<a href="#" class="move-target right" title="{% trans "insert below" %}"><img alt="" src="{% admin_media_prefix %}img/admin/arrow-down.gif"/></a><span class="line second"> |</span>
				<a href="#" class="move-target first-child" title="{% trans "insert inside" %}">↘</a>
			</span>
			<div class="col-language">{% for lang in page.get_languages %}<a href="{{ url }}{{ page.id }}/?language={{ lang }}" title="{% blocktrans with lang|upper as language %}Edit this page in {{ language }} {% endblocktrans %}">{{ lang }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</div>
			<div class="col-actions">{% if not filtered %}
				<a href="{% ifnotequal cl.current_site site %}http://{{ cl.current_site.domain }}{% endifnotequal %}{{ page.get_absolute_url }}?preview" title="{% trans "View on page" %}" class="selector-add viewpage" id="view-page-{{page.id}}"><span>{% trans "view" %}</span></a>
				<a href="#" class="move" title="{% trans "Cut" %}" id="move-link-{{ page.id }}"><span>{% trans "cut" %}</span></a>
				<a href="#" class="copy" title="{% trans "Copy" %}" id="copy-link-{{ page.id }}"><span>{% trans "copy" %}</span></a>{% endif %}
				<a href="#" class="addlink" title="{% trans "Add Child" %}" id="add-link-{{ page.id }}"><span>{% trans "add" %}</span></a>
				<a href="{{ page.id }}/delete/" title="{% trans "Delete" %}" class="deletelink"><span>{% trans "delete" %}</span></a>
			</div>	
			<div class="col-published">{% if page.status %}
				<label>
					<img alt="True" src="{% admin_media_prefix %}img/admin/icon-yes.gif"/>{% if has_publish_permission %}
					<input type="checkbox" class="publish-checkbox" name="status-{{ page.id }}" checked="checked" value="1" />{% endif %}
				</label>{% else %}
				<label>
					<img alt="False" src="{% admin_media_prefix %}img/admin/icon-no.gif" />{% if has_publish_permission %}
					<input type="checkbox" class="publish-checkbox" name="status-{{ page.id }}" value="0" />{% endif %}
				</label>{% endif %}			
			</div>
			<div class="col-navigation">{% if page.in_navigation %}
				<label>
					<img alt="True" src="{% admin_media_prefix %}img/admin/icon-yes.gif"/>
					<input type="checkbox" class="navigation-checkbox" name="navigation-{{ page.id }}" checked="checked" value="1" />
				</label>{% else %}
				<label>
					<img alt="False" src="{% admin_media_prefix %}img/admin/icon-no.gif" />
					<input type="checkbox" class="navigation-checkbox" name="navigation-{{ page.id }}" value="0" />
				</label>{% endif %}				
			</div>{% if softroot %}
			<div class="col-softroot">{% if page.soft_root %}
				
					<img alt="True" src="{% admin_media_prefix %}img/admin/icon-yes.gif"/>
				{% endif %}				
			</div>{% endif %}
			<div class="col-template">{{ page.get_template_name }}</div>
			<div class="col-creator">{% firstof page.author.get_full_name page.author.first_name page.author.username %}</div>
		</div>
	</div>{% if children %}
	<ul{% if page.last %} class="last"{% endif %}>{% for child in children %}
		{% show_admin_menu child no_children level %}{% endfor %}
	</ul>{% endif %}
</li>


