{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.js"></script>
{{ media }}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<script type="text/javascript">
//<![CDATA[	
(function($) {
	if(parent != self){
		parent.hide_iframe({{ plugin.pk }}, "{{ type }}", "{{ name }}", "{% trans "Plugin saved successfully." %}");
	}else{
		opener.dismissEditPluginPopup(window, "{{ plugin_id }}", "{{ icon }}", "{{ alt }}");
	}
})(jQuery);
//]]>
</script>
{% endblock %}