{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia pages_tags %}
{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.js"></script>
<link href="{{ CMS_MEDIA_URL }}/css/plugin_forms.css" type="text/css" media="all" rel="stylesheet" />
{{ form.media }}

{{ block.super }}

{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		parent.setiframeheight($('body').height(), {{plugin.pk}});
	});
	
</script>

<div id="content-main">

{% block top %}{% endblock %}
<form action="/admin/cms/page/edit-plugin/{{ plugin.pk }}/" enctype="multipart/form-data" method="post">
	<h2>{{ plugin.get_plugin_name }}</h2>
	{{ form.as_p }}
	
	<input type=submit value="{% trans "save" %}" />
</form>
</div>
{% endblock %}