{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia cms_tags %}
{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}javascript/jquery.js"></script>
<link href="{{ CMS_MEDIA_URL }}/css/plugin_forms.css" type="text/css" media="all" rel="stylesheet" />
{{ form.media }}

{{ block.super }}

{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<script type="text/javascript">
function runOnLoad(f) {
    if (runOnLoad.loaded) f();
    else runOnLoad.funcs.push(f);
}

runOnLoad.funcs = [];
runOnLoad.loaded = false;

runOnLoad.run = function() {
    if (runOnLoad.loaded) return;

    for(var i = 0; i < runOnLoad.funcs.length; i++) {
        try { runOnLoad.funcs[i](); }
        catch(e) { }
    }
    
    runOnLoad.loaded = true;
    delete runOnLoad.funcs;
    delete runOnLoad.run; 
};

if (window.addEventListener)
    window.addEventListener("load", runOnLoad.run, false);
else if (window.attachEvent) window.attachEvent("onload", runOnLoad.run);
else window.onload = runOnLoad.run;
	
	
runOnLoad(function(){
   parent.setiframeheight($('body').height(), {{plugin.pk}});
});	
</script>

<div id="content-main">

{% block top %}{{ plugin.render_plugin }}{% endblock %}
<form action="/admin/cms/page/edit-plugin/{{ plugin.pk }}/" enctype="multipart/form-data" method="post">
	<h2>{{ plugin.get_plugin_name }}</h2>
	<fieldset class="module aligned general">
		
		{% for field in form %}
		<div class="form-row">
		    <div class="{% if field.field.required %} required{% endif %}">
			  {% if field.is_checkbox %}
		          {{ field }}{{ field.label_tag }}
		      {% else %}
		          {{ field.label_tag }}{{ field }}
		      {% endif %}
		      {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %} 
			  {{ field.errors }}   
		    </div>
		</div>
		{% endfor %}
	</fieldset>
	
	<input class="" type="submit" name="_save"  value="{% trans "Save" %}" />
</form>
</div>
{% endblock %}
