{% extends "admin/change_form.html" %}
{% load i18n l10n admin_modify cms_tags cms_admin %}
{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% admin_static_url %}js/jquery.min.js"></script>
{% endblock %}

{% block content_title %}{% trans "An old revision of a plugin can not be saved!" %}{% endblock %}

{% block content %}
<script type="text/javascript">
//<![CDATA[	
(function($) {
	$(document).ready(function() {
	   parent.setiframeheight($('body').height(), {{ plugin.pk|unlocalize }});
	});	
})(jQuery);
//]]>
</script>
{% endblock %}
