{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia cms_tags %}
{% block title %}{% trans "Change a page" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
{% endblock %}

{% block content_title %}{% trans "An old revision of a plugin can not be saved!" %}{% endblock %}

{% block content %}
<script type="text/javascript">
//<![CDATA[	
(function($) {
	$(document).ready(function() {
	   parent.setiframeheight($('body').height(), {{plugin.pk}});
	});	
})(jQuery);
//]]>
</script>
{% endblock %}
