{% load i18n l10n admin_urls %}
{% spaceless %}
<ul class="cms-pagetree-dropdown-menu-inner">
    {% block actions %}
        <li
            {% if has_copy_page_permission %}
                class="js-cms-tree-item-copy"
                data-id="{{ page.pk|unlocalize }}"
                data-node-id="{{ node.pk|unlocalize }}"
                data-apphook="{{ page.application_urls|default_if_none:"" }}"
            {% endif %}
        >
            <a{% if not has_copy_page_permission %} class="cms-pagetree-dropdown-item-disabled"{% endif %} href="#" title="{% filter escapejs %}{% trans "Copy" %}{% endfilter %}">
                <span class="cms-icon cms-icon-copy"></span>
                <span>{% trans "Copy" %}<span>
            </a>
        </li>
        <li
            {% if has_move_page_permission %}
                class="js-cms-tree-item-cut"
                data-id="{{ page.pk|unlocalize }}"
                data-node-id="{{ node.pk|unlocalize }}"
            {% endif %}
        >
            <a{% if not has_move_page_permission %} class="cms-pagetree-dropdown-item-disabled"{% endif %}
                href="#"                 title="{% filter escapejs %}{% trans "Cut" %}{% endfilter %}">
                <span class="cms-icon cms-icon-cut"></span>
                <span>{% trans "Cut" %}<span>
            </a>
        </li>
        <li>
            <a href="#" data-id="{{ page.pk|unlocalize }}"
                data-node-id="{{ node.pk|unlocalize }}"
                class="{% if has_add_permission %}js-cms-tree-item-paste{% endif %}
                {% if not has_add_permission or not paste_enabled %} cms-pagetree-dropdown-item-disabled{% endif %}">
                <span class="cms-icon cms-icon-paste"></span>
                <span>{% trans "Paste" %}</span>
            </a>
        </li>
        <li>
            {% if has_delete_permission %}
                <a href="{% url opts|admin_urlname:'delete' page.id %}" title="{% filter escapejs %}{% trans "Delete" %}{% endfilter %}">
            {% else %}
                <a href="#" class="cms-pagetree-dropdown-item-disabled">
            {% endif %}
                    <span class="cms-icon cms-icon-bin"></span>
                    <span>{% trans "Delete" %}...</span>
                </a>
        </li>
        {% if has_change_permission and page.is_potential_home %}
            <li class="js-cms-tree-item-set-home">
                <a href="{% url opts|admin_urlname:'set_home' page.id %}" title="{% filter escapejs %}{% trans "Set as home" %}{% endfilter %}">
                    <span class="cms-icon cms-icon-home"></span>
                    <span>{% trans "Set as home" %}</span>
                </a>
            </li>
        {% else %}
            <li class="js-cms-tree-item-set-home">
                <a href="#" class="cms-pagetree-dropdown-item-disabled">
                    <span class="cms-icon cms-icon-home"></span>
                    <span>{% trans "Set as home" %}</span>
                </a>
            </li>
        {% endif %}
        <li>
            {% if has_change_advanced_settings_permission %}
                <a href="{% url opts|admin_urlname:'advanced' page.id %}" title="{% filter escapejs %}{% trans "Advanced settings" %}{% endfilter %}">
            {% else %}
                <a href="#" class="cms-pagetree-dropdown-item-disabled">
            {% endif %}
                    <span class="cms-icon cms-icon-advanced-settings"></span>
                    <span>{% trans "Advanced settings" %}</span>
                </a>
        </li>
    {% endblock actions %}
    <li class="cms-pagetree-dropdown-separator">&nbsp;</li>
    <li>
        {% if page.publication_date %}
            <p title="{% filter escapejs %}{% trans "publication date" %}{% endfilter %}: {{ page.publication_date|date:"Y-m-d" }}"><strong>{% filter escapejs %}{% trans "publication date" %}{% endfilter %}:</strong> {{ page.publication_date|date:"Y-m-d" }}</p>
        {% endif %}
        {% if page.publication_end_date %}
            <p title="{% filter escapejs %}{% trans "publication end date" %}{% endfilter %}: {{ page.publication_end_date|date:"Y-m-d" }}"><strong>{% filter escapejs %}{% trans "publication end date" %}{% endfilter %}:</strong> {{ page.publication_end_date|date:"Y-m-d" }}</p>
        {% endif %}
        <p title="{% filter escapejs %}{% trans "is restricted" %}: {% if page_is_restricted %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}{% endfilter %}">
            <strong>{% trans "is restricted" %}:</strong>
            {% if page_is_restricted %}
                {% trans "Yes" %}
            {% else %}
                {% trans "No" %}
            {% endif %}
        </p>
        {% if page.changed_by %}
            <p title="{% filter escapejs %}{% trans "last change by" %}{% endfilter %}: {{ page.changed_by }}"><strong>{% trans "last change by" %}:</strong> {{ page.changed_by }}</p>
        {% endif %}
        {% if page.changed_date %}
            <p title="{% filter escapejs %}{% trans "last change on" %}{% endfilter %}: {{ page.changed_date|date:"Y-m-d H:i:s" }}"><strong>{% trans "last change on" %}:</strong> {{ page.changed_date|date:"Y-m-d H:i:s" }}</p>
        {% endif %}
        {% if page.get_template_display %}
            <p title="{% filter escapejs %}{% trans "template" %}{% endfilter %}: {{ page.get_template_display }}"><strong>{% trans "template" %}:</strong> {{ page.get_template_display }}</p>
        {% endif %}
        {% if metadata %}
            <p title="{% filter escapejs %}{% trans "meta" %}{% endfilter %}: {{ metadata }}"><strong>{% trans "meta" %}:</strong> {{ metadata }}</p>
        {% endif %}
        {% if page.site %}
            <p title="{% filter escapejs %}{% trans "site" %}{% endfilter %}: {{ page.site }}"><strong>{% trans "site" %}:</strong> {{ page.site }}</p>
        {% endif %}
    </li>
</ul>
{% endspaceless %}
