{% extends "admin/change_list.html" %}
{% load i18n admin_list admin_static admin_urls cms_admin cms_js_tags %}

{# admin_list admin_urls cms_admin cms_js_tags #}

{# TODO might not need that #}
{% block title %}{% trans "List of pages" %}{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
{% block pagination %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {# INFO: we need to add styles here instead of "extrastyle" to avoid conflicts with adminstyle #}
    <link rel="stylesheet" href="{% static 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static 'cms/css/cms.pagetree.css' %}">
    <link rel="stylesheet" href="{% static 'cms/js/jstree/tree_component.css' %}">
    <link rel="stylesheet" href="{% static 'cms/js/libs/jstree/themes/default/style.min.css' %}">
    {# TODO why? #}
    {% if cl.is_filtered %}
        <link rel="stylesheet" href="{% static 'cms/js/libs/jstree/themes/default/style.css' %}">
    {% endif %}
    <script src="{% static 'cms/js/modules/jquery.noconflict.pre.js' %}"></script>
    <script src="{% static 'cms/js/dist/bundle.admin.base.min.js' %}"></script>
    <script src="{% static 'cms/js/libs/jstree/jstree.js' %}"></script>
    <script src="{% static 'cms/js/libs/jstree/jstree.grid.js' %}"></script>
    <script src="{% static 'cms/js/modules/cms.pagetree.js' %}"></script>
    <script src="{% static 'cms/js/modules/jquery.noconflict.post.js' %}"></script>
{% endblock extrahead %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
            <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
            {{ opts.verbose_name_plural|capfirst|escape }}
            {# TODO might remove this or add reset #}
            {% if request.REQUEST.q %}
            &rsaquo; {% trans "Search" %}
            {% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block object-tools %}
    <ul class="object-tools">
        {% if has_recover_permission %}
            <li>
                <a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">
                    {% blocktrans with cl.opts.verbose_name_plural|escape as name %}
                        Recover deleted {{ name }}
                    {% endblocktrans %}
                </a>
            </li>
        {% endif %}
        {% if has_add_permission %}
            <li>
                <a href="{% url opts|admin_urlname:'add' %}" class="addlink">
                    {% blocktrans with cl.opts.verbose_name as name %}
                        Add {{ name }}
                    {% endblocktrans %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock object-tools %}

{% block search %}
    {# TODO needs markup comparison #}
    {# TODO integrate site selector #}
    {# TODO standard search form #}
    {# search_form cl #}
    <form action="." method="get" class="cms-tree-search" id="changelist-search">
        <label for="field-search">{% trans "Search" %}</label>
        <input type="text" name="q" id="field-search" value="{{ request.GET.q }}">

        {% if cl.sites.count > 1 %}
            <label for="field-search-site">{% trans "Pages on:" %}</label>
            <select name="site__exact" id="field-search-site">
                {% for site in cl.sites %}
                    <option value="{{ site.pk }}"{% if site.pk == cl.current_site.pk %} selected="selected"{% endif %}>{{ site.name }}</option>
                {% endfor %}
            </select>
        {% endif %}

        <input type="submit" value="{% trans "Search" %}">
        <input type="hidden" name="copy">
        {% csrf_token %}
    </form>
{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div class="cms-tree-filters">
            <a href="#" class="js-cms-tree-filter-trigger" id="changelist-filter-button">
                {% trans "Filter:" %} {% if cl.is_filtered %}{% trans "on" %}{% else %}{% trans "off" %}{% endif %}
            </a>
            <div class="js-cms-tree-filter-container hidden" id="changelist-filter">
                <h2>{% trans "Filter" %}</h2>
                {% for spec in cl.filter_specs %}
                    {% clean_admin_list_filter cl spec %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block result_list %}
    <div class="clear"></div>
    <h2>{% trans "Pages" %}</h2>

    {% if cl.get_items %}
        {# INFO: javascript is loaded from cms.pagetree.js #}
        <div class="cms-pagetree-container">
            <div class="cms-pagetree js-cms-pagetree" data-json='{
                "csrf": "{{ csrf_token }}",
                "static": "{{ STATIC_URL }}",
                "permission": "{{ CMS_PERMISSION|bool }}",
                "debug": "{{ DEBUG|bool }}",
                "filtered": "{{ cl.is_filtered|bool }}",
                "lang": {
                    "code": "{{ LANGUAGE_CODE|lower }}",
                    "success": "{% filter escapejs %}{% trans "Successfully moved" %}{% endfilter %}",
                    "changes": "{% filter escapejs %}{% trans "Changes within the tree might require a refresh." %}{% endfilter %}",
                    "error": "{% filter escapejs %}{% trans "An error occured. Please reload the page" %}{% endfilter %}",
                    "publish": "{% filter escapejs %}{% trans "Are you sure you want to § this page?" %}{% endfilter %}",
                    "loading": "{% trans "Loading..." %}"
                },
                "columns": [{
                    "title": "{% trans 'Pages' %}",
                    "key": "",
                    "width": "100%"
                }, {
                    "title": "&nbsp;",
                    "key": "view"
                }, {
                    "title": "{% trans 'View' %}",
                    "key": "preview"
                }, {% for lang in site_languages %}{
                    "title": "{{ lang|upper }}",
                    "key": "{{ lang }}"
                }, {% endfor %} {
                    "title": "{% trans 'Menu' %}",
                    "key": "menu"
                }, {
                    "title": "{% trans 'Options' %}",
                    "key": "options"
                }, {
                    "title": "{% trans 'Info' %}",
                    "key": "info"
                }]
            }'>
                <ul>
                    {# loading the tree elements #}
                    {# for page in cl.get_items #}
                        {# show_admin_menu page #}
                    {# endfor #}
                </ul>
            </div>
        </div>
    {% else %}
        {# INFO: ask to add a page if tree is empty #}
        {% url opts|admin_urlname:'add' as add_url %}
        {% blocktrans %}
            <em>There is no page around yet.</em>
            <br>
            <a href="{{ add_url }}" class="addlink">Add page</a> now.
        {% endblocktrans %}
    {% endif %}

    {% comment %}
    {# CREATING MULTIPLE TREES IS POSSIBLE #}
    <p>Page Types</p>
    {# allow multiple trees #}
    <div class="cms-pagetree js-cms-pagetree">
        <ul></ul>
    </div>
    {% endcomment %}

    {# TODO there are dialogs loaded for the persmission checks #}
    <div id="dialogs"></div>

{% endblock result_list %}
