{% extends "admin/change_list.html" %}
{% load i18n admin_list admin_static admin_urls cms_admin cms_js_tags cms_static cms_tags %}

{# TODO might not need that #}
{% block title %}{% trans "List of pages" %}{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
{% block pagination %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {# INFO: we need to add styles here instead of "extrastyle" to avoid conflicts with adminstyle #}
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.pagetree.css' %}">
    <script src="{% static_with_version 'cms/js/modules/jquery.noconflict.pre.js' %}"></script>
    <script src="{% static_with_version 'cms/js/dist/bundle.admin.base.min.js' %}"></script>
    <script src="{% static_with_version 'cms/js/dist/bundle.admin.pagetree.min.js' %}"></script>
    <script src="{% static_with_version 'cms/js/modules/jquery.noconflict.post.js' %}"></script>
{% endblock extrahead %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs cms-pagetree-breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
            <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
            {{ opts.verbose_name_plural|capfirst|escape }}
            {# TODO might remove this or add reset #}
            {% if request.REQUEST.q %}
            &rsaquo; {% trans "Search" %}
            {% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block object-tools %}
    <div class="cms-pagetree-container cms-pagetree-container-custom">
        <div class="cms-pagetree-header">
            <h1 class="cms-pagetree-title">{% trans "Page Tree" %}</h1>

            <div class="cms-pagetree-buttons">
                <div class="cms-pagetree-dropdown js-cms-pagetree-dropdown">
                    <a href="cms-pagetree-dropdown-trigger"><span class="cms-icon cms-icon-arrow"></span></a>
                    <ul class="cms-pagetree-dropdown-container">
                        {% for site in cl.sites %}
                            <li{% if site.pk == cl.current_site.pk %} class="active"{% endif %}>
                                <a href="#{{ site.pk }}">{{ site.name }}</a>
                            </li>
                        {% endfor %}
                        {% if has_recover_permission %}
                            <li class="cms-pagetree-dropdown-separator">&nbsp;</li>
                            <li>
                                <a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">
                                    {% blocktrans with cl.opts.verbose_name_plural|escape as name %}
                                        Recover deleted {{ name }}
                                    {% endblocktrans %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    {# event #}
                    <form method="post" class="cms-hidden">
                        <select id="field-site-select" name="site__exact">
                            {% for site in cl.sites %}
                                <option value="{{ site.pk }}">{{ site.name }}</option>
                            {% endfor %}
                            {% csrf_token %}
                        </select>
                    </form>
                </div>

                {% if has_add_permission %}
                    <a href="{% url opts|admin_urlname:'add' %}" class="cms-btn cms-btn-action">
                        {% blocktrans with cl.opts.verbose_name as name %}
                            New {{ name }}
                        {% endblocktrans %}
                    </a>
                {% endif %}
            </div>

            <form method="get" class="cms-pagetree-search">
                <label for="searchbar" class="cms-hidden">{% trans "Search" %}</label>
                <input type="text" size="40" name="q" value="" id="searchbar" placeholder="{% trans "Search" %}">
                <input type="submit" value="Search">
            </form>
            <!-- hidden action fields -->
            <div class="cms-hidden">
                {% search_form cl %}
                {% if cl.has_filters %}
                    <div class="cms-tree-filters">
                        <a href="#" class="js-cms-tree-filter-trigger" id="changelist-filter-button">
                            {% trans "Filter:" %} {% if cl.is_filtered %}{% trans "on" %}{% else %}{% trans "off" %}{% endif %}
                        </a>
                        <div class="js-cms-tree-filter-container hidden" id="changelist-filter">
                            <h2>{% trans "Filter" %}</h2>
                            {% for spec in cl.filter_specs %}
                                {% clean_admin_list_filter cl spec %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock object-tools %}

{% block search %}{% endblock %}
{% block filters %}{% endblock %}

{% block result_list %}
    <div class="clear"></div>

    <div>
        <h2>{% trans "Main Navigation" %}</h2>
        <p>Option Menu for pasting</p>
    </div>

    {# INFO: javascript is loaded from cms.pagetree.js #}
    {% if cl.get_items or cl.get_items and cl.is_filtered %}
        <div class="cms-pagetree-container">
            <div class="cms-pagetree js-cms-pagetree" data-json='{
                "urls": {
                    "tree": "{% url 'admin:get_tree' %}",
                    "move": "./{id}/move-page/",
                    "copy": "./{id}/copy-page/",
                    "copyPermission": "./{id}/dialog/copy/",
                    "theme": "{% static 'cms/css/' %}"
                },
                "csrf": "{{ csrf_token }}",
                "static": "{{ STATIC_URL }}",
                "permission": "{{ CMS_PERMISSION|bool }}",
                "debug": {{ DEBUG|bool }},
                "filtered": {% if cl.is_filtered or request.GET.q %}true{% else %}false{% endif %},
                "site": {{ cl.current_site.pk }},
                "lang": {
                    "code": "{{ LANGUAGE_CODE|lower }}",
                    "success": "{% filter escapejs %}{% trans "Successfully moved" %}{% endfilter %}",
                    "changes": "{% filter escapejs %}{% trans "Changes within the tree might require a refresh." %}{% endfilter %}",
                    "error": "{% filter escapejs %}{% trans "Error:" %}{% endfilter %}",
                    "apphook": "{% filter escapejs %}{% trans "This page cannot be copied because an application is attached to it. See the Page's Advanced settings to manage apphooks." %}{% endfilter %}",
                    "publish": "{% filter escapejs %}{% trans "Are you sure you want to § this page?" %}{% endfilter %}",
                    "reload": "{% trans "Reload" %}",
                    "loading": "{% trans "Loading..." %}",
                    "newNode": "{% trans 'New node' %}",
                    "nodes": "{% trans 'nodes' %}"
                },
                "columns": [{
                    "title": "&nbsp;",
                    "key": "",
                    "width": "100%"
                }, {
                    "title": "<span class=\"cms-tree-item-helpers cms-hidden\"><a href=\"#root\" class=\"cms-tree-right\"><span class=\"cms-icon cms-icon-alias\"></span>{% trans "Paste" %}</a></span>&nbsp;",
                    "key": "view",
                    "cls": "jstree-grid-cell-regular-options"
                }, {
                    "title": "{{ _('View')|escapejs }}",
                    "key": "preview"
                }, {% for lang in site_languages %}{
                    "title": "{{ lang|upper }}",
                    "key": "{{ lang }}"
                }, {% endfor %} {
                    "title": "{{ _('Menu')|escapejs }}",
                    "key": "menu"
                }, {
                    "title": "{{ _('Actions')|escapejs }}",
                    "key": "options"
                }, {
                    "title": "{{ _('Info')|escapejs }}",
                    "key": "info"
                }]
            }' data-settings-url="{% cms_admin_url "cms_usersettings_session_store" %}">
                <ul>
                    {% if cl.is_filtered or request.GET.q %}
                        {# INFO: load html data source when filtering #}
                        {% for page in cl.get_items %}
                            {% show_admin_menu page %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% else %}
        {# INFO: show add a page button when there are no items #}
        {% url opts|admin_urlname:'add' as add_url %}
        {% blocktrans %}
            <em>There is no page around yet.</em>
            <br>
            <a href="{{ add_url }}" class="addlink">Add page</a> now.
        {% endblocktrans %}
    {% endif %}

    {# INFO: show reset button when filtering is active #}
    {% if cl.is_filtered or request.GET.q %}
        <a href="{% url opts|admin_urlname:'changelist' %}" class="reset">{% trans "Reset filter" %}</a>
    {% endif %}

    {# INFO: used when copying nodes #}
    <div class="cms-tree-dialog js-cms-tree-dialog"></div>
{% endblock result_list %}
