{% load i18n %}

<div class="cms-dialog js-cms-dialog js-cms-dialog-{{ dialog_id }}" data-callback="{{ callback }}">
    <h1>{% trans "Copy options" %}</h1>
    <p>{% trans "Choose copy options" %}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}" class="default submit">
            <input type="submit" value="{% trans 'Close' %}" class="cancel">
        </div>
    </form>
</div>
<div class="cms-dialog-dimmer js-cms-dialog-dimmer"></div>
