{% load i18n cms_admin admin_urls %}

{# INFO: columns are defined in base.html options #}
<li class="cms-tree-node {{ css_class }}
    {# TODO maybe not required #}
    {% if page.get_descendant_count %} jstree-children{% endif %}
    {% if page.reverse_id == "page_types" %} cms-tree-node-pagetype{% endif %}
    "
    data-colview='
        <div class="cms-tree-col">
            <div class="cms-tree-item cms-tree-item-icons">
                {% if page.is_home %}<span class="cms-icon cms-icon-home" title="{% trans 'home' %}">{% endif %}
                {% if page.soft_root %}
                    <a href="{% url 'admin:cms_page_advanced' page.id %}">
                        <span class="cms-icon cms-icon-sitemap" title="{% trans 'softroot' %}">
                    </a>
                {% endif %}
                {% if page.application_urls %}
                    <a href="{% url 'admin:cms_page_advanced' page.id %}">
                        <span class="cms-icon cms-icon-puzzle" title="{% blocktrans with page.application_urls as apphook%}Application: {{ apphook }}{% endblocktrans %}">
                    </a>
                {% endif %}
            </div>
        </div>
    '
    data-colpreview='
        <div class="cms-tree-col">
            <div class="cms-tree-item cms-tree-item-preview
                {# INFO: highlight active icon when in sidebar mode #}
                {% if page.id|slugify == request.GET.page_id|slugify %} cms-tree-preview-active{% endif %}">
                <a href="{% url 'admin:cms_page_preview_page' page.id lang %}"{% if lang in page.languages %} target="_top"{% endif %}>
                    <span>{% trans "View on site" %}</span>
                </a>
            </div>
        </div>
    '
    {% for lang in site_languages %}
    data-col{{ lang|lower }}='
        <div class="cms-tree-col">
            <div class="cms-tree-item cms-tree-item-lang">
                {% if has_change_permission and has_publish_permission %}
                    <a href="{% url 'admin:cms_page_preview_page' page.id lang %}"
                        class="cms-tree-lang-container js-cms-tree-tooltip-trigger"
                        title="{% trans "Page settings (SHIFT-click for advanced settings)" %}"
                        {# TODO implement alt click to advanced settings #}
                        {# INFO: delegate click event to parent window when in sideframe #}
                        {% if lang in page.languages %} target="_top"{% endif %}>
                        {# INFO: renders <span class="{cls}" title="{title}"></span> #}
                        {% tree_publish_row page lang %}
                    </a>

                    <div class="cms-tree-tooltip-container js-cms-tree-tooltip-container">
                        <h3>{% trans "Pick an action:" %}</h3>
                        <a href="{% url 'admin:cms_page_preview_page' page.id lang %}"{% if lang in page.languages %} target="_top"{% endif %}>
                            <span class="cms-icon cms-icon-eye" title="{% blocktrans with lang|upper as language %}Edit this page in {{ language }} {% endblocktrans %}"></span> {% trans "Preview" %}
                        </a>
                        <a href="{% url 'admin:cms_page_publish_page' page.id lang %}?redirect_language={{ preview_language }}&amp;redirect_page_id={{ request.GET.page_id }}" class="js-cms-tree-lang-trigger">
                            <span class="cms-icon cms-icon-check-o"></span> {% trans "Publish" %}
                        </a>
                        <a href="{% url 'admin:cms_page_unpublish' page.id lang %}?redirect_language={{ preview_language }}&amp;redirect_page_id={{ request.GET.page_id }}" class="js-cms-tree-lang-trigger">
                            <span class="cms-icon cms-icon-forbidden"></span> {% trans "Unpublish" %}
                        </a>
                    </div>
                {% else %}
                    <span class="cms-tree-lang-container">
                        {% tree_publish_row page lang %}
                    </span>
                {% endif %}
            </div>
        </div>
    '
    {% endfor %}
    data-colmenu='
        <div class="cms-tree-col">
            <div class="cms-tree-item cms-tree-item-menu js-cms-tree-item-menu">
                {% if has_change_permission %}
                    <a href="{% url 'admin:cms_page_change_innavigation' page.id %}?language={{ lang }}&amp;{{ page.id }}={{ page.in_navigation|yesno:"1,0" }}">
                {% endif %}
                    {% if page.in_navigation %}
                        <span class="cms-icon cms-icon-forbidden" title="{% trans "not in menu" %}"></span>
                    {% else %}
                        <span class="cms-icon cms-icon-check" title="{% trans "in menu" %}"></span>
                    {% endif %}
                {% if has_change_permission %}
                    </a>
                {% endif %}
            </div>
        </div>
    '
    data-coloptions='
        <div class="cms-tree-col">
            {% if has_change_permission %}
                <div class="cms-tree-item cms-tree-item-icons cms-tree-item-icons-dark">
                    <a href="{% url 'admin:cms_page_change' page.id %}?language={{ preview_language }}"><span class="cms-icon cms-icon-cogs"></span></a>
                </div>
                <div class="cms-tree-item cms-tree-item-icons cms-tree-item-icons-dark">
                    <a href="#"><span class="cms-icon cms-icon-copy"></span></a>
                </div>
            {% endif %}
            {% if has_add_permission and has_add_page_permission and has_add_on_same_level_permission %}
                <div class="cms-tree-item cms-tree-item-icons cms-tree-item-icons-dark">
                    <a href="{% url 'admin:cms_page_add' %}?target={{ page.id }}&amp;position=last-child"><span class="cms-icon cms-icon-plus"></span></a>
                </div>
            {% else %}
                {# TODO there should be something else #}
            {% endif %}
            {% if has_move_page_permission %}
                <div class="cms-tree-item cms-tree-item-icons cms-tree-item-icons-dark">
                    <a href="#"><span class="cms-icon cms-icon-scissors"></span></a>
                </div>
            {% endif %}
            {% if has_delete_permission %}
                <div class="cms-tree-item cms-tree-item-icons cms-tree-item-icons-dark">
                    <a href="{% url 'admin:cms_page_delete' page.id %}?language={{ preview_language }}"><span class="cms-icon cms-icon-bin"></span></a>
                </div>
            {% endif %}
        </div>
    '
    data-colinfo='
        <div class="cms-tree-col">
            <div class="cms-tree-item cms-tree-item-info">
                <a href="{% url 'admin:cms_page_change' page.id %}?language={{ preview_language }}"
                    class="cms-tree-info-container js-cms-tree-tooltip-trigger">
                    <span class="cms-icon cms-icon-info"></span>
                </a>

                <div class="cms-tree-tooltip-container js-cms-tree-tooltip-container">
                    <h3>{% trans "Information:" %}</h3>
                    <div class="cms-tree-tooltip-wrapper">
                        {% if page.publication_date %}
                        <p><strong>{% trans "publication date" %}:</strong> {{ page.publication_date|date:"Y-m-d" }}</p>
                        {% endif %}
                        {% if page.publication_end_date %}
                            <p><strong>{% trans "publication end date" %}:</strong> {{ page.publication_end_date|date:"Y-m-d" }}</p>
                        {% endif %}
                        <p>
                            <strong>{% trans "is restricted" %}:</strong>
                            {% if page|is_restricted:request %}
                                {% trans "Yes" %}
                            {% else %}
                                {% trans "No" %}
                            {% endif %}
                        </p>
                        {% if page.changed_by %}
                            <p><strong>{% trans "last change by" %}:</strong> {{ page.changed_by }}</p>
                        {% endif %}
                        {% if page.get_template_display %}
                            <p><strong>{% trans "template" %}:</strong> {{ page.get_template_display }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    '
    >

    {% language preview_language %}
        {{ page.get_admin_tree_title }}
    {% endlanguage %}
</li>
