@charset "utf-8";
/*!
 * @copyright: https://github.com/divio/django-cms
 */

//##################################################################################################################
// #IMPORT SETTINGS#
@import "settings/all";

//##################################################################################################################
// #MODAL#
#content > h2:first-child {
    display: none;
}
#content {
    margin: $modal-content-padding $modal-content-padding 0;
}
#content .module {
    padding: $modal-content-module-padding;
}

#container {
    padding-top: 0;
}

#footer {
    display: none;
}

#cke_id_body {
    border: 1px solid $gray-lighter !important;

    .cke_top,
    .cke_bottom {
        border-color: $gray-lighter !important;
        background: $gray-lightest !important;
        box-shadow: none !important;
    }
}

.errornote {
    margin: 0 !important;
}
