@charset "utf-8";
/*!
 * @copyright: https://github.com/divio/django-cms
 */

//##################################################################################################################
// #IMPORT SETTINGS#
@import "settings/all";
@import "mixins/all";

//##################################################################################################################
// #SIDEFRAME#
#header {
    display: none;
}
#container {
    padding-top: $toolbar-height;
}
.cms-debug #container {
    padding-top: $toolbar-height + $toolbar-debug-height;
}

#container .breadcrumbs {
    display: block;
    background: $gray !important;
}
#content {
    padding-top: 10px;
}
#content h1:first-child {
    margin-top: 0;
}

.change-form #content {
    margin-top: 0;
}

.submit-row {
    padding: 10px 10px 5px !important;
}
.submit-row input.default,
.object-tools .addlink,
.object-tools .addlink:visited {
    font-weight: 200 !important;
    margin-bottom: 5px !important;
    padding: 5px 12px !important;

    @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
}

.object-tools .recoverlink,
.submit-row input {
    font-weight: 200 !important;
    margin-bottom: 5px !important;
    padding: 5px 12px !important;
    @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
}

#changelist-search input[type="submit"] {
    @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
}
