@charset "utf-8";
/*!
 * @copyright: https://github.com/divio/django-cms
 */

$pagetree: true;

//##############################################################################
// IMPORT SETTINGS
@import "settings/all";
@import "mixins/all";

//##############################################################################
// IMPORT COMPONENTS
@import "components/iconography";


a.btn.cms-action-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: -12px !important;
    position: relative;
    bottom: -6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
}

a.btn.cms-action-btn span
{
    font-family: django-cms-iconfont;
    font-size: 120%;
}

a.btn.cms-action-btn img {
    width: 20px;
    height: 20px;
}

a.btn.cms-action-btn.inactive:link,
a.btn.cms-action-btn.inactive:visited {
    color: var(--dca-gray-lighter, var(--border-color, #ccc))  !important;
}


/* disable clicking for inactive buttons */
.btn.cms-action-btn.inactive {
    pointer-events: none;
}

.btn.cms-action-btn.inactive img {
    opacity: 0.5;
}

/* set size and spacing between for the action icons */
a.btn.cms-action-btn img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

