{% extends "base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}tpl_col_two{% endblock %}

{% block content %}

	<h1>{% render_model request.current_page "titles" %} {% render_model_icon request.current_page %}</h1>
	<div id="col1" class="grid_3">
        {% render_model request.current_page "menu_title" %}
		{% include "sidebar_submenu.html" %}
		{% block col_sidebar %}
			{% with "220" as width %}
	    		{% placeholder col_sidebar %}
			{% endwith %}
		{% endblock %}
    </div>

    <div id="col2" class="grid_9">
        {% render_model request.current_page "page_title" %}
		{% block col_left %}
			{% with "640" as width %}
				{% placeholder col_left %}
			{% endwith %}
		{% endblock %}
    </div>

    <footer>{% render_model request.current_page "title" %}</footer>
{% endblock %}