{% extends CMS_TEMPLATE %}

{% block meta %}
    {% comment %}
    This is needed if you can't add ``{% include "meta/meta.html" %}`` in the django CMS template attached to the blog
    page or if you use djangocms-page-meta.

    Please check the documentation at https://djangocms-blog.readthedocs.io/en/latest/features/meta.html for more
    details about the correct template configuration for social media tags rendering.
    {% endcomment %}
    {% if meta %}
        {% include "meta/meta.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta %}

{% block content %}
<div class="app app-blog">
    {% block content_blog %}{% endblock %}
</div>
{% endblock content %}
