@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

//######################################################################################################################
// #PLUGIN
.cms_plugin { display:inline; }
.cms_plugin-active { outline:rgba(adjust-hue($color-blue, 15deg), 1) auto 4px; }

// #PLACEHOLDER
.cms_placeholder { height:0px; overflow:hidden; }

.cms_render_model_icon { display: inline-block; width:18px; height:18px; overflow: hidden; padding: 0; margin: 0;
  img{ vertical-align: middle; max-width: none; position: relative; left: -22px; top:-169px; padding: 0; margin: 0; }
}

.cms_render_model_add { display: inline-block; width:18px; height:18px; overflow: hidden; padding: 0; margin: 0;
  img{ vertical-align: middle; max-width: none; position: relative; left: -105px; top:-69px; padding: 0; margin: 0; }
}