@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

//######################################################################################################################
// #PLUGIN
.cms_plugin { display:inline; }
.cms_plugin-active { outline:rgba(adjust-hue($color-blue, 15deg), 1) auto 4px; }

// #PLACEHOLDER
.cms_placeholder { height:0px; overflow:hidden; }
