@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */

#cms_toolbar {
//######################################################################################################################
// #SUBNAV#
.cms_submenu { display:block; float:right; width:20px; height:15px; cursor:pointer; position:relative;
	background:url('../img/toolbar/sprite_toolbar.png') no-repeat 3px -152px; }

.cms_submenu-lang { float:right; padding:0 5px;position:relative; top:-1px; right:-1px;
	border:1px solid $color-grey-10; background:white; @include border-radius(3px); }

.cms_submenu-dropdown {
	display:none; zoom:1; position:absolute; right:0; top:20px; z-index:999;
	min-width:140px; max-height:230px; overflow:auto;
	border:1px solid $color-grey-10; background:white;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

	.cms_submenu-item { zoom:1; }
	.cms_submenu-item a, span { display:block; font-size:12px; line-height:15px; text-align:left; padding:4px 8px 3px 8px; }

	.cms_submenu-item a { color:black;
		&:hover, &:focus { color:white; background:adjust-hue($color-blue, 15deg); @include background-image($gradient-blue); }
		&:first-child { border-top:none; } }
	.cms_submenu-item span { cursor:default; font-weight:bold; color:black;
		border-top:1px solid $color-grey-20; border-bottom:1px solid $color-grey-10; }
	.cms_submenu-item:first-child span { border-top:none; }
}

.cms_submenu-quicksearch { display:none; position:absolute; right:-5px; top:-5px; z-index:1000;
	cursor:default; text-align:right; height:25px; @include border-radius(4px);
	background:$color-grey-70 url('../img/toolbar/sprite_toolbar.png') no-repeat right -326px; }
.cms_submenu-quicksearch label { cursor:pointer; }
.cms_submenu-quicksearch input { font-size:12px; color:white; text-align:right; -webkit-appearance:none;
	width:109px; padding:3px 1px 1px 5px; margin-right:25px; border:none; background:none; }

// end of toolbar
}