{# from project.banner #}
{% load banner_tags %}

{% banner as alert %}

{% if alert.enabled %}
    <div data-id="{{ pk }}" style="display: none;" class="alert alert-info js-global-alert alert-dismissible fade mx-0 px-0 rounded-0" role="alert">
        <div class="container">
            <p class="mb-0">
                {{ alert.content|safe }}
            </p>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
