{% load i18n %}

<div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>{% trans "Please enable JavaScript" %}</h3></noscript>
    <h3>{% trans "Your browser is out-of-date!" %}</h3>
    <p>{% trans "Update your browser to view this website correctly." %}</p>
    <p>
        <a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
            {% trans "Update my browser now" %}
        </a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>
