<h3>Labels</h3>
<div class="code-container">
    <p>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
    </p>
    <p>
        <span class="badge badge-pill badge-primary">Primary</span>
        <span class="badge badge-pill badge-secondary">Secondary</span>
        <span class="badge badge-pill badge-success">Success</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-warning">Warning</span>
        <span class="badge badge-pill badge-danger">Danger</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>
    </p>
    <p>
        <a href="#" class="badge badge-primary">Primary</a>
        <a href="#" class="badge badge-secondary">Secondary</a>
        <a href="#" class="badge badge-success">Success</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-warning">Warning</a>
        <a href="#" class="badge badge-danger">Danger</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-dark">Dark</a>
    </p>
</div>

<div class="spacer-lg"></div>

<h3>Badges</h3>
<div class="code-container">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="nav-item"><a class="nav-link active" href="#">Home <span class="badge badge-light">42</span></a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Profile <span class="badge badge-primary"></span></a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Messages <span class="badge badge-primary">3</span></a></li>
    </ul>
</div>
