<div class="code-container text-center">
    <nav>
        <h2 class="sr-only">Pagination</h2>

        <ul class="pagination">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>

        <ul class="pager">
            <li class="previous disabled"><span><span class="icon icon-arrow-left"></span> Older</span></li>
            <li class="next"><a href="#">Newer <span class="icon icon-arrow-right"></span></a></li>
        </ul>
    </nav>
</div>
