<div class="code-container text-center">
    <nav>
        <h2 class="sr-only">Pagination</h2>

        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">&laquo;</a></li>
            <li class="page-item"><a href="#" class="page-link active">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
        </ul>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">&laquo;</a></li>
            <li class="page-item"><a href="#" class="page-link active">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
        </ul>
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">&laquo;</a></li>
            <li class="page-item"><a href="#" class="page-link active">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
        </ul>

        <div class="d-flex flex-row justify-content-between">
            <a href="#" class="btn btn-outline-primary">Previous page</a>
            <a href="#" class="btn btn-outline-primary">Next page</a>
        </div>
    </nav>
</div>
