<div class="row">
    <div class="col-md-8 code-container">
        <div class="panel panel-default">
            <div class="panel-body">Basic panel</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">Panel content</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">Panel content</div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>

    <div class="col-md-8 code-container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel primary</h3>
            </div>
            <div class="panel-body">Panel content</div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel success</h3>
            </div>
            <div class="panel-body">Panel content</div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel warning</h3>
            </div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>

    <div class="col-md-8 code-container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel danger</h3>
            </div>
            <div class="panel-body">Panel content</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel info</h3>
            </div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>
</div>
