<div class="code-container">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" id="pillsDropdownMenu1" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="pillsDropdownMenu1">
                <li><a href="#" role="menuitem" tabindex="-1">Action</a></li>
                <li><a href="#" role="menuitem" tabindex="-1">Another action</a></li>
                <li><a href="#" role="menuitem" tabindex="-1">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#" role="menuitem" tabindex="-1">Separated link</a></li>
            </ul>
        </li>
    </ul>

    <div class="spacer"></div>

    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" id="pillsDropdownMenu2" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="pillsDropdownMenu2">
                <li><a href="#" role="menuitem" tabindex="-1">Action</a></li>
                <li><a href="#" role="menuitem" tabindex="-1">Another action</a></li>
                <li><a href="#" role="menuitem" tabindex="-1">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#" role="menuitem" tabindex="-1">Separated link</a></li>
            </ul>
        </li>
    </ul>
</div>
