<div class="code-container">
    <button type="button" class="btn btn-outline-secondary" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</button>
    <button type="button" class="btn btn-outline-secondary" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</button>
    <button type="button" class="btn btn-outline-secondary" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom</button>
    <button type="button" class="btn btn-outline-secondary" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</button>
</div>
