<table class="{{ cls }}">
    <thead>
        <tr>
            <th>Page</th>
            <th>Visits</th>
            <th>% New Visits</th>
            <th>Revenue</th>
        </tr>
    </thead>
    <tbody>
        <tr{% if extras %} class="table-active"{% endif %}>
            <td>/index.html</td>
            <td>1265</td>
            <td>32.3%</td>
            <td>$321.33</td>
        </tr>
        <tr{% if extras %} class="table-success"{% endif %}>
            <td>/about.html</td>
            <td>261</td>
            <td>33.3%</td>
            <td>$234.12</td>
        </tr>
        <tr{% if extras %} class="table-info"{% endif %}>
            <td>/sales.html</td>
            <td>665</td>
            <td>21.3%</td>
            <td>$16.34</td>
        </tr>
        <tr{% if extras %} class="table-warning"{% endif %}>
            <td>/blog.html</td>
            <td>9516</td>
            <td>89.3%</td>
            <td>$1644.43</td>
        </tr>
        <tr{% if extras %} class="table-danger"{% endif %}>
            <td>/404.html</td>
            <td>23</td>
            <td>34.3%</td>
            <td>$23.52</td>
        </tr>
        <tr{% if extras %} class="table-light"{% endif %}>
            <td>/404.html</td>
            <td>23</td>
            <td>34.3%</td>
            <td>$23.52</td>
        </tr>
        <tr{% if extras %} class="table-dark"{% endif %}>
            <td>/404.html</td>
            <td>23</td>
            <td>34.3%</td>
            <td>$23.52</td>
        </tr>
        <tr>
            <td>/services.html</td>
            <td>421</td>
            <td>60.3%</td>
            <td>$724.32</td>
        </tr>
        <tr>
            <td>/blog/post.html</td>
            <td>1233</td>
            <td>93.2%</td>
            <td>$126.34</td>
        </tr>
    </tbody>
</table>
