{% with 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22879%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20879%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e84fd7770%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A44pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e84fd7770%22%3E%3Crect%20width%3D%22879%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22326.96875%22%20y%3D%22145.1%22%3E879x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' as img %}
{% with 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e850a1d9b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e850a1d9b%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' as img2 %}
<div class="code-container">
    <div class="row mb-4">
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-thumbnail" src="{{ img }}">
        </div>
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-thumbnail" src="{{ img }}">
        </div>
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-thumbnail" src="{{ img }}">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-fluid rounded" src="{{ img }}">
        </div>
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-fluid rounded" src="{{ img }}">
        </div>
        <div class="col-xs-6 col-md-4">
            <img alt="alt" class="img-fluid rounded" src="{{ img }}">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-xs-6 col-md-4 text-center">
            <img alt="alt" class="img-fluid rounded-circle" src="{{ img2 }}">
        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <img alt="alt" class="img-fluid rounded-circle" src="{{ img2 }}">
        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <img alt="alt" class="img-fluid rounded-circle" src="{{ img2 }}">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6">
            <figure class="figure">
                <img src="{{ img }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img src="{{ img }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endwith %}
{% endwith %}

