<div class="code-container">
    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="left" data-original-title="Tooltip on left">Left</button>
    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top">Top</button>
    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom">Bottom</button>
    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip on right">Right</button>
</div>
