<!DOCTYPE html>{% load cms_tags cms_static menu_tags sekizai_tags static i18n %}{% spaceless %}
    {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    <html class="cms-placeholder-view" lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <title>{% block title %}{{ request.current_page.get_page_title|striptags }}{% endblock %}</title>
            <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.headless.css' %}"/>
{% endspaceless %}{% render_block 'css' %}{% spaceless %}
    {% block page_head %}{% endblock %}
        </head>
        <body {% block body_attrs %}{% endblock %}>
{% endspaceless %}{% cms_toolbar %}
        {% block content %}
            {% for placeholder, label, inherit in cms_placeholder_slots %}
                <section>
                    <h1>{{ label }}{% if inherit %} <small>{% translate "inherited" %}</small>{% endif %}</h1>
                    {% render_placeholder placeholder 100 LANGUAGE_CODE inherit=inherit %}
                </section>
            {% endfor %}
        {% endblock content %}{% spaceless %}
        {% block base_js %}{% endblock %}
{% endspaceless %}{% render_block 'js' %}{% spaceless %}
    {% block end_js %}{% endblock %}
    {% block bottom_css %}{% endblock %}
    </body>
    </html>{% endspaceless %}
