{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": ["transform-runtime","transform-object-rest-spread"],
    "env": {
        "production": {
            "plugins": [
                "lodash"
            ]
        }
    }
}
