{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

<div class="{% if long %}col-12 article-tile article-tile-long{% else %}col-12 col-sm-6 col-lg-4 article-tile article-tile-short{% endif %}">
    <article class="article-tile-wrap {% if article.is_featured %} aldryn-newsblog-featured{% endif %}{% if not article.published %} unpublished{% endif %}{% if article.future %} future{% endif %}">
    {% if long %}<div class="row">{% endif %}
        {% if article.featured_image_id %}
        <div class="article-tile-img">
            <div class="article-img" style="background-image: url({% thumbnail article.featured_image 380x280 crop subject_location=article.featured_image.subject_location %})">
            </div>
        </div>
        {% endif %}

        {% if long %}
        <div class="col-12 col-sm-6 col-lg-4">
        {% endif %}
        <div class="article-tile-content">
            <h2 class="h5">
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
            </h2>

            <div class="text-secondary mb-3">
                {% render_model article "lead_in" "" "" "truncatewords_html:'20'" %}
            </div>

            {% include "aldryn_newsblog/includes/author.html" with author=article.author %}
        </div>
        {% if long %}
    </div>
</div>
{% endif %}
    </article>
</div>
