{% load i18n staticfiles thumbnail apphooks_config_tags %}

{% if author and author.slug %}
<a class="author link-wrapper" href="{% namespace_url "article-list-by-author" author.slug namespace=namespace default='' %}">
    {% if author.visual %}
        {% thumbnail author.visual "50x50" crop upscale subject_location=author.visual.subject_location as author_image %}
        <img class="rounded-circle img-fluid" src="{{ author_image.url }}" alt="{{ author }}">
    {% else %}
        <img class="rounded-circle img-fluid" src="{% static "img/aldryn_newsblog/no-photo.png" %}" alt="{{ author }}">
    {% endif %}
    <div class="author-meta">
        <span class="link-inner">{{ author.name }}</span>
        <span class="text-muted">{{ article.publishing_date|date }}</span>
    </div>
</a>
{% endif %}
