{% load i18n cms_tags %}

<div class="embed-responsive embed-responsive-16by9">
{% if instance.embed_link %}
    {# show iframe if embed_link is provided #}
    <iframe class="embed-responsive-item{% if instance.attributres.class %} {{ instance.attributes.class }}{% endif %}" src="{{ instance.embed_link }}"
        {% for key, value in instance.attributes.items %}
            {% if key != 'class' %}
                {{ key }}="{{ value }}"
            {% endif %}
        {% endfor %}
        frameborder="0" allowfullscreen="true"></iframe>
    {% with disabled=instance.embed_link %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    {% endwith %}
{% else %}
    {# render <source> or <track> plugins #}
    <video class="embed-responsive-item{% if instance.attributres.class %} {{ instance.attributes.class }}{% endif %}"  controls
        {% for key, value in instance.attributes.items %}
            {% if key != 'class' %}
                {{ key }}="{{ value }}"
            {% endif %}
        {% endfor %}
        {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %}>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% trans "Your browser doesn't support this video format." %}
    </video>
{% endif %}
</div>

{% comment %}
    # Available variables:
    {{ instance.template }}
    {{ instance.label }}
    {{ instance.embed_link }}
    {{ instance.poster }}
    {{ instance.attributes_str }}
{% endcomment %}
