{% load i18n %}
<div class="cms_toolbar cms_toolbar_placeholder_plugins" id="cms_placeholder_{{ language }}_{{ page.id }}" rel="{{ placeholder.pk }}">
	<div class="cms_toolbar_placeholder_plugins_title">
		{{ placeholder_label }}
	</div>
	<div class="cms_toolbar_addbutton cms_toolbar_button cms_toolbar_submenubutton cms_toolbar_submenuselect"><span><strong>{% trans "Add Plugin" %}</strong><em>arrow</em></span>		
		<ul class="cms_toolbar_submenu">				
			{% regroup installed_plugins by module as module_list %}
			{% for module in module_list %}
			<li>{% if module.grouper %}{{ module.grouper|capfirst }}{% else %}{% trans "Available plugins" %}{% endif %}
			<ul>
				{% for p in module.list %}
				<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}><a href="#" rel="{{ p.value }}">{{ p.name }}</a></li>
				{% endfor %}
			</ul>
			</li>
			{% endfor %}
		</ul>
	</div>	
</div>
