{% load i18n l10n cms_tags %}
{% load url from future %}

<div class="cms-dragbar cms-dragbar-{{ placeholder.pk|unlocalize }}">
    {% language request.toolbar.toolbar_language %}
    <div class="cms-submenu">
    </div>
    <div class="cms-submenu-quicksearch"><label><input type="text" placeholder="{% trans 'Quicksearch' %}" /></label></div>
    <div class="cms-submenu-dropdown" data-touch-action="pan-y">
        <div class="cms-submenu-item cms-submenu-item-title"><span>{% trans "Settings" %}</span></div>
        <div class="cms-submenu-item"><a data-rel="copy" href="#">{% trans "Copy all" %}</a></div>
        {% for language in placeholder.get_filled_languages %}{% if language.code != LANGUAGE_CODE %}
            <div class="cms-submenu-item"><a data-rel="copy-lang" data-language="{{ language.code }}" href="#">{% trans "Copy from" %} {% trans language.name %}</a></div>
        {% endif %}{% endfor %}
        <div class="cms-submenu-item"><a data-rel="modal" href="{{ placeholder.get_clear_url }}?language={{ LANGUAGE_CODE }}" data-name="{{ placeholder.get_label }}">{% trans "Empty all" %}</a></div>
        {% extra_menu_items placeholder %}
        {% plugin_child_classes placeholder %}
    </div>
    {% endlanguage %}

    <div class="cms-dragbar-title">
        {{ placeholder.get_label }}
        {% if placeholder.is_static %}<span class="cms-hover-tooltip cms-hover-tooltip-right" tabindex="-1" data-tooltip="{% trans 'This is a static placeholder' %}"><span class="cms-icon cms-icon-pin cms-dragarea-static-icon"></span></span>{% endif %}
        <span class="cms-dragbar-toggler">
            <a href="#" class="cms-dragbar-expand-all">{% trans "Expand all" %}</a>
            <a href="#" class="cms-dragbar-collapse-all">{% trans "Collapse all" %}</a>
        </span>
    </div>
</div>

<div class="cms-dragbar-empty-wrapper">
    <div class="cms-droppable cms-dragbar-empty">{% trans "Drop a plugin here" %}</div>
</div>
