{% load i18n sekizai_tags %}

{% regroup installed_plugins by module as module_list %}
<div id="cms_placeholder-bar-{{ placeholder.pk }}" class="cms_placeholder-bar">
	<div class="cms_placeholder-btn">
        {% language request.toolbar.language %}
		<a href="#"><span>{% trans "Add Plugin" %}</span></a>
		<ul class="cms_placeholder-subnav">
			{% for module in module_list %}
			<li class="cms_placeholder-subnav-title"><span>{% if module.grouper %}{{ module.grouper|capfirst }}{% else %}{% trans "Available plugins" %}{% endif %}</span></li>
			{% for p in module.list %}
			<li><a href="#{{ p.value }}">{{ p.name }}</a></li>
			{% endfor %}
			{% endfor %}
		</ul>
        {% endlanguage %}
	</div>
	<div class="cms_placeholder-title">{{ placeholder_label }}</div>
</div>

{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	new CMS.PlaceholderItem('#cms_placeholder-bar-{{ placeholder.pk }}', {
		'type': 'bar',
		'placeholder_id': '{{ placeholder.pk }}',
		'plugin_language': '{{ language }}', // todo not required should be within backend
		'plugin_restriction': [{% for module in module_list %}{% for p in module.list %}"{{ p.value }}"{% if not forloop.last and forloop.parentloop.last %}, {% endif %}{% endfor %}{% endfor %}],
		'urls': {
			'add_plugin': '{{ placeholder.get_add_url }}',
			'edit_plugin': '{{ placeholder.get_changelist_url }}'
		}
	});
});
</script>
{% endaddtoblock %}