{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	new CMS.Placeholder('#cms_placeholder-{{ instance.pk }}', {
		'type': 'holder',
		'plugin_id': '{{ instance.pk }}',
		'plugin_type': '{{ instance.plugin_type }}',
		'placeholder_id': '{{ instance.placeholder.id }}',
		'placeholder_slot': '{{ instance.placeholder.slot }}',
		'urls': {
			'remove_plugin': '{{ instance.placeholder.get_remove_url }}',
			'move_plugin': '{{ instance.placeholder.get_move_url }}',
			'change_list': '{{ instance.placeholder.get_changelist_url }}'
		}
	});
});
</script>
{% endaddtoblock %}
<div id="cms_placeholder-{{ instance.pk }}" class="cms_placeholder cms_placeholder_slot::{{ instance.placeholder.slot }}">{{ rendered_content }}</div>