{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function ($) {
	new CMS.Placeholder('#cms_placeholder-{{ instance.pk }}', {
		'type': 'holder',
		'plugin_id': '{{ instance.pk }}',
		'plugin_type': '{{ instance.plugin_type }}',
		'placeholder_id': '{{ instance.placeholder.id }}',
		'placeholder_slot': '{{ instance.placeholder.slot }}',
		'urls': {
			'move_plugin': '{% url admin:cms_page_move_plugin %}',
			'remove_plugin': '{% url admin:cms_page_remove_plugin %}',
			'change_list': '{% url admin:cms_page_changelist %}'
		}
	});
});
//]]>
</script>
{% endaddtoblock %}
<div id="cms_placeholder-{{ instance.pk }}" class="cms_placeholder">{{ rendered_content }}</div>