{% spaceless %}
{% load cms_js_tags i18n l10n sekizai_tags %}

<div class="cms-placeholder cms-placeholder-{{ placeholder.pk|unlocalize }}"></div>
{% language request.toolbar.toolbar_language %}
<script id="cms-plugin-child-classes-{{ placeholder.pk|unlocalize }}" type="text/cms-template">
    {% include cms_content_renderer.drag_item_menu_template %}
</script>{% endlanguage %}
{% endspaceless %}{% addtoblock "js" %}
{% language request.toolbar.toolbar_language %}
<script>{% render_placeholder_toolbar_js placeholder language cms_content_renderer %}</script>
{% endlanguage %}
{% endaddtoblock %}
