{% load i18n l10n sekizai_tags admin_static cms_tags cms_static %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static_with_version "cms/css/cms.base.css" %}" />{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static_with_version "cms/js/modules/jquery.noconflict.pre.js" %}" type="text/javascript"></script>
<script src="{% static_with_version "cms/js/dist/bundle.toolbar.min.js" %}" type="text/javascript"></script>
{% language request.toolbar.toolbar_language %}
<script>
CMS._plugins = [];
(function($) {
// CMS.$ will be passed for $
$(document).ready(function () {
    // this is a global shared configuration
    CMS.config = {
        'mode': {% if request.toolbar.edit_mode %}'draft'{% else %}'live'{% endif %},
        'auth': {% if user.is_authenticated %}true{% else %}false{% endif %},
        'debug': {% if debug %}true{% else %}false{% endif %},
        'csrf': '{{ csrf_token }}',
        'request': {
            'language': '{{ request.GET.language }}',
            'model': '{{ request.toolbar.get_object_model }}',
            'page_id': '{% if request.current_page.publisher_is_draft %}{{ request.current_page.pk }}{% else %}{{ request.current_page.publisher_public_id }}{% endif %}',
            'pk': '{{ request.toolbar.get_object_pk }}',
            'url': '{% language request.toolbar.language %}{% cms_admin_url "cms_page_resolve" %}{% endlanguage %}',
            'tree': '{% language request.toolbar.language %}{% cms_admin_url "cms_page_changelist" %}{% endlanguage %}'
        },
        'lang': {
            'debug': '{% filter escapejs %}{% blocktrans %}Development version using django CMS {{ cms_version }}, Django {{ django_version }}, Python {{ python_version }}{% endblocktrans %}{% endfilter %}',
            'cancel': '{% filter escapejs %}{% trans "Cancel" %}{% endfilter %}',
            'error': '<strong>{% filter escapejs %}{% trans "The following error occured:" %}{% endfilter %}</strong> ',
            'success': '{% filter escapejs %}{% trans "Action successfull... reloading." %}{% endfilter %}',
            'confirm': '{% filter escapejs %}{% trans "Are you sure you want to delete this plugin?" %}{% endfilter %}',
            'confirmEmpty': '{% filter escapejs %}{% trans "({1}) plugin is empty. Remove it?" %}{% endfilter %}',
            'publish': '{% filter escapejs %}{% trans "Are you sure you want to publish this page?" %}{% endfilter %}',
            'addPluginPlaceholder': '{% filter escapejs %}{% trans "Plugin will be added here" %}{% endfilter %}'
        },
        'urls': {
            'settings': '{% cms_admin_url "cms_usersettings_session_store" %}', // url to save settings
            'static': '{{ STATIC_URL }}'
        },
        'settings': {
            'version': '{{ cms_version }}',
            'toolbar': 'expanded',
            'mode': 'edit',
            'sideframe': { 'url': '' },
            'states': [],
            'edit': '{{ cms_edit_on }}',
            'edit_off': '{{ cms_edit_off }}'
        },
        'clipboard': {
            'id': '{{ request.toolbar.clipboard.pk|unlocalize }}',
            'url': '{% if request.toolbar.clipboard.pk %}{% cms_admin_url "cms_page_clear_placeholder" request.toolbar.clipboard.pk %}{% endif %}'
        },
        'messages': '{% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}',
        'error': '{% if request.toolbar.login_form.errors or cms_toolbar_login_error %}{% blocktrans %}<strong>Login failed.</strong> Please check your credentials and try again.{% endblocktrans %}{% endif %}',
        'publisher': '{% if not request.current_page.publisher_is_draft and request.current_page.publisher_draft.is_dirty and user.is_authenticated %}{% trans "This page has unpublished changes." %}{% endif %}',
        'simpleStructureBoard': {{ request.toolbar.simple_structure_mode|lower }}
    };
    CMS.settings = CMS.API.Helpers.getSettings();

    // extends API
    $.extend(CMS.API, {
        'Toolbar': new CMS.Toolbar(),
        'Clipboard': new CMS.Clipboard(),
        'StructureBoard': new CMS.StructureBoard(),
        'Messages': new CMS.Messages(),
        'Tooltip': new CMS.Tooltip()
    });

    $.each(CMS._plugins, function (index, args) {
        new CMS.Plugin(args[0], args[1])
    });
});
})(CMS.$);
</script>
{% endlanguage %}
<script src="{% static_with_version "cms/js/modules/jquery.noconflict.post.js" %}" type="text/javascript"></script>
{% endaddtoblock %}
