//##################################################
// #SETTINGS#

// #COLORS#
$color-white: #fff;
$color-black: #000;

$color-grey: #666;
$color-blue: #0eaaec;
$color-green: #693;
$color-orange: #c93;
$color-red: #f00;
$color-window: #fcfcfc;

$speed-base: 200ms;

// #COLORS/auto#
$color-grey-5: lighten($color-grey, 58%); // fafafa
$color-grey-10: lighten($color-grey, 50%); // e5e5e5
$color-grey-20: lighten($color-grey, 25%); // 454545
$color-grey-70: darken($color-grey, 13%); // 454545
$color-grey-90: darken($color-grey, 20%); // 333333

$gradient-toolbar: to bottom, rgba(lighten($color-grey, 58%), 0.97) 0%, rgba(lighten($color-grey, 59%), 0.97) 50%, rgba(lighten($color-grey, 58%), 0.95) 100%;
$gradient-dark: to bottom, $color-grey, darken($color-grey, 20%);
$gradient-blue: to bottom, adjust-hue($color-blue, 5deg), adjust-hue($color-blue, 15deg);
$gradient-green: to bottom, lighten($color-green, 10%) 0%, saturate($color-green, 20%) 50%, saturate($color-green, 30%) 100%;
$gradient-orange: to bottom, lighten($color-orange, 5%), $color-orange;
$gradient-red: to bottom, adjust-hue($color-red, 5deg), adjust-hue($color-red, 15deg);
$gradient-light: to bottom, lighten($color-grey-10, 5%), $color-grey-10;
