// ##################################################################################################################
// #SETTINGS#

// #COLORS#
$color-white: #fff;
$color-black: #000;

$color-grey: #666;
$color-blue: #0eaaec;
$color-green: #693;
$color-red: #f00;
$color-window: #fcfcfc;

$speed-base: 200ms;

// #COLORS/auto#
// These are kept only while refactoring is in progress
$color-grey-5:    lighten($color-grey, 58%); // fafafa
$color-grey-10:   lighten($color-grey, 50%); // e5e5e5
$color-grey-20:   lighten($color-grey, 25%); // a6a6a6
$color-grey-70:   darken($color-grey, 13%); // 454545
$color-grey-90:   darken($color-grey, 20%); // 333333

//##############################################################################
// #COLORS new
$white: #fff;
$black: #000;

$color-primary: #0eaaec;
$color-success: #693;
$color-danger: #f00;
$color-warning: #c93;

// #COLORS gray
$gray:            lighten($black, 40%); // #666;
$gray-lightest:   lighten($gray, 58%); // #fafafa
$gray-lighter:    lighten($gray, 50%); // #e5e5e5
$gray-light:      lighten($gray, 25%); // #a6a6a6
$gray-darker:     darken($gray, 13%); // #454545
$gray-darkest:    darken($gray, 20%); // #333

$gradient-toolbar: to bottom, rgba($gray-lightest, 0.97) 0%, rgba(lighten($gray-lightest, 1%), 0.97) 50%, rgba($gray-lightest, 0.95) 100%;

//##############################################################################
// BASE Variables
$font-size-normal: 13px;
$line-height-normal: 20px;

$border-radius-base: 3px;
$border-radius-normal: 5px;

$padding-base: 3px;
$padding-normal: 10px;
$padding-large: 20px;

//##############################################################################
// z-index map
// the map is built from highest to lowest as it appears on screen
$z-layers: (
    "modal": (
        "base":         999999,
        "body":         10,
        "frame":        10,
        "shim":         20,
        "breadcrumb": (
            "base":           100,
            "trianglebehind": 1,
            "trianglefront":  2,
            "title":          3
        ),
        "buttons":      101,
        "resize":       102,
    ),
    "clipboard": (
        "base":         99999,
        "containers":   99,
        "draggable":    99,
        "triggers":     999,
    ),
    "sideframe": (
        "base":         99999,
        "buttons":      40,
        "resize":       30,
        // shim-while-resizing: 20
        "frame":        10,
        "shim":         1,
    ),
    // sideframe > sideframe-frame > iframe >
    "dialog":           99999,
    "default":          1,
    "below":            -1,
);


//##############################################################################
// #BUTTONS
$btn-border-radius-base: $border-radius-base;

$btn-default-color: $gray;
$btn-default-bgcolor: $gray-lighter;
$btn-default-bggradient: to bottom, $gray-lightest, $gray-lighter;
$btn-default-border: $gray-lighter;

$btn-action-color: $white;
$btn-action-bgcolor: adjust-hue($color-blue, 15deg);
$btn-action-bggradient: to bottom, adjust-hue($color-blue, 5deg), adjust-hue($color-blue, 15deg);
$btn-action-border: adjust-hue($color-blue, 15deg);

$btn-caution-color: $white;
$btn-caution-bgcolor: adjust-hue($color-red, 15deg);
$btn-caution-bggradient: to bottom, adjust-hue($color-red, 5deg), adjust-hue($color-red, 15deg);
$btn-caution-border: adjust-hue($color-red, 15deg);

$btn-active-color: $white;
$btn-active-bgcolor: $gray-darker;
$btn-active-bggradient: to bottom, $gray, $gray-darkest;
$btn-active-border: $gray-darkest;

//##############################################################################
// Modal
$modal-header-title-font-size: $font-size-normal;
$modal-shadow: 0 0 20px rgba($black, .5);
$modal-bgcolor: $white;
$modal-border-radius: $border-radius-normal;

$modal-header-height: 28px;
$modal-footer-height: 32px;

$modal-header-button-icon-size: 8px;
$modal-header-button-area-size: 20px;

$modal-breadcrumb-title-width: 36px;
$modal-breadcrumb-padding-vertical: $padding-normal;
$modal-breadcrumb-padding-horizontal: $modal-footer-height / 2;
$modal-breadcrumb-hover-color: $black;
$modal-breadcrumb-hover-bgcolor: $white;

$modal-button-font-size: 12px;
$modal-button-padding: 2px $padding-normal;
$modal-button-space: 5px;

$modal-resize-size: 20px;

//##############################################################################
// Dialog
$dialog-width: 500px;
$dialog-border-radius: $border-radius-normal;
$dialog-shadow: $modal-shadow;

//##############################################################################
// Sideframe
$sideframe-buttons-position-top: 50px;
$sideframe-border-width: 2px;
$sideframe-resize-knob-size: 6px 50px;
$sideframe-button-area-size: 20px;
$sideframe-button-icon-size: 8px;
$sideframe-button-space: 2px;

//##############################################################################
// Clipboard

// it's $sideframe-buttons-position-top + amount of buttons x 20 + some margin
$clipboard-buttons-position-top: 130px;
$clipboard-button-area-size: 20px;
$clipboard-button-icon-size: 12px;

