coverage==3.7.1
python-coveralls==2.5.0
docopt==0.6.2
unittest-xml-reporting==1.11.0
sphinx
Pillow==2.7.0
html5lib>=0.90,!=0.9999,!=0.99999
django-treebeard==3.0
argparse
dj-database-url
selenium
djangocms-admin-style==0.2.7
djangocms-column==1.6
djangocms-style==1.7
djangocms-file==1.0
djangocms-flash==0.3
djangocms-googlemap<0.5
djangocms-inherit==0.2.1
djangocms-picture==0.2
djangocms-teaser==0.2
djangocms-video==1.0
djangocms-link==1.7.2
pyflakes
