{# INFO: add your custom icons here, you can create additional categories (see "other") #}
<script>
var StyleguideIcons = {
    'Web Application Icons': [
        'icon-adjust',
        'icon-anchor',
        'icon-archive',
        'icon-arrows',
        'icon-arrows-h',
        'icon-arrows-v',
        'icon-asterisk',
        'icon-automobile (alias)',
        'icon-ban',
        'icon-bank (alias)',
        'icon-bar-chart-o',
        'icon-barcode',
        'icon-bars',
        'icon-beer',
        'icon-bell',
        'icon-bell-o',
        'icon-bolt',
        'icon-bomb',
        'icon-book',
        'icon-bookmark',
        'icon-bookmark-o',
        'icon-briefcase',
        'icon-bug',
        'icon-building',
        'icon-building-o',
        'icon-bullhorn',
        'icon-bullseye',
        'icon-cab (alias)',
        'icon-calendar',
        'icon-calendar-o',
        'icon-camera',
        'icon-camera-retro',
        'icon-car',
        'icon-caret-square-o-down',
        'icon-caret-square-o-left',
        'icon-caret-square-o-right',
        'icon-caret-square-o-up',
        'icon-certificate',
        'icon-check',
        'icon-check-circle',
        'icon-check-circle-o',
        'icon-check-square',
        'icon-check-square-o',
        'icon-child',
        'icon-circle',
        'icon-circle-o',
        'icon-circle-o-notch',
        'icon-circle-thin',
        'icon-clock-o',
        'icon-cloud',
        'icon-cloud-download',
        'icon-cloud-upload',
        'icon-code',
        'icon-code-fork',
        'icon-coffee',
        'icon-cog',
        'icon-cogs',
        'icon-comment',
        'icon-comment-o',
        'icon-comments',
        'icon-comments-o',
        'icon-compass',
        'icon-credit-card',
        'icon-crop',
        'icon-crosshairs',
        'icon-cube',
        'icon-cubes',
        'icon-cutlery',
        'icon-dashboard (alias)',
        'icon-database',
        'icon-desktop',
        'icon-dot-circle-o',
        'icon-download',
        'icon-edit (alias)',
        'icon-ellipsis-h',
        'icon-ellipsis-v',
        'icon-envelope',
        'icon-envelope-o',
        'icon-envelope-square',
        'icon-eraser',
        'icon-exchange',
        'icon-exclamation',
        'icon-exclamation-circle',
        'icon-exclamation-triangle',
        'icon-external-link',
        'icon-external-link-square',
        'icon-eye',
        'icon-eye-slash',
        'icon-fax',
        'icon-female',
        'icon-fighter-jet',
        'icon-file-archive-o',
        'icon-file-audio-o',
        'icon-file-code-o',
        'icon-file-excel-o',
        'icon-file-image-o',
        'icon-file-movie-o (alias)',
        'icon-file-pdf-o',
        'icon-file-photo-o (alias)',
        'icon-file-picture-o (alias)',
        'icon-file-powerpoint-o',
        'icon-file-sound-o (alias)',
        'icon-file-video-o',
        'icon-file-word-o',
        'icon-file-zip-o (alias)',
        'icon-film',
        'icon-filter',
        'icon-fire',
        'icon-fire-extinguisher',
        'icon-flag',
        'icon-flag-checkered',
        'icon-flag-o',
        'icon-flash (alias)',
        'icon-flask',
        'icon-folder',
        'icon-folder-o',
        'icon-folder-open',
        'icon-folder-open-o',
        'icon-frown-o',
        'icon-gamepad',
        'icon-gavel',
        'icon-gear (alias)',
        'icon-gears (alias)',
        'icon-gift',
        'icon-glass',
        'icon-globe',
        'icon-graduation-cap',
        'icon-group (alias)',
        'icon-hdd-o',
        'icon-headphones',
        'icon-heart',
        'icon-heart-o',
        'icon-history',
        'icon-home',
        'icon-image (alias)',
        'icon-inbox',
        'icon-info',
        'icon-info-circle',
        'icon-institution (alias)',
        'icon-key',
        'icon-keyboard-o',
        'icon-language',
        'icon-laptop',
        'icon-leaf',
        'icon-legal (alias)',
        'icon-lemon-o',
        'icon-level-down',
        'icon-level-up',
        'icon-life-bouy (alias)',
        'icon-life-ring',
        'icon-life-saver (alias)',
        'icon-lightbulb-o',
        'icon-location-arrow',
        'icon-lock',
        'icon-magic',
        'icon-magnet',
        'icon-mail-forward (alias)',
        'icon-mail-reply (alias)',
        'icon-mail-reply-all (alias)',
        'icon-male',
        'icon-map-marker',
        'icon-meh-o',
        'icon-microphone',
        'icon-microphone-slash',
        'icon-minus',
        'icon-minus-circle',
        'icon-minus-square',
        'icon-minus-square-o',
        'icon-mobile',
        'icon-mobile-phone (alias)',
        'icon-money',
        'icon-moon-o',
        'icon-mortar-board (alias)',
        'icon-music',
        'icon-navicon (alias)',
        'icon-paper-plane',
        'icon-paper-plane-o',
        'icon-paw',
        'icon-pencil',
        'icon-pencil-square',
        'icon-pencil-square-o',
        'icon-phone',
        'icon-phone-square',
        'icon-photo (alias)',
        'icon-picture-o',
        'icon-plane',
        'icon-plus',
        'icon-plus-circle',
        'icon-plus-square',
        'icon-plus-square-o',
        'icon-power-off',
        'icon-print',
        'icon-puzzle-piece',
        'icon-qrcode',
        'icon-question',
        'icon-question-circle',
        'icon-quote-left',
        'icon-quote-right',
        'icon-random',
        'icon-recycle',
        'icon-refresh',
        'icon-reorder (alias)',
        'icon-reply',
        'icon-reply-all',
        'icon-retweet',
        'icon-road',
        'icon-rocket',
        'icon-rss',
        'icon-rss-square',
        'icon-search',
        'icon-search-minus',
        'icon-search-plus',
        'icon-send (alias)',
        'icon-send-o (alias)',
        'icon-share',
        'icon-share-alt',
        'icon-share-alt-square',
        'icon-share-square',
        'icon-share-square-o',
        'icon-shield',
        'icon-shopping-cart',
        'icon-sign-in',
        'icon-sign-out',
        'icon-signal',
        'icon-sitemap',
        'icon-sliders',
        'icon-smile-o',
        'icon-sort',
        'icon-sort-alpha-asc',
        'icon-sort-alpha-desc',
        'icon-sort-amount-asc',
        'icon-sort-amount-desc',
        'icon-sort-asc',
        'icon-sort-desc',
        'icon-sort-down (alias)',
        'icon-sort-numeric-asc',
        'icon-sort-numeric-desc',
        'icon-sort-up (alias)',
        'icon-space-shuttle',
        'icon-spinner',
        'icon-spoon',
        'icon-square',
        'icon-square-o',
        'icon-star',
        'icon-star-half',
        'icon-star-half-empty (alias)',
        'icon-star-half-full (alias)',
        'icon-star-half-o',
        'icon-star-o',
        'icon-suitcase',
        'icon-sun-o',
        'icon-support (alias)',
        'icon-tablet',
        'icon-tachometer',
        'icon-tag',
        'icon-tags',
        'icon-tasks',
        'icon-taxi',
        'icon-terminal',
        'icon-thumb-tack',
        'icon-thumbs-down',
        'icon-thumbs-o-down',
        'icon-thumbs-o-up',
        'icon-thumbs-up',
        'icon-ticket',
        'icon-times',
        'icon-times-circle',
        'icon-times-circle-o',
        'icon-tint',
        'icon-toggle-down (alias)',
        'icon-toggle-left (alias)',
        'icon-toggle-right (alias)',
        'icon-toggle-up (alias)',
        'icon-trash-o',
        'icon-tree',
        'icon-trophy',
        'icon-truck',
        'icon-umbrella',
        'icon-university',
        'icon-unlock',
        'icon-unlock-alt',
        'icon-unsorted (alias)',
        'icon-upload',
        'icon-user',
        'icon-users',
        'icon-video-camera',
        'icon-volume-down',
        'icon-volume-off',
        'icon-volume-up',
        'icon-warning (alias)',
        'icon-wheelchair',
        'icon-wrench'
    ],
    'File Type Icons': [
        'icon-file',
        'icon-file-archive-o',
        'icon-file-audio-o',
        'icon-file-code-o',
        'icon-file-excel-o',
        'icon-file-image-o',
        'icon-file-movie-o',
        'icon-file-o',
        'icon-file-pdf-o',
        'icon-file-photo-o',
        'icon-file-picture-o',
        'icon-file-powerpoint-o',
        'icon-file-sound-o',
        'icon-file-text',
        'icon-file-text-o',
        'icon-file-video-o',
        'icon-file-word-o',
        'icon-file-zip-o'
    ],
    'Spinner Icons': [
        'icon-circle-o-notch',
        'icon-cog',
        'icon-gear',
        'icon-refresh',
        'icon-spinner'
    ]
    // INFO: more can be found here: http://fortawesome.github.io/Font-Awesome/icons/
};
</script>
{% comment %}
{# INFO: add custom icon helpers within this file #}
<hr />
<div class="row">
    <div class="col-md-10">
        <h3>Title</h3>
        <p>Description</p>
    </div>
    <div class="col-md-14 col-linebreak">
        {# INFO: code container automatically adds the <code> button to the inner element #}
        <div class="code-container">
            Component
        </div>
    </div>
</div>
{% endcomment %}
