{# INFO: add your custom icons here, you can create additional categories (see "other") #}
<script>
var StyleguideIcons = {
    'Divio Icons': [
        // come from /static/iconset.json
    ],
};
</script>
{# INFO: add custom icon helpers within this file #}
{% comment %}
<div class="row">
    <div class="col-md-12">
        <h3>Colors</h3>
        <p>Classes can be applied to non-colored icons to force their color</p>
    </div>
    <div class="col-md-12">
        <div style="padding: 15px; background: #e6e6e6">
            <div class="row">
                <div class="col-sm-3 spacer centered-content">
                    <div class="text-center">
                        {% include "includes/icon.html" with icon="copy" color='white' %}<br>
                        <code>icon-white</code>
                    </div>
                </div>

                <div class="col-sm-3 spacer centered-content">
                    <div class="text-center">
                        {% include "includes/icon.html" with icon="copy" color='brand-primary' %}<br>
                        <code>icon-brand-primary</code>
                    </div>
                </div>

                <div class="col-sm-3 spacer centered-content">
                    <div class="text-center">
                        {% include "includes/icon.html" with icon="copy" color='light-primary' %}<br>
                        <code>icon-light-primary</code>
                    </div>
                </div>

                <div class="col-sm-3 spacer centered-content">
                    <div class="text-center">
                        {% include "includes/icon.html" with icon="copy" color='red' %}<br>
                        <code>icon-red</code>
                    </div>
                </div>

                <div class="col-sm-3 spacer centered-content">
                    <div class="text-center">
                        {% include "includes/icon.html" with icon="copy" color='spot-color-neutral-60' %}<br>
                        <code>icon-spot-color-neutral-60</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
