<div class="row">
    <div class="col-md-4">
        <h3>Homepage</h3>
        <div class="list-group">
            <a href="{% url 'divio_styleguide:template' 'home' %}" class="list-group-item">1.01 – Homepage &nbsp;<span class="label label-success">01.01.14</span></a>
            <span class="list-group-item">1.02 – Content</span>
            <span class="list-group-item">1.03 – Team</span>
            <span class="list-group-item">1.04 – Contact</span>
            <span class="list-group-item">1.05 – 404</span>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Application</h3>
        <div class="list-group">
            <span class="list-group-item">2.01 – Login</span>
            <span class="list-group-item">2.02 – Registration</span>
            <span class="list-group-item">2.03 – Profile</span>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Shop</h3>
        <div class="list-group">
            <span class="list-group-item">3.01 – Landing</span>
            <span class="list-group-item">3.02 – Products</span>
            <span class="list-group-item">3.03 – Checkout - Step 1</span>
            <span class="list-group-item">3.04 – Checkout - Step 2</span>
            <span class="list-group-item">3.05 – Checkout - Step 3</span>
        </div>
    </div>
</div>

<h4>Legend</h4>
<div class="alert alert-info" role="alert">
    <ul class="list-unstyled">
        <li><p><span class="label label-success">01.01.14</span>&nbsp; template is <strong>finished</strong>, date indicates latest change</p></li>
        <li><p><span class="label label-warning"><span class="icon icon-fw icon-warning"></span></span>&nbsp; template is in <strong>development</strong>, untested</p></li>
        <li><p class="spacer-zero"><span class="label label-danger"><span class="icon icon-fw icon-times"></span></span>&nbsp; template is <strong>outdated</strong></p></li>
    </ul>
</div>
