<div class="row">
    <div class="col-md-4 mb-5">
        <h3>Main</h3>
        <div class="list-group">
            <a href="{% url 'divio_styleguide:template' 'home' %}" class="list-group-item">1.01 – Homepage <span class="badge badge-warning">development</span></a>
            <a href="{% url 'divio_styleguide:template' 'how-it-works' %}" class="list-group-item">1.02 – How it works <span class="badge badge-warning">development</span></a>
            <span class="list-group-item">1.03 – Agency</span>
            <span class="list-group-item">1.04 – Enterprise</span>
            <a href="{% url 'divio_styleguide:template' 'pricing' %}" class="list-group-item">1.05 – Pricing <span class="badge badge-warning">development</span></a>
            <span class="list-group-item">1.06 – Developers</span>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <h3>Other</h3>
        <div class="list-group">
            <a href="{% url 'divio_styleguide:template' 'blog' %}" class="list-group-item">2.01 – Blog <span class="badge badge-warning">development</span></a>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <h3>Application</h3>
        <div class="list-group">
            <span class="list-group-item">3.01 – Login</span>
            <span class="list-group-item">3.02 – Registration</span>
        </div>
    </div>
</div>

<h4>Legend</h4>
<div class="alert alert-info mb-5" role="alert">
    <ul class="list-unstyled mb-0">
        <li><p><span class="badge badge-success">01.01.14</span>&nbsp; template is <strong>finished</strong>, date indicates latest change</p></li>
        <li><p><span class="badge badge-warning">development</span>&nbsp; template is in <strong>development</strong>, untested</p></li>
        <li><p class="mb-0"><span class="badge badge-danger">outdated</span></span>&nbsp; template is <strong>outdated</strong></p></li>
    </ul>
</div>
