{% load cms_tags %}

{% endspaceless %}
<a
    {% if instance.target %} target="{{ instance.target }}"{% endif %}
    class="media block-left block-btn {{ instance.attributes.class }}" href="{{ link }}">
    {% if instance.icon_left %}{% with icon_class=instance.icon_left instance=instance.icon_left %}
    <div class="mr-3 d-flex align-self-middle">
        {% include "djangocms_icon/includes/icon.html" %}
    </div>
    {% endif %}

    <div class="media-body d-flex flex-column">
        <h3 class="mt-0">{% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% empty %}{{ instance.name }}{% endfor %}</h3>
        <p>{{ instance.attributes.description }}</p>
    </div>

    {% if instance.icon_right %}{% with icon_class=instance.icon_right instance=instance.icon_right %}{% include "djangocms_icon/includes/icon.html" %}{% endwith %}{% endif %}</a>
</a>

