<!doctype html>{% load i18n staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% trans "500 - Server error" %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div class="container text-center">
        <h1>{% trans "500 - Server error" %}</h1>
        <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
    </div>
</body>
</html>
