{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <title>
        {% block title %}
            {% page_attribute page_title %} - {{ request.site.name }}
        {% endblock title %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&subset=latin" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% render_block "css" %}
    <script src="{% static 'js/addons/iframeresizer.contentwindow.min.js' %}"></script>
</head>
<body>
    {% cms_toolbar %}
    {% placeholder "styles" %}
    <div class="wrapper">
        {% block content %}
            {% placeholder "content" %}
        {% endblock %}
    </div>
    {% render_block "js" %}
</body>
</html>
