{% load i18n staticfiles cms_tags sekizai_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {# TODO proper extension #}
        {% block title %}
            {% page_attribute page_title %} - {{ request.site.name }}
        {% endblock title %}
    </title>
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{% spaceless %}
            {% block meta_description %}
                {% page_attribute meta_description %}
            {% endblock %}
        {% endspaceless %}">
    {% endblock meta_tags %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
    {% include "includes/critical_css.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% render_block "css" %}
    {% block extrahead %}{% endblock %}
    {{ ALDRYN_SNAKE.render_head }}
</head>
<body id="page-top" class="no-js lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">
{% include "includes/analytics.html" %}
{% cms_toolbar %}

{% block extend_root %}{% endblock %}

<script defer src="{% static 'js/base.bundle.js' %}"></script>
{% render_block "js" %}
{% block extrafoot %}{% endblock %}
{{ ALDRYN_SNAKE.render_tail }}
{% include "includes/browser.html" %}
</body>
</html>
