{% load i18n staticfiles cms_tags sekizai_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {# TODO proper extension #}
        {% block title %}
            {% page_attribute page_title %} - {{ request.site.name }}
        {% endblock title %}
    </title>
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{% spaceless %}
            {% block meta_description %}
                {% page_attribute meta_description %}
            {% endblock %}
        {% endspaceless %}">
    {% endblock meta_tags %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% render_block "css" %}
    {% block extrahead %}{% endblock %}
    {{ ALDRYN_SNAKE.render_head }}
    {% if request.toolbar and request.toolbar.edit_mode_active %}
        <style type="text/css">
            /* TMP */
            @media (min-width: 1602px) {
                .cms-structure-mode-structure {
                    width: calc(100% - 402px);
                }
                .cms-structure-mode-structure .main-nav {
                    right: 402px;
                }
            }
        </style>
    {% endif %}
    {% include 'django_privacy_mgmt/api.html' %}
</head>
<body id="page-top" class="no-js lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">
{% include "includes/analytics.html" %}
{% cms_toolbar %}

{% block extend_root %}{% endblock %}

<script src="{% static 'js/dist/base.bundle.js' %}"></script>
{% render_block "js" %}
{% if request.toolbar and request.toolbar.edit_mode_active %}
    <script src="{% static 'js/dist/cms.bundle.js' %}"></script>
{% endif %}
{% block extrafoot %}{% endblock %}
{{ ALDRYN_SNAKE.render_tail }}
{% include "includes/browser.html" %}
{% include 'django_privacy_mgmt/popup.html' %}
{% include 'django_privacy_mgmt/banner.html' %}
</body>
</html>
