{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <title>
        {% block title %}
            {% page_attribute page_title %} - {{ request.site.name }}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/5f442160-ae59-4b9c-9bf3-5eacbfc463eb.css">
    {% render_block "css" %}
    <script src="{% static 'js/addons/iframeresizer.contentwindow.min.js' %}"></script>
    <style>
        /* required styles, do not change */
        html, body {
            background: #002D39;
        }
        .wrapper {
            width: 100%;
            padding: 175px 40px 0;
            height: 100%;
            color: white;
            /* for testing */
            /* max-width: 460px; */
        }
        html {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
        }
    </style>
</head>
<body>
    {% cms_toolbar %}
    {% placeholder "styles" %}
    <div class="wrapper">
        {% block content %}
            {% placeholder "content" %}
        {% endblock %}
    </div>
    {% render_block "js" %}
</body>
</html>
