{% extends "base.html" %}
{% load i18n staticfiles cms_tags menu_tags %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}
    <header class="navbar navbar-expand-lg {% block navbar_class %}{% endblock %} main-nav">
        <a class="navbar-brand" href="{% url "pages-root" %}">
            <span class="sr-only">{{ request.site.name }}</span>
            {% include "includes/icon.html" with icon="divio" class="navbar-logo" title="{{ request.site.name }}" %}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
            </span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            {# render_model_block request.current_page "changelist" #}
                {% with dropdown="true" %}
                    <ul class="navbar-nav mx-auto">
                        {% show_menu 0 1 100 100 'includes/navigation.html' %}
                    </ul>
                {% endwith %}
            {# endrender_model_block #}
            <div class="nav-btnlinks">
                <a href="#" class="btn btn-outline-primary nav-btn btn-sm">Login</a>
                <a href="#" class="btn btn-primary nav-btn btn-sm">Get started</a>
            </div>
        </div>
    </header>
{% endblock header %}

{% comment %}
{% block breadcrumb %}
    {% if not request.current_page.is_home %}
        <nav class="navbar navbar-breadcrumb" role="navigation">
            <h3 class="sr-only">{% trans "You are here" %}</h3>
            <div class="container">
                <ol class="breadcrumb">
                    {% block extend_breadcrumb %}
                        {% show_breadcrumb 0 'includes/breadcrumbs.html' 0 %}
                    {% endblock extend_breadcrumb %}
                </ol>
            </div>
        </nav>
    {% endif %}
{% endblock breadcrumb %}
{% endcomment %}

{% if request.toolbar and request.toolbar.edit_mode_active %}
    <a href="/styleguide" class="btn-circle btn-styleguide">Styleguide</a>
{% endif %}

<hr class="sr-only" id="page-content" />
{% block extend_base %}
    {% block messages %}
        {% include "includes/messages.html" %}
    {% endblock messages %}
    {% block content %}
        <div class="container">
            {% placeholder "content" %}
        </div>
    {% endblock %}
{% endblock extend_base %}
<hr class="sr-only" />

{% block footer %}
<footer class="main-footer">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-sm-12 col-lg-3 pt-4 order-5 order-lg-1">
                <a href="/"><img src="{% static "img/logo-divio-black.svg" %}" width="80px" alt="{{ request.site.name }}" /></a>
                <p class="text-secondary mt-2">Your complete digital experience platform.</p>
                <p class="h5">Keep up to date</p>
                <ul class="list-unstyled list-inline footer-social">
                    <li><a href="#" target="_blank">{% include "includes/icon.html" with icon="social-twitter" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                    <li><a href="#" target="_blank">{% include "includes/icon.html" with icon="social-facebook" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                    <li><a href="#" target="_blank">{% include "includes/icon.html" with icon="social-linkedin" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                    <li><a href="#" target="_blank">{% include "includes/icon.html" with icon="social-github" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                    <li><a href="#" target="_blank">{% include "includes/icon.html" with icon="social-gplus" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-lg-2  pt-4 order-2">
                <ul class="list-unstyled footer-links">
                    <li><p class="h5">Support</p></li>
                    {% show_menu_below_id "support" %}
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-lg-2  pt-4 order-3">
                <ul class="list-unstyled footer-links">
                    <li><p class="h5">Company</p></li>
                    {% show_menu_below_id "company" %}
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-lg-2  pt-4 order-4">
                <ul class="list-unstyled footer-links">
                    <li><p class="h5">Legal</p></li>
                    {% show_menu_below_id "legal" %}
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 bg-light p-4 order-1 order-lg-5 footer-help">
                <p class="h5">Need help?</p>
                <p>We’re here for you 24/7</p>
                <div class="row">
                    <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                        {% include "includes/icon.html" with icon="phone" class="d-xl-none" color="slate" %}
                        <div class="pl-2 pl-xl-0">
                            <p class="mb-0">USA</p>
                            <a href="">1231321</a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                        {% include "includes/icon.html" with icon="phone" class="d-xl-none" color="slate" %}
                        <div class="pl-2 pl-xl-0">
                            <p class="mb-0">Worldwide</p>
                            <a href="">1231321</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                        {% include "includes/icon.html" with icon="email" class="d-xl-none" color="slate" %}
                        <div class="pl-2 pl-xl-0">
                            <p class="mb-0">Email</p>
                            <a href="mailto:help@divio.com">help@divio.com</a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                        {% include "includes/icon.html" with icon="chat" class="d-xl-none" color="slate" %}
                        <div class="pl-2 pl-xl-0">
                            <p class="mb-0">Chat</p>
                            <a href="">Start Chat</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <a href="" class="btn btn-primary">I have an emergancy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12">
                <p class="text-secondary mb-0"><small>This site is built with Django &amp; Powered by Divio Cloud</small></p>
                <p class="text-secondary mb-0"><small>COPYRIGHT © 2001-2017 DIVIO AG. ALL RIGHTS RESERVED.</small></p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
{% endblock extend_root %}
