{% extends "base.html" %}
{% load i18n staticfiles cms_tags menu_tags %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}
    <header class="navbar navbar-expand-lg main-nav">
        <div class="container">
            <a class="d-block" href="{% url "pages-root" %}">
                <span class="sr-only">{{ request.site.name }}</span>
                {% include "includes/icon.html" with icon="divio" class="navbar-logo d-block" title=request.site.name %}
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="custom-collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
                </span>
            </button>

            <div class="collapse navbar-collapse" id="main-nav">
                <div class="navbar-collapse-container">
                    {% with dropdown="true" %}
                        <ul class="navbar-nav mx-lg-auto" id="navbarSupportedContent">
                            {% show_menu 0 1 100 100 'includes/navigation.html' %}
                        </ul>
                    {% endwith %}
                    <div class="nav-btnlinks">
                        <a href="/login/" class="nav-link">Login</a>
                        <a href="/get-started/" class="nav-link nav-link-get-started">Get started {% include "includes/icon.html" with icon="arrow-right" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

<hr class="sr-only" id="page-content" />
{% block extend_base %}
    {% block messages %}
        {% include "includes/messages.html" %}
    {% endblock messages %}
    <div class="content">
        {% block feature %}
            <div class="page-header">
                <div class="container">
                    {% placeholder "feature" %}
                </div>
            </div>
        {% endblock %}

        {% block content %}
            <div class="container">
                {% placeholder "content" %}
            </div>
        {% endblock %}
    </div>
{% endblock extend_base %}
<hr class="sr-only" />

{% block footer %}
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-2 pt-4 order-5 d-flex flex-column order-lg-1">
                <a href="/">{% include "includes/icon.html" with icon="divio" class="footer-logo" title=request.site.name %}</a>
                <p class="text-secondary mt-2 footer-slogan">Your Django projects on Autopilot</p>
                <p class="text-secondary footer-links">{% include "django_privacy_mgmt/link.html" %}</p>
                <div class="footer-social">
                    <p class="footer-social-title">Keep up to date</p>
                    <ul class="list-unstyled list-inline">
                        <li><a href="https://twitter.com/divio" target="_blank">{% include "includes/icon.html" with icon="social-twitter" class="" title="Follow us on Twitter " color="blue" %}</a></li>
                        <li><a href="https://www.facebook.com/divio.ch" target="_blank">{% include "includes/icon.html" with icon="social-facebook" class="" title="Follow us on Facebook " color="blue" %}</a></li>
                        <li><a href="https://www.linkedin.com/company/divio-ag" target="_blank">{% include "includes/icon.html" with icon="social-linkedin" class="" title="Follow us on LinkedIn " color="blue" %}</a></li>
                        <li><a href="https://github.com/divio" target="_blank">{% include "includes/icon.html" with icon="social-github" class="" title="Follow us on GitHub " color="blue" %}</a></li>
                        <li><a href="https://plus.google.com/+DivioAGZ%C3%BCrich" target="_blank">{% include "includes/icon.html" with icon="social-gplus" class="" title="Follow us on Google Plus " color="blue" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 pt-4">
                        <ul class="list-unstyled footer-links">
                            <li><p class="footer-links-title">Help and Support</p></li>
                            {% show_menu_below_id "support" 0 0 100 100 %}
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 pt-4">
                        <ul class="list-unstyled footer-links">
                            <li><p class="footer-links-title">About Divio</p></li>
                            {% show_menu_below_id "company" 0 0 100 100 %}
                        </ul>
                    </div>
                    {% comment %}
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 pt-4">
                        <ul class="list-unstyled footer-links">
                            <li><p class="footer-links-title">Our Investors</p></li>
                            {% show_menu_below_id "investors" 0 0 100 100 %}
                        </ul>
                    </div>
                    {% endcomment %}
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 pt-4">
                        <ul class="list-unstyled footer-links">
                            <li><p class="footer-links-title">Terms &amp; Policies</p></li>
                            {% show_menu_below_id "legal" 0 0 100 100 %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 order-1 order-lg-5">
                <div class="row footer-help d-flex flex-column p-4 px-lg-3 py-lg-4 p-xl-4 ">
                    <p class="footer-links-title">Need assistance?</p>
                    <p>We’re here for you 24/7</p>
                    <div class="row">
                        <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                            {% include "includes/icon.html" with icon="phone" class="d-xl-none" color="slate" %}
                            <div class="pl-2 pl-xl-0">
                                <p class="mb-0">USA</p>
                                <a href="tel:+12016934846">+12016934846</a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                            {% include "includes/icon.html" with icon="phone" class="d-xl-none" color="slate" %}
                            <div class="pl-2 pl-xl-0">
                                <p class="mb-0">Worldwide</p>
                                <a href="tel:+41444801270">+41444801270</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                            {% include "includes/icon.html" with icon="email" class="d-xl-none" color="slate" %}
                            <div class="pl-2 pl-xl-0">
                                <p class="mb-0">Email</p>
                                <a href="mailto:sales@divio.com">sales@divio.com</a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-12 col-xl-6 pb-2 flex-row d-flex">
                            {% include "includes/icon.html" with icon="chat" class="d-xl-none" color="slate" %}
                            <div class="pl-2 pl-xl-0">
                                <p class="mb-0">Chat</p>
                                <a href="javascript:Intercom('showNewMessage');">Start Chat</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-4">
                            <a href="tel:+41444801270" class="btn btn-primary btn-sm btn-block">I have an emergency</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <p class="footer-built-with">This site is built with Django &amp; Powered by Divio Cloud</p>
            <p class="footer-copyright">COPYRIGHT © 2001-{% now "Y" %} DIVIO AG. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>
{% endblock footer %}
{% endblock extend_root %}
