@import url('reset.css');
@import url('960.css');
@import url('text.css');

body{
	background:url(../img/body.jpg) repeat-x;
}

#logo a{
	display:block;
	height:70px;
	background:url(../img/sprite.jpg) no-repeat 0 0;
	text-indent:-9999px;
	width:150px;
	float:left;
}

/* Navigation language */
#nav_lang{
	float:right;
}
#nav_lang ul, #nav_lang li{
	list-style:none;
	margin:0;
	padding:0;
}
#nav_lang li{display:block;float:left;}
#nav_lang a{
	display:block;
	float:left;
	padding:2px 5px;
	border-left:1px solid #E0E0E0;
	color:#666666;
	text-decoration:none;
	font-size:12px;
}
#nav_lang a:hover{
	color:#5B80B2;
}
#nav_lang a.selected{
	color:#5B80B2;
	font-weight:bold;
}
#nav_lang li:first-child a{
	border-left:none;
}

/* Navigation main */
#nav_main{
	clear:both;
	border:1px solid #E0E0E0;
}
#nav_main ul, #nav_main li{
	list-style:none;
	margin:0;
	padding:0;
}
#nav_main li, #nav_main a{
	display:block;
 	float:left;
	text-decoration:none;
}
#nav_main a{
	border-right:1px solid #E0E0E0;
	color:#666666;
	padding:11px 10px;
	font-size:13px;
}
#nav_main a:hover{
	color:#fff;
	background:#5B80B2;
}
#nav_main a.selected, #nav_main a.ancestor{	
	color:#5B80B2;
	font-weight:bold;
}
#nav_main a.selected:hover, #nav_main a.ancestor:hover{
	background:#fff;
}


/* Navigation Sub */
#nav_sub{
	margin-bottom:20px;
}
#nav_sub ul, #nav_sub li{
	list-style:none;
	margin:0;
	padding:0;
}
#nav_sub li{	
}
#nav_sub a{
	display:block;
	border-bottom:1px solid #E0E0E0;
	color:#666666;
	font-size:13px;
	text-decoration:none;
	padding:3px 0 3px 0;
	zoom:1;
}
#nav_sub a:hover{
	color:#5B80B2;
}

#nav_sub li li{
	padding-left:10px;
}

#nav_sub a.selected, #nav_sub a.ancestor{	
	color:#5B80B2;
}
#nav_sub a.selected{
	font-weight:bold;
}

/* breadcrumb */
ul.breadcrumb, ul.breadcrumb li{
	list-style:none;
	margin:0;
	padding:0;
}
ul.breadcrumb{
	clear:both;
	margin-bottom:20px;
	/*border-right:1px solid #E0E0E0;	
	border-bottom:1px solid #E0E0E0;*/
	border-left:1px solid #E0E0E0;
	float:left;
}
ul.breadcrumb li{
	float:left;
	color:#666;
}
ul.breadcrumb a,ul.breadcrumb span{
	color:#666;
	text-decoration:none;
	background:url(../img/sprite.jpg) no-repeat right 0;
	display:block;
	float:left;
	padding-right:15px;
	padding-left:10px;
	line-height:22px;
}
ul.breadcrumb a:hover{
	color:#5B80B2;
}
ul.breadcrumb span{
	background-position:-200px -25px;
}

/* Content */
#main{
	clear:both;
}

#col1:after, #col2:after{
	content: "\00a0";
}

/* PLUGIN gogole_map */
.plugin_googlemap{margin-bottom:20px;}
.googlemap-map{
	height:250px;
}
.grid_4 .googlemap-map{
	height:220px;
}
.grid_6 .googlemap-map{
	height:340px;
}
