{% load staticfiles %}

<div class="cookie-bar is-fixed js-cookie-bar" style="display: none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-10 mb-3 mb-md-0">
                This website uses cookies to help ensure that you enjoy the best experience.<br/>
                If you do not consent to our use of cookies, please adjust your
                <a href="#" class="js-cookie-settings">privacy settings</a> accordingly.
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="#" class="btn btn-block btn-primary js-cookie-accept">Accept</a>
            </div>
        </div>
    </div>
</div>
