/*http://files.wymeditor.org/wymeditor/trunk/src/examples/styles.css*/
/* YOU CAN ADD NON-WYMEDITOR RELATED STYLES HERE */

body {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
}

/* EDITOR RELATED STYLES - CUSTOMIZE FOR YOUR NEEDS */
/*
    The classes panel, the visual feedback and the preview
    will be affected by these values.
    
    - Commented styles inside style definitions are used for visual 
      feedback when using the editor.
    - Comments before opening the style are used as caption.
    - Comments after the class name and before the style declaration ({)
      define the jQuery expression that decides whether this 
      style should be applied or not.
      
    Note: the WYMeditor and /WYMeditor comments below are required
    for the CSS parser to work properly.
*/

/* WYMeditor */

/* PARA: Date */
p.date {
  color: #ccf;
  /* background-color: #ff9; border: 2px solid #ee9; */
}

/* PARA: Hidden note */
p.hidden-note /* p[@class!="important"] */ {
     display: none;
    /* color: #999; border: 2px solid #ccc; */
}

/* PARA: Important */
p.important /* p[@class!="hidden-note"] */ {
    color: red; font-weight: bold;
    /* color: red; font-weight: bold; border: 2px solid red; */
}

img.border {
    border: 1px solid #ccc;
    /* border: 4px solid #ccc; */
}

/* LIST: Special */
ul.special,
ol.special {
    color: green;
    /** / background-color: #fc9; border: 2px solid red; /**/
}

/* PARA: Page Title */
p.page_title{
    /*color: #005596;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Times New Roman;*/
    
}


/* /WYMeditor */
/* END EDITOR RELATED STYLES */


/* YOU CAN ADD NON-WYMEDITOR RELATED STYLES HERE */
