{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
	<ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {{ block.super }}
            {% endif %}
            <li>
                {% url cl.opts|admin_urlname:'import' as import_url %}
                <a href="{{ import_url }}" class="addlink">{% trans "Import" %}</a>
            </li>
            <li>
                {% url cl.opts|admin_urlname:'export' as export_url %}
                <a href="{{ export_url }}" class="addlink">{% trans "Export" %}</a>
            </li>
        {% endblock %}
    </ul>
{% endblock %}
