MarkupSafe
Pygments
furo
Sphinx
sphinx-copybutton
sphinxext-opengraph
sphinxcontrib-spelling
sphinx-design
pyenchant>3
sphinx-autobuild
datetime
coverage
django~=4.2
git+https://github.com/django-cms/django-cms@main
codespell
pip-tools
docstrfmt
git+https://github.com/django-cms/djangocms-ecosystem  # important to install directly from github
