furo==2023.09.10
MarkupSafe
Pygments>=2.16.1
sphinx
sphinx-autobuild
sphinxext-opengraph
matplotlib==3.7.3
sphinxcontrib-spelling
pyenchant>3
sphinx-autobuild
datetime
codespell
coverage
django~=3.2
django-cms
