{% load i18n sekizai_tags %}

<form action="{% url 'admin:pandadoc-send-document' %}" method="post" class="js-pandadoc-form">
    <div class="size-16 alert alert-success js-success-message" style="display: none">
        <strong>
            Thank you very much, you will receive an email shortly!
        </strong>
    </div>
    <div class="js-form-wrapper mb-3">
        {% csrf_token %}
        <input name="plugin_id" value="{{ instance.id }}" hidden="hidden">
        <div class="form-group">
            <label for="exampleInputEmail1">{% trans "Email address" %}</label>
            <input type="email" name="recipient_email" class="form-control" placeholder="{% trans "Email" %}" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">{% trans "First Name" %}</label>
            <input type="text"
                   name="recipient_first_name"
                   class="form-control"
                   placeholder="{% trans "First Name" %}"
                   required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">{% trans "Last Name" %}</label>
            <input type="text"
                   name="recipient_last_name"
                   class="form-control"
                   placeholder="{% trans "Last Name" %}"
                   required>
        </div>
        <div class="form-group">
            <div id="recaptcha"></div>
        </div>

        <button id="pandadoc-submit-{{ instance.pk }}" type="submit" class="btn btn-primary js-pandadoc-submit" data-processing-text="{% trans 'Sending...' %}" disabled>{% trans "Send" %}</button>
    </div>
</form>

{% addtoblock "js" %}
    <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoadCallback{{ instance.id }}&render=explicit" async defer></script>
    <script>
        var recaptchaCheck = function (response) {
            if (response.length) {
                document.getElementById('pandadoc-submit-{{ instance.pk }}').removeAttribute('disabled');
            }
        };
        window.onRecaptchaLoadCallback{{ instance.id }} = function () {
            grecaptcha.render('recaptcha', {
                sitekey: '{{ recaptcha_sitekey }}',
                callback: recaptchaCheck,
                theme: 'light'
            });
        };

        window.addEventListener('load', function () {
            var submitButton = $('.js-pandadoc-submit');
            $('form.js-pandadoc-form').submit(function () {
                submitButton.prop('disabled', true);
                submitButton.html('{% trans 'Sending...' %}');
            });
        });
    </script>
{% endaddtoblock %}
