/* Custom styles for django CMS documentation */

img.screenshot {
    border: 1px solid var(--color-background-border);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.doc-logo-no-margin {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 6px !important;
}

@media (max-width: 768px) {
    .doc-logo-no-margin {
        display: none;
    }
}
