// #############################################################################
// BACKGROUND
// all the styles for the diagonal backgrounds are delcared within this file

// stylelint-disable selector-max-type

.stripe {
    position: relative;
    padding: 70px 0;
}

// Stripe background
.stripe:before {
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    transform-origin: center center;
    position: absolute;
    z-index: -1;
    background-color: #F8FAFB;
}

// stripe direction
.stripe-up {
    &:before {
        transform: skewY(-5.4deg) translateZ(0);
    }
}

.stripe-down {
    &:before {
        transform: skewY(5.4deg) translateZ(0);
    }
}

.stripe-steep-up {
    &:before {
        transform: skewY(-3deg) translateZ(0);
    }

    @include media-breakpoint-up(md) {
        padding-top: 180px;
        padding-bottom: 180px;

        &:before {
            transform: skewY(-15deg) translateZ(0);
        }

        .row-align-angle {
            [class*=col]:first-child {
                margin-bottom: -120px;
            }

            [class*=col]:last-child {
                margin-top: -120px;
            }
        }
    }
}

.stripe-steep-down {
    &:before {
        transform: skewY(3deg) translateZ(0);
    }

    @include media-breakpoint-up(md) {
        padding-top: 180px;
        padding-bottom: 180px;

        &:before {
            transform: skewY(15deg) translateZ(0);
        }

        .row-align-angle {
            [class*=col]:first-child {
                margin-top: -120px;
            }

            [class*=col]:last-child {
                margin-bottom: -120px;
            }
        }
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

.opacity-0 {
    opacity: 0;
}
