// Blog article tile
.blog-article-list > .article-tile:first-child {
    margin-top: -175px;
}

.article-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article-tile-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.article-tile-img {
    display: flex;
}

.article-tile-content {
    min-height: 220px;
    flex: 1 0 auto;
}

.article-tile {
    .article-tile-wrap {
        @extend .bg-white-shadow;

        overflow: hidden;
    }

    .article-tile-content {
        display: flex;
        flex-direction: column;
        padding: 28px;
        justify-content: center;
    }

    .article-tile-img {
        margin: 0 -15px;
    }
}

.article-tile-img {
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    margin: 0 -15px;
}

.article-img {
    flex: 1 0 auto;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;

    // stylelint-disable-next-line selector-max-type
    img {
        border: 2px solid $snow;
        margin-right: 0.8rem;
        width: 2rem;
    }
}

.article-tile-long {
    .article-tile-img {
        min-height: 350px;
    }

    .article-tile-content {
        height: 100%;
    }
}

.article-tile-short {
    .article-tile-img {
        height: 280px;
        display: flex;
    }

    > .row {
        height: 100%;
    }

    .author {
        align-self: flex-end;
        justify-self: flex-start;
        margin: auto auto 0 0;
    }
}

