// #############################################################################
// BUTTONS
// all styles related to the button system should be declared within this file
// apply the "sites/" nesting described within the documentation if the file is
// getting to large
.btn {
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
        min-height: 40px;
    }


    .icon {
        margin-right: 10px;
        font-size: 18px;

        &:only-child {
            margin: 0;
        }

        svg,
        use {
            fill: currentColor;
        }
    }

    .icon-arrow-right {
        width: 0.8rem;
        height: 0.8rem;
        margin: 5px 0 0 3px;
    }

    // stylelint-disable-next-line selector-max-type
    span + .icon {
        margin-left: 10px;
        margin-right: 0;
    }

    .input-group-btn & {
        height: 100%;
    }
}

.btn-block {
    display: flex;
}

.btn-styleguide {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background: $night;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    color: white;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    &:hover {
        color: white;
    }
}

.btn {
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: rem(40px);
    font-size: rem(14px);
    text-transform: uppercase;
    font-weight: bold;
}

.btn + .btn.dropdown-toggle {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-sm {
    font-weight: bold;
    font-size: rem(12px);
    padding-top: 0;
    height: rem(34px);
    padding-bottom: 0;
}

.btn-lg {
    height: rem(45px);
}
