// #############################################################################
// BUTTONS
// all styles related to the button system should be declared within this file
// apply the "sites/" nesting described within the documentation if the file is
// getting to large
.btn {
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;

    .icon {
        margin-right: 10px;
        font-size: 18px;

        &:only-child {
            margin: 0 0 0 10px;
        }

        use {
            fill: currentColor;
        }
    }

    .icon-arrow-right {
        width: 0.8rem;
        height: 0.8rem;
        margin: 5px auto 0;
    }

    // stylelint-disable-next-line selector-max-type
    span + .icon {
        margin-left: 10px;
        margin-right: 0;
    }

    .input-group-btn & {
        height: 100%;
    }
}

.btn-block {
    display: flex;
}


a:not(.btn) {
  > .icon {
    width: 0.8rem;
    height: 0.8rem;
    margin: 5px auto 0;
  }
}

.btn-line-primary {
  border:1px solid $azure;
  color: $azure;
}
