.card-borderless {}

.slick-slide .card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    min-height: 284px;

    .card-body {
        display: flex;
        flex-direction: column;

        hr {
            width: 100%;
            margin-top: auto;
        }
    }
}

.card {
    box-shadow: $card-box-shadow;
}

.card-body {
    padding: rem(35px) rem(30px) rem(30px);
}

.card-title {
    font-size: rem(24px);
    line-height: rem(32px);
    font-weight: 600;
    color: theme-color(primary);
}

.card-small {
    .card-body {
        padding: rem(15px) rem(15px) rem(20px);
        font-size: rem(14px);
    }
}

.card-active {
    box-shadow: inset 0 0 0 2px rgba(theme-color(primary), 1), $card-box-shadow;
}
