/********************************************* Orderbook styles ****************************************************/
/* used in several places and are so few so its not necessary to have in its own file */
.orderbook-table td, .orderbook-table th {
    text-align: right;
}

.orderbook-table td:nth-child(1), .orderbook-table td:nth-child(2), .orderbook-table th:nth-child(1), .orderbook-table th:nth-child(2) {
    text-align: left;
}


/********************************************************* Ticker styles *******************************************************/
/* used in several places and are so few so its not necessary to have in its own file */
#target-ticker img {
    width: 25px;
}

.ticker-large td:nth-child(odd) {
    padding-right: 30px;
}

.ticker-price {
    font-size: 25pt;
    color: $primary; /* default, will not be used if the bootstrap classes are present and working */
    font-weight: bold;
}

.ticker-large td {
    font-weight: 600;
}

.small-ticker p {
    margin-bottom: 5px;
}

.small-ticker .delta {
    margin-top: 3px;
}

.small-ticker img {
    margin-left: 20px;
}

/**********************************************************************************************************************/
/************************************************** Sharegraph styles *************************************************/
/**********************************************************************************************************************/

#target-sharegraph-wrapper {
    margin-top: -20px;
}

#sharegraph-container {
    height: 400px;
    width: 100%;
}

/* small sharegraph */
#mini-sharegraph #sharegraph-container {
    margin: 20px auto;
    height: 150px;
    width: 500px;
}

/* Horisontal ticker *******************************************/

#horisontal-ticker {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

 #horisontal-ticker th {
     border-bottom: 1px solid #ccc;
     text-align: left;
 }

 #horisontal-ticker td, #horisontal-ticker th {
     padding: 5px 10px;
 }

 #horisontal-ticker th.image {
     border-bottom: none;
 }

 #horisontal-ticker th.image img {
     width: 40px;
     margin-bottom: -28px;
     padding-right: 2px;
 }


/***************************************** Sharegraph extras ***********************************************/

.sharegraph-extras .date-picker {
    float: left;
    margin-right: 10px;
    width: 160px;
}

#share-options-select li a, #share-download-options li a {
    min-width: 220px;
    color: #333;
    margin-right: 40px;
}

#share-download-options,
#share-options-select {
    display: inline-block;
}
#share-options-select {
    padding-right: 15px;
}

.sharegraph-extras {
    width: 100%;
}

#share-options-select li.cision-disabled a {
    color: grey;
}
#share-options-select li.cision-disabled:hover, #share-options-select li.cision-disabled:hover a {
    cursor: default;
}

#share-options-select li .fa-check {
    display: none;
    float: right;
    margin-top: 4px;
}

#share-options-select li.selected .fa-check {
    display: inline-block;
}

.performance-table td:first-child {
    font-weight: 500;
}

.sharegraph-extras {
    margin-top: 10px;
}

/**********************************************************************************************************************/
/********************************************* Share calculator styles ************************************************/
/**********************************************************************************************************************/

#shareHeader {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sharecalclulator-container input[type=radio] {
    margin: 4px 0 0;
}

.sharecalclulator-container fieldset {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    clear: both;
}

.sharecalclulator-container legend {
    margin-bottom: 0px;
    color: $primary;
    width: auto;
    border-bottom: none;
}

.sharecalclulator-container table td {
    padding: 4px 10px 4px 0px;
    /*width: 110px;*/
}

.sharecalclulator-container .fullsize {
    width: 100%;
}

.sharecalclulator-container .bold {
    font-weight: 700;
}

.sharecalclulator-container .amount {
    width: 100%;
}

.sharecalclulator-container .first {
    width: 200px;
}

.sharecalclulator-container .valuesSeparator {
    margin-top: 10px;
}

.sharecalclulator-container .helptext {
    font-style: italic;
    font-size: 13px;
}

.sharecalclulator-container #csvExport {
    margin-left: 10px;
}

.sharecalclulator-container .history-download {
    margin-top: -15px;
}

.sharecalclulator-container .compute-button {
    margin-top: 10px;
}

.sharecalclulator-container .share-help-container {
    margin-top: 15px;
}

.sharecalclulator-container .share-help-container p {
    margin-bottom: 10px;
}

.sharecalclulator-container .results-right {
    width: 49%;
    float: left;
}

.sharecalclulator-container .results-left {
    width: 49%;
    float: left;
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
}

.sharecalclulator-container .border {
    margin-left: 10px;
}

.sharecalclulator-container h4 {
    margin-bottom: 5px;
}

.sharecalclulator-container .row {
    padding: 5px 0;
    margin-left: 0;
}

.sharecalclulator-container .row .col-6, .sharecalclulator-container .row .col {
    padding-right: 30px;
    padding-left: 0px;
}

.sharecalclulator-container .row .col-6:last-child {
    padding-right: 0;
}

#end-value {
    margin-left: 10px;
}
