.cms-toolbar-expanded {
    margin-top: 0 !important;
    padding-top: 46px !important;

    @include media-breakpoint-up(lg) {
        padding-top: 46px !important;
    }


    @include media-breakpoint-up(lg) {
        .main-nav {
            top: 46px;
        }
    }
}
