// #############################################################################
// CUSTOM COMPONENTS
// all styles related to custom styled components like block, block-left & circles

// Custom Blocks
// Default
.block {
    height: 100%;

    .card-body {
        padding: 10px;

        .btn {
            white-space: normal;
        }
    }

    .block-icon {
        width: 50px;
        height: 50px;
    }
}

// Left aligned block
.block-left {
    height: 100%;
    padding-bottom: 2rem;

    .media-body {
        height: 100%;
    }

    .block-left-icon {
        width: 50px;
        height: 50px;
    }
}

// Block button
.block-btn {
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: auto;
    flex-grow: 1;
    border-radius: $border-radius;
    text-decoration: none !important;

    // stylelint-disable-next-line selector-max-type
    h3,
    p {
        color: $night;
        text-decoration: none !important;
    }
}

// Setion title
// stylelint-disable-next-line selector-max-type
.section-title + button,
.section-title + .btn {
    margin-top: -30px;
}

.bg-white-shadow {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
