/* stylelint-disable selector-max-type */
//Footer
.main-footer {
    display: block;
    padding: 1rem;
    visibility: visible;
    background: white;
    margin-top: 70px;
    font-size: rem(14px);

    .footer-logo {
        width: 100px;
        height: 18px;
        margin-top: 4px;
        margin-bottom: 4px;

        svg,
        use {
            fill: #00416A;
        }
    }

    .footer-help {
        background-color: #F3F6FA;
        border-radius: $border-radius;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    .footer-links {
        column-count: 2;
        margin-bottom: 20px;

        li {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        li:first-child {
            column-span: all;
        }

        a {
            line-height: 1.5rem;
            color: theme-color(secondary);
            font-size: 12px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
}

@include media-breakpoint-up(sm) {
    .main-footer {
        padding-top: 2rem;

        .footer-links {
            column-count: auto;
        }
    }
}


.footer-links-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    color: $body-color;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-bottom: 7px;
}

.footer-slogan {
    font-weight: 700;
}

.footer-built-with {
    margin-bottom: 0px;
    color: theme-color(secondary);
    font-weight: bold;
}

.footer-copyright {
    margin-bottom: 0px;
    color: #8392A4;
    text-transform: uppercase;
}

.footer-social {
    margin-top: auto;

    ul {
        white-space: nowrap;
    }

    li {
        display: inline-block;

        a {
            padding: 5px;
        }

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}

.footer-social-title {
    font-size: 14px;
    font-weight: bold;
    color: #8392A4;
    text-transform: uppercase;
}
