/* stylelint-disable selector-max-type */
.navbar-sticky {
    background: white;
}

// Navigation bar {
.main-nav {
    background-color: transparent;
    min-height: $header-height - 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: height $speed-base;

    @include media-breakpoint-up(sm) {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }


    @include media-breakpoint-up(lg) {
        top: 0;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 1030;
        position: absolute;

        &.main-nav-scrolled {
            position: fixed;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            margin-top: 0px;

            &.navbar-light {
                background-color: white;
            }
        }
    }


    .icon.navbar-logo {
        width: 100px;
        height: 18px;

        svg, use {
            // fill: rgba($body-color;
            fill: #5F7998;

            @include media-breakpoint-down(md) {
                fill: $body-color;
            }
        }
    }

    .nav-link {
        letter-spacing: 0.86px;
        text-transform: uppercase;
        display: flex;
        font-size: 12px;
        align-items: center;
        font-weight: bold;
        color: #5F7998;

        @include media-breakpoint-down(md) {
            color: $body-color;
        }


        @include media-breakpoint-down(xl) {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
        }


        @include media-breakpoint-up(lg) {
            display: inline-flex;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }


        @include media-breakpoint-up(xl) {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }


        .icon {
            width: 8px;
            height: 8px;
            margin-left: 6px;
        }

        .dropdown-arrow {
            transform: rotate(90deg);
        }
    }

    .navbar-nav {
        @include media-breakpoint-down(md) {
            padding-top: 10px;
            flex-grow: 1;
            flex-shrink: 0;
            margin-bottom: 30px;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-btnlinks {
        display: flex;
        flex-direction: row;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 15px;

            .nav-link {
                color: $body-color;
                padding-bottom: 20px;
                padding-top: 20px;
                order: 2;
            }
        }


        .nav-link.nav-link-get-started {
            padding-right: 0 !important;
            color: $body-color;
            transition: color 0.5s;

            @include media-breakpoint-down(md) {
                order: 1;
                color: theme-color(primary);
                padding-left: 30px !important;
                padding-right: 30px !important;
                border-radius: 30px;
                font-size: 14px;
                height: 40px;
                user-select: none;
                border: $btn-border-width solid transparent;

                @include transition($btn-transition);

                @include button-outline-variant(theme-color(primary));

                .icon {
                    display: none;
                }
            }
        }
    }

    &.main-nav-scrolled .nav-btnlinks .nav-link.nav-link-get-started {
        color: theme-color(primary);
    }

    .nav-btn {
        margin: 10px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .dropdown-item {
        padding: 0;
    }

    .dropdown-menu {
        border: none;
        padding: 0;
    }

    .navbar-brand {
        padding-top: 0;
    }

    .navbar-collapse {
        transform: translateZ(0);
        transition: 0s;

        @include media-breakpoint-down(md) {
            opacity: 0;
            transform: scale(0.95) translateZ(0);
            position: fixed;
            background: #ECF1F5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: z(header, menu);
        }


        @include media-breakpoint-up(lg) {
            opacity: 1 !important;
        }
    }

    .navbar-toggler {
        @include media-breakpoint-down(md) {
            z-index: z(header, toggler);
        }
    }

    .navbar-logo {
        @include media-breakpoint-down(md) {
            z-index: z(header, logo);
        }
    }
}

.navbar-collapse-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
        margin-top: 50px;
        height: calc(100% - 50px);
        overflow-y: auto;
        -webkit-touch-scrolling: auto;

        @include make-container;

        @include make-container-max-widths($max-widths: (sm: 540px, md: 720px), $breakpoints: (xs: 0, sm: 576px, md: 768px));
    }


    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.navbar-toggler {
    padding: 2px;
    position: relative;

    .navbar-toggler-icon {
        padding: 0 4px;
    }

    .icon-bar {
        margin-left: 3px;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 2px;
        background-color: #5F7998;
        transition: all 0.3s;
        position: absolute;

        &:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: left center;
            top: 7px;
        }

        &:nth-child(2) {
            opacity: 0;
            top: 15px;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: left center;
            top: 23px;
        }
    }

    &.collapsed {
        .icon-bar {
            transform: rotate(0);
            margin-left: 0;

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
}

.main-nav {
    .navbar-toggler-icon {
        background-image: none !important;

        .icon {
            margin-top: 5px;
        }
    }
}

.icon-dropdown {
    .dropdown-menu {
        // display: block;
        box-shadow: none;
        background: transparent;

        // transition-property: max-height, padding, opacity;
        // transition-duration: 0.3s;
        // max-height: 0;
        // overflow: hidden;
        // opacity: 0;

        @include media-breakpoint-down(md) {
            padding: 0 10px;
            margin: 2px -10px;
        }


        @include media-breakpoint-up(lg) {
            &:before {
                content: '';
                position: absolute;
                box-shadow: 0 0 1rem rgba($black, 0.175);
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                background-color: white;
                z-index: -9;
                left: 50%;
                margin-left: -10px;
                top: -9px;
            }
        }


        .dropdown-item {
            display: flex;
            flex-direction: row;
            max-width: 400px;

            @include media-breakpoint-up(lg) {
                background: white;
            }


            &:active {
                color: black;
            }

            .icon {
                margin-top: 1px;
                flex-shrink: 0;

                svg,
                use {
                    fill: theme-color(primary);
                }
            }

            .dropdown-desc {
                white-space: normal;
                margin-left: 1rem;
                font-size: rem(14px);
                color: theme-color(secondary);

                @include media-breakpoint-down(md) {
                    margin-bottom: 1rem;
                }


                .dropdown-desc-title {
                    display: block;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: theme-color(primary);
                    margin-bottom: 5px;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .dropdown-item:hover,
            .dropdown-item:focus {
                background-color: transparent;
            }
        }
    }
}

.show.icon-dropdown .dropdown-menu {
    max-height: 999px;
    opacity: 1;

    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}

.mobile-menu-shown {
    position: fixed;
    z-index: z(default);
    width: 100%;
}
