// #############################################################################
// HEADER
// Specific styles for header, logo and navigation

/* critical:start */
.navbar-head {
    background: $brand-primary;

    .navbar-brand {
        float: left;
        height: 66px;
        padding: 0;
        margin: 33px 0;
    }

    .navbar-nav {
        margin: 55px 0;
    }

    button {
        display: none;
    }

    .navbar-collapse {
        float: right;

        a {
            color: white;
        }
    }
}
/* critical:end */
