// #############################################################################
// HELPERS
// helper classes for the general layout

// HELPERS/accessibility
.skip-links {
    position: absolute;
    top: $navbar-brand-height;
    right: 0;
    left: 0;
    z-index: 9999;

    a {
        @extend .sr-only;
        @extend .sr-only-focusable;
    }
}
