// #############################################################################
// ICONS
// all styles related to the icons are declared here
/* stylelint-disable */
.icon {
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }

}

.icon-md {
      width: 50px;
      height: 50px;
}

a .icon {
   use { fill: currentColor; }
}

//
// Product icons
// Gradients and shadow created with CSS not SVG

.product-icon {
    position: relative;
    width: 50px;
    height: 50px;

    &::before {
        content: '';
        background: $gradient-blue;
        width: 90%;
        height: 90%;
        display: block;
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;
        z-index: 0;
        border-radius: 100px;
    }

    svg {
      position: relative;
      z-index:1;
    }
}
//
//Product icons with shadow

.product-icon-shadow {
    &::before {
        content: '';
        box-shadow: 0 4px 20px rgba(000, 000, 000, 0.2);
    }
}

.icon-white {
    use {
        fill: white;
    }
}
.icon-blue {
    use {
        fill: $azure;
    }
}

.icon-stone {
  use {
      fill: $stone;
  }
}

.icon-slate {
  use {
      fill: $slate;
  }
}
