/* stylelint-disable selector-max-type */
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 13px;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // this is bad, but this is easiest
    // to do the fullwidth sections with pure css
    // should probably do breakout ones instead
    overflow-x: hidden !important;

    @include media-breakpoint-up(lg) {
        padding-top: $header-height;
    }
}

.content {
    flex-grow: 1;
}

body.cke_editable {
    @include media-breakpoint-up(lg) {
        padding-top: 0;
    }
}

// SUB MENU
.sub-menu {
    display: block;
    text-align: left;
    width: 100%;

    .h5 {
        text-align: center;
    }

    .sub-menu-toggler {
        cursor: pointer;
        display: flex;
        align-items: center;

        .icon {
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            margin-left: rem(8px);
            transform: rotate(-90deg);
        }
    }

    .collapsed .icon {
        transform: rotate(90deg);
    }
}

// Horizontal SUB MENU for pages like blog
.sub-menu-horizontal {
    ul {
        list-style-type: none;
        padding: 0 0 20px;
        margin-bottom: 0;
        justify-content: center;

        a {
            color: $body-color;
            margin: 0 0 rem(10px);
            display: block;
            text-transform: uppercase;
            font-size: rem(14px);
            line-height: rem(20px);
            letter-spacing: rem(2px);
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                font-size: rem(12px);
            }
        }

        .active {
            color: theme-color(primary);
        }
    }
}

// SUB MENU vertically aligned like t&cs page
.sub-menu-vertical {
    ul {
        list-style-type: none;
        padding: 0 0 20px;

        ul {
            padding-left: 20px;
            padding-bottom: 0px;
        }

        a {
            color: $body-color;
            margin: 0 0 10px;
            display: block;
            text-transform: uppercase;
            font-size: rem(14px);
            line-height: rem(20px);
            letter-spacing: rem(1px);
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                font-size: rem(12px);
            }
        }

        .selected > a {
            color: theme-color(primary);
        }
    }

    .sub-menu-title {
        display: none;
    }

    .sub-menu-toggler,
    .sub-menu-title {
        font-size: rem(14px);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: rem(1px);
    }
}

@include media-breakpoint-up(lg) {
    .sub-menu-horizontal {
        max-width: 100%;

        ul {
            a {
                padding: 0 10px;
                border-left: none;
                text-decoration: none;
            }
        }
    }

    .sub-menu-vertical {
        text-align: left;
        position: relative;

        .collapse {
            flex-direction: column;
            align-items: flex-start;
        }

        .h5 {
            text-align: left;
        }

        .sub-menu-title {
            display: block;
        }
    }

    .sub-menu-toggler {
        display: none !important;
    }

    .icon-dropdown {
        .dropdown-menu {
            width: 350px;
            margin-left: -120px;
            margin-top: 10px;
            background: white;
            box-shadow: 0 0 1rem rgba(black, 0.175);

            .dropdown-item {
                padding: 20px 20px 0;

                &:last-child {
                    padding-bottom: 20px;
                }

                .dropdown-desc {
                    line-height: 1.2rem;
                }

                .dropdown-desc-more {
                    display: block;
                }
            }
        }
    }

    .main-nav {
        .navbar-nav {
            padding: 0;
        }

        .nav-btn {
            margin: 0 0 0 10px;
        }
    }

    .navbar-dark.main-nav {
        .dropdown-menu a,
        .dropdown-desc b {
            color: $night;
        }
    }
}


.section-fullwidth {
    margin-left: -15px;
    margin-right: -15px;

    @include media-breakpoint-up(sm) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.page-header {
    @include media-breakpoint-up(sm) {
        padding-top: 80px;
    }


    .lead {
        margin-bottom: 25px;
    }

    .spitzmarke {
        font-size: rem(16px);
        margin-bottom: rem(15px);
    }
}

.page-header-with-image {
    position: relative;
    padding-top: 210px;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        padding-top: 0px;

        .page-header-image {
            position: relative;
            order: -1;
        }

        .btn {
            margin-bottom: 5px;
            margin-right: 0px !important;
        }
    }


    @include media-breakpoint-up(sm) {
        // padding-top: 320px;
        margin-top: -70px;
    }


    @include media-breakpoint-up(lg) {
        padding-top: 0px;
        margin-top: 0px;
    }
}

.page-header-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {
        left: auto;
        width: 100%;
        height: auto;
        z-index: -1;
        top: 0;
        right: 0;
    }


    @include media-breakpoint-up(lg) {
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        height: calc(100% - 10px);
    }


    @include media-breakpoint-up(xl) {
        height: calc(100% + 100px);
    }
}

.media-icon {
    width: 58px;
    height: 58px;
}

.media-body {
    font-size: 14px;
    line-height: 20px;
}

.row-equal-heights {
    > [class*=col] {
        display: flex;
        flex-direction: column;

        > .card {
            flex-grow: 1;

            > .card-body {
                display: flex;
                flex-direction: column;
            }

            hr {
                width: 100%;
                margin-top: auto;
            }
        }
    }
}

.page-header ~ .container {
    visibility: visible;
}
