/* stylelint-disable selector-max-type */
html {
    overflow-y: scroll;
    @include media-breakpoint-up(lg) {
        padding-top: 51px;
    }
}

// SUB MENU
.sub-menu {
    text-align: left;
    width: 100%;
    max-width: 400px;

    .h5 {
        text-align: center;
    }

    .sub-menu-toggler {
        cursor: pointer;
        color: $azure;

        .icon {
            width: 0.8rem;
            height: 0.8rem;
            transform: rotate(-90deg);
            margin-top: 3px;
        }
    }

    .collapsed .icon {
        transform: rotate(90deg);
    }
}

// Horizontal SUB MENU for pages like blog
.sub-menu-horizontal {
    ul {
        list-style-type: none;
        padding: 10px 0 0;
        margin-bottom: 0;
        justify-content: center;

        a {
            padding: 0 10px;
            margin: 0 10px 10px;
            display: block;
            border-left: 2px solid transparent;
        }

        li:last-child {
            a {
                margin-bottom: 0;
            }
        }

        .active {
            border-left: 2px solid $azure;

            @extend .text-primary;
        }
    }
}

// SUB MENU vertically aligned like t&cs page
.sub-menu-vertical {
    padding: 0 20px;

    ul {
        list-style-type: none;
        padding: 10px 0 0;

        a {
            color: $night;
            margin: 0 0 10px;
            display: block;
        }
    }

    #sub-menu-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .sub-menu-title {
        display: none;
    }
}

@include media-breakpoint-up(lg) {
    .sub-menu-horizontal {
        max-width: 100%;

        ul {
            a {
                padding: 0;
                border-left: none;
                border-bottom: 2px solid transparent;
            }

            .active {
                border-left: none;
                border-bottom: 2px solid $azure;
            }
        }
    }

    .sub-menu-vertical {
        max-width: 300px;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px;
        text-align: left;

        &::before {
            content: '';
            background: $snow;
            left: 0;
            transform: skewY(-3deg) translate3d(0, 0, 0);
            width: 100%;
            height: calc(100% + 20px);
            bottom: -20px;
            transform-origin: 0;
            position: absolute;
            z-index: -1;
        }

        .h5 {
            text-align: left;
        }

        .sub-menu-title {
            display: block;
        }
    }

    .sub-menu-toggler {
        display: none;
    }

    .icon-dropdown {
        .dropdown-menu {
            width: 350px;
            margin-left: -120px;
            margin-top: 10px;
            background: white;
            box-shadow: 0 0 1rem rgba(black, 0.175);

            .dropdown-item {
                padding: 15px;

                .dropdown-desc {
                    line-height: 1.2rem;
                }

                .dropdown-desc-more {
                    display: block;
                }
            }
        }
    }

    .main-nav {
        .navbar-nav {
            padding: 0;
        }

        .nav-btn {
            margin: 0 0 0 10px;
        }
    }

    .navbar-dark.main-nav {
        .dropdown-menu a,
        .dropdown-desc b {
            color: $night;
        }
    }
}
