// this is the column pricing
.pricing {
    font-size: 14px;
    line-height: 20px;

    @include media-breakpoint-up(xl) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.pricing-title {
    text-align: center;
    text-transform: uppercase;
    font-size: rem(18px);
    line-height: rem(20px);
    letter-spacing: rem(7px);
    margin-bottom: rem(20px);
    color: theme-color(secondary);
    font-weight: bold;
}

.pricing .card-body {
    padding: rem(20px);

    .spitzmarke-lg {
        font-size: rem(14px);
        letter-spacing: rem(3px);
        margin-left: rem(-20px);
        margin-right: rem(-20px);
        margin-bottom: rem(20px);

        @include media-breakpoint-up(lg) {
            letter-spacing: rem(3px);
        }


        @include media-breakpoint-up(xl) {
            letter-spacing: rem(4px);
        }
    }
}

.pricing-image {
    display: block;
    height: rem(100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(20px);
}

.pricing-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: rem(20px);
}

.pricing-currency {
    font-size: rem(20px);
    line-height: 1;
    font-weight: bold;
    color: theme-color(secondary);
    align-self: flex-start;
}

.pricing-value {
    font-size: rem(54px);
    line-height: rem(46px);
    height: rem(46px);
    font-weight: bold;
    color: theme-color(secondary);
    align-self: flex-end;
}

.pricing-period {
    color: theme-color(primary);
    font-size: rem(24px);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: rem(5px);
    align-self: flex-end;
}

.pricing-ideal {
    display: block;
    color: theme-color(primary);
    font-weight: 600;
}

.pricing-guarantee {
    display: block;
    font-weight: 600;
}

.pricing .btn-sm {
    margin-top: 20px;
}

.pricing-features {
    color: theme-color(secondary);

    .spitzmarke {
        color: rgba(theme-color(secondary), 0.6);
    }

    p {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.pricing-additional {
    color: theme-color(secondary);

    p {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    ul {
        text-align: left;
        list-style-type: none;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;

        li {
            margin-bottom: 5px;
        }
    }
}

.pricing-vip {
    color: $body-color;
    font-weight: bold;
    margin-top: 1rem;

    p {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.pricing-detail-table {
    text-align: center;

    .icon {
        display: block;
        margin: 0 auto rem(4px);

        svg,
        use {
            fill: theme-color(secondary);
        }
    }

    thead th {
        height: rem(60px);
    }

    tbody {
        th {
            text-align: left;
            color: theme-color(primary);
            font-weight: bold;
            font-size: rem(14px);
        }

        td {
            color: theme-color(secondary);
        }

        tr:last-child {
            th,
            td {
                border-bottom: 1px solid $table-border-color;
            }
        }
    }
}

// this is the tab pricing
.pricing-tabs {
    .nav-tabs {
        flex-wrap: nowrap;
    }

    .nav-item a {
        border-bottom: none;
    }

    .nav-link {
        color: $body-color;
        font-size: rem(14px);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: rem(22px);
        letter-spacing: rem(1.8px);

        @include media-breakpoint-up(md) {
            min-width: rem(200px);
            padding: rem(100px) rem(50px) rem(10px);
        }
        min-height: 50px;
        border: rem(1px) solid $gray-100;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
    }

    .tab-pane {
        padding: rem(60px) rem(50px);
        border: rem(1px) solid $gray-300;
        border-top: none;
        background: #fff;
    }

    .icon-notification {
        position: relative;
        top: 7px;
    }

    .pricing-title {
        text-align: left;
        padding-left: 40px;
        position: relative;

        .icon-customise {
            font-size: 150%;
            position: absolute;
            left: 0;
            top: -4px;
        }
    }

    small {
        font-size: 12px;
    }

    .btn-sm {
        height: 30px;
    }
}

@include media-breakpoint-up(md) {
    .pricing-tabs-economy .nav-link {
        background-image: url('../img/pricing/plane-2.png');
    }

    .pricing-tabs-business .nav-link {
        background-image: url('../img/pricing/plane-3.png');
    }

    .pricing-tabs-premium .nav-link {
        background-image: url('../img/pricing/premium.png');
        background-size: 80%;
        background-position: center 15px;
        // make tab wider to center text
        @include media-breakpoint-up(lg) {
            background-position: center 16px;
            background-size: 60%;
            min-width: 360px;
        }
        @include media-breakpoint-up(xl) {
            background-position: center 18px;
            background-size: 60%;
            min-width: 330px;
        }
    }
}

.pricing-tabs-premium {
    margin-left: auto;
}

.pricing-tabs-price-top {
    white-space: nowrap;
}

.pricing-tabs-price {
    color: $secondary;
    font-weight: 700;
    text-align: center;
    padding-top: rem(20px);
}

.pricing-tabs-price-value {
    font-size: rem(80px);
    line-height: rem(40px);
    padding-right: rem(10px);
}

.pricing-tabs-price-currency {
    font-size: rem(20px);
    line-height: rem(40px);
}

.pricing-tabs-price-period {
    color: $body-color;
    text-transform: uppercase;
    letter-spacing: rem(2px);
}

.pricing-tabs-slider {
    .h6 {
        color: $primary;
        font-size: rem(12px);
        margin: 0;
    }
}

.pricing-tabs-visual {
    height: calc(100% + 70px);
    margin-top: 20px;

    @include media-breakpoint-up(xl) {
        height: calc(100% + 200px);
        margin-top: 20px;
    }
}
