// stylelint-disable selector-max-type
.carousel {
    position: relative;
    display: none;
    padding-bottom: 20px;
}

.slick-slide:focus {
    outline: none;
}

.carousel-ready {
    display: block;
}

.carousel-item {
    height: 100%;
}

.carousel-control {
    display: none;
    font-size: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -45px;

    .carousel-ready & {
        display: block;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.slick-disabled {
        opacity: 0.5;

        // stylelint-disable-next-line
        svg,
        use {
            fill: #ccc;
        }
    }

    &:focus {
        box-shadow: none;
    }
}
