$testimonial-container-max-widths: (md: 720px, lg: 960px, xl: 1140px);

.testimonial {
    display: flex;
    opacity: 0;
    flex-direction: column;
    visibility: visible;

    // max-width: 450px;

    @each $breakpoint, $container-max-width in $testimonial-container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            margin-left: -$container-max-width / 12;
        }
    }
}

.testimonial-body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.testimonial-text {
    color: white;
    padding: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 20px;
    color: white;
    background-color: theme-color(primary);

    p {
        margin-bottom: 0px;
    }

    .icon {
        position: absolute;
        right: 100%;
        width: 30px;
        height: 30px;
        margin-right: -3px;
        bottom: 5px;

        svg,
        use {
            fill: theme-color(primary);
        }
    }
}

@each $name, $color in $theme-colors {
    .testimonial-#{$name} {
        .testimonial-text {
            background-color: $color;

            svg,
            use {
                fill: $color;
            }

            @if $name == "light" {
                color: $body-color;
            }
        }
    }
}

.testimonial-img {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: 1px solid $snow;
    margin-bottom: 5px;
    margin-right: $grid-gutter-width;

    @each $breakpoint, $container-max-width in $testimonial-container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            margin-right: $container-max-width / 12 - 44px;
        }
    }
}

.testimonial-footer {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-bottom: 0px;
    }
}

.testimonial-cite {
    display: block;
    color: $body-color;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
}

.testimonial-logo {
    max-height: 32px;
}

.testimonial-vertical {
    opacity: 1;
    margin-left: 0px;

    .testimonial-img {
        margin-right: 16px;
        margin-left: 50px;
    }

    .icon {
        transform: rotate(90deg) scaleX(-1);
        top: 100%;
        left: 20px;
        margin-top: -3px;
    }

    .testimonial-footer {
        justify-content: flex-start;
    }
}
