// #############################################################################
// TYPOGRAPHY
// Most font sizes are set with Bootstrap override in settings/Custom.sass
// Hrere are some additional type styles
// stylelint-disable selector-max-type

.is-breakable {
    word-break: break-word;
}

.display-1 {
    color: theme-color(primary);
    line-height: rem(60px);
}

.display-2 {
    color: theme-color(primary);
    line-height: rem(50px);
}

.display-3 {
    color: theme-color(primary);
    line-height: rem(44px);
}

.display-4 {
    color: theme-color(primary);
    line-height: rem(32px);
}

.lead {
    line-height: rem(32px);
    color: theme-color(secondary);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    color: theme-color(primary);
}

h5, .h5 {
    font-weight: 600;
    font-size: rem(24px);
    line-height: rem(30px);
    color: theme-color(primary);
}

h6, .h6 {
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(28px);
    letter-spacing: rem(1.8px);
    text-transform: uppercase;
    color: $body-color;
}

.h7 {
    color: theme-color(primary);
    font-size: rem(14px);
    letter-spacing: rem(1px);
    line-height: rem(20px);
    text-transform: uppercase;
}

.spitzmarke,
.spitzmarke-lg {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(12px);
    line-height: rem(20px);
    letter-spacing: rem(2px);
    color: theme-color(secondary);
    margin-bottom: rem(18px);
}

.spitzmarke-lg {
    font-size: rem(16px);
    letter-spacing: rem(5px);
    margin-bottom: 0px;
}

.section-link {
    align-items: center;
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: bold;
    line-height: rem(20px);

    .icon {
        margin-left: 15px;
        margin-right: 0px;
    }

    .icon-external {
        margin-top: -3px;
    }
}

p:last-child {
    margin-bottom: 0px;
}

.text-block {
    h2 {
        font-size: $h4-font-size;
    }

    h3 {
        font-weight: bold;
        font-size: rem(18px);
        line-height: rem(28px);
        letter-spacing: rem(1.8px);
        text-transform: uppercase;
        color: $body-color;
    }

    p, p:last-child {
        margin-bottom: 1.5rem;
    }
}
