name: django CMS frontend.yml

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: '24'

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm install
    - run: npm install -g gulp@latest
    - run: gulp unitTest
    - run: gulp lint
    - run: gulp icons
    - run: gulp sass
