{% load cms_tags %}<{{ instance.tag_type }} {% spaceless %}
    {% endspaceless %}{% if instance.id_name %} id="{{ instance.id_name }}"{% endif %}{% spaceless %}
    {% endspaceless %}{% if instance.class_name or instance.additional_classes %}class="{% spaceless %}
        {{ instance.class_name }}
        {{ instance.get_additional_classes }}
    {% endspaceless %}"{% endif %}{% spaceless %}
    {% endspaceless %}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}{{ instance.attributes_str }}>{% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}</{{ instance.tag_type }}>{% comment %}
    # The formatting of this file is very specific to remove unnecessary whitespaces
    # Available variables:
    {{ instance.label }}
    {{ instance.tag_type }}
    {{ instance.class_name }}
    {{ instance.additional_classes }} or {{ instance.get_additional_classes }}
    {{ instance.id_name }}
    {{ instance.attributes_str }}
    {{ instance.padding_top|right|bottom|left }} or {{ inline_styles }}
    {{ instance.margin_top|right|bottom|left }} oe {{ inline_styles }}
{% endcomment %}